/*$font-family-sans-serif: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif !default;
$font-family-base: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif !default;*/
body, html {
  height: 100%; }

.slot-machine-contain {
  height: 75%;
  width: 85%;
  position: absolute;
  top: 17%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  background-size: contain; }

.bigwin {
  width: 240px;
  margin: 0 auto; }
  @media screen and (max-width: 650px) {
    .bigwin {
      width: 140px; } }

.balloon {
  margin: 0 auto;
  width: 80px; }
  @media screen and (max-width: 650px) {
    .balloon {
      width: 50px; } }

.balloon-left {
  animation: up_down 3s infinite;
  animation-delay: 1.5s; }

.balloon-right {
  animation: up_down 3s infinite;
  animation-direction: reverse; }

@keyframes up_down {
  0% {
    transform: translateY(5px); }
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(5px); } }

.bulletin-board {
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  padding: 20px 50px;
  line-height: 1.5; }
  @media screen and (max-width: 650px) {
    .bulletin-board {
      font-size: 12px;
      padding: 20px; } }
  .bulletin-board .bulletin-title {
    color: #f8d1dd; }
  .bulletin-board .highlight {
    color: #FEE322;
    text-decoration: underline; }
  .bulletin-board ul li {
    list-style: decimal; }

.mb-bulletin-board {
  padding: 20px 8%;
  line-height: 1.5; }

.slot {
  width: 100%;
  min-height: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  @media screen and (max-width: 414px) {
    .slot {
      min-height: 58px; } }
  @media screen and (max-width: 320px) {
    .slot {
      min-height: 50px; } }

.slot-machine {
  width: 100%;
  height: 100%;
  border-radius: 0;
  position: relative;
  background-size: contain !important; }

.slot-machine-goods {
  width: 65%;
  height: 106px;
  border-radius: 0;
  position: absolute;
  top: 36%;
  right: 20.5%;
  bottom: auto;
  left: auto;
  margin: 0 auto;
  display: flex;
  overflow: hidden; }
  @media screen and (max-width: 414px) {
    .slot-machine-goods {
      top: 37.5%;
      height: 58px; } }
  @media screen and (max-width: 320px) {
    .slot-machine-goods {
      top: 37%;
      height: 50px; } }

.machineContainer {
  padding: 5px 1px 5px 1px;
  height: 135px; }

.randomizeMachine {
  width: 33%;
  margin: 0 auto;
  padding: 0 5%; }

.metal-frame {
  z-index: 1;
  width: 77%;
  position: absolute;
  top: auto;
  right: 14.5%;
  bottom: 11.2%;
  left: auto; }
  @media screen and (max-width: 650px) {
    .metal-frame {
      bottom: 12.5%; } }

.redeem-ticket {
  display: none;
  width: 20%;
  position: absolute;
  top: auto;
  right: 8%;
  bottom: 0;
  left: 0;
  margin: 0 auto; }
  @media screen and (min-width: 650px) {
    .redeem-ticket {
      bottom: 20%; } }

#randomizeButton {
  width: 26%;
  position: absolute;
  top: auto;
  right: -9%;
  bottom: 42%;
  left: auto; }
  @media screen and (max-width: 650px) {
    #randomizeButton {
      right: -8.5%;
      bottom: 42.5%; } }
  #randomizeButton a {
    position: relative;
    display: block; }

.shake {
  -webkit-animation: shake 4s ease;
  animation: shake 4s ease; }

.fell-out {
  -webkit-animation: coin 0.2s 4.2s 1 ease-out both;
  animation: fell-out 0.2s 4.2s 1 ease-out both;
  display: block !important; }

@-webkit-keyframes fell-out {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -1em) scale(1) rotateY(0) rotateX(0); }
  1% {
    opacity: 1; }
  100% {
    opacity: 1;
    -webkit-transform: translate(0.1em, 1em) scale(2) rotateY(1turn) rotateX(1turn); } }

@keyframes shake {
  0%, 7%, 90%, 95%, 100% {
    transform: translate(0, 0) rotate(0); }
  1%, 5%, 91%, 93% {
    transform: translate(0, 0.1em) rotate(0.2deg); }
  2%, 6%, 92%, 94% {
    transform: translate(0, -0.1em) rotate(-0.5deg); } }

#lever-stick {
  width: 28%;
  z-index: 300;
  transform-origin: bottom;
  position: relative;
  top: 0;
  margin: 0 auto; }

#lever-ball {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  width: 100px;
  z-index: 600;
  margin: 0 auto;
  width: 56%; }

.slot-machine-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62%;
  height: 30px;
  border-radius: 0;
  position: inherit;
  top: 12%;
  right: 3%;
  /*@include absolute(14%,6%,auto,0);*/
  overflow: hidden;
  margin: 0 auto; }
  @media screen and (min-width: 650px) {
    .slot-machine-panel {
      top: 13%; } }
  .slot-machine-panel h5 {
    color: #ff0;
    text-shadow: 0 0 1px #ff0, 0 0 1px #ff0;
    display: inline-block;
    padding-left: 100%;
    will-change: transform;
    animation: marquee 15s linear infinite; }

.award-box a {
  display: flex;
  align-items: center; }

.award-block {
  background: #f5f5f5;
  opacity: .9;
  padding: 10px 15px; }
  @media screen and (min-width: 650px) {
    .award-block {
      padding: 20px 50px; } }
  .award-block h2 {
    color: #EE5984;
    font-size: 14px;
    padding-bottom: 5px; }
    @media screen and (min-width: 650px) {
      .award-block h2 {
        font-size: 16px; } }

.award-slider-contain {
  background: #fff;
  overflow: hidden;
  border-radius: 15px; }
  .award-slider-contain ul {
    padding: 5px; }
    .award-slider-contain ul li {
      position: relative;
      padding: 5px;
      border-right: 1px dashed #BBBCBC; }

.award-info-box {
  padding: 10px 0; }
  .award-info-box .goods-name {
    font-size: 12px;
    color: #BBBCBC;
    height: 80px;
    overflow: hidden; }
  .award-info-box .goods-qty {
    white-space: nowrap;
    font-size: 12px;
    color: #689B94; }
    .award-info-box .goods-qty span {
      font-size: 18px; }

.award-goods, .award-info-box {
  position: relative; }

.award-goods {
  padding: 0 8px 0 0; }

.award {
  z-index: 1;
  width: 10%;
  position: absolute;
  left: 0;
  top: 0; }

ul.record-list li {
  position: relative;
  border-bottom: 1px solid #EBEBEB; }
  ul.record-list li:last-child {
    border-bottom: none; }

.redeemed {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  overflow: hidden; }
  .redeemed img {
    width: 95px;
    transform: translateY(11%); }

.best-award-contain {
  border: 11px solid #BC92FF;
  background: #FAEEFF;
  border-radius: 20px; }

.brands-wrapper {
  background: #F5E6FF; }

.brand-box-neme {
  background: #DFDCF9; }

.event-record-wrapper {
  background: #FAEEFF; }
  .event-record-wrapper .event-record-btn {
    background: #34344C; }

.award-goods-info {
  bottom: 4%; }
  @media screen and (min-width: 650px) {
    .award-goods-info {
      bottom: 6%; } }

.big-award .award-goods-info {
  bottom: 2.5%; }
  @media screen and (min-width: 650px) {
    .big-award .award-goods-info {
      bottom: 3.5%; } }

@keyframes marquee {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(-100%, 0); } }

.yellow-line {
  position: relative; }
  .yellow-line:before {
    content: "";
    height: 10px;
    position: absolute;
    content: "";
    background: #ff0;
    width: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    z-index: -1; }
