@mixin sidebar-nav {
  margin: 0;
  padding: 0;
}
@mixin no-box-shadow {
  box-shadow: none;
  -webkit-box-shadow: none;
}
@mixin product-tag {

  border-radius: 1px;
  padding: .1rem 1rem .1rem 1rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  width: 5.8rem;
  color: #fff;
  font-weight: bold;
  position: absolute;
  text-align: center;
}
@mixin responsive-logo {
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: -5px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 6px 0;
}
@mixin index-price {
    text-align: center;
    color: $hawooo-pink;
    font-weight: bold;
}
@mixin centered-img {
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@mixin scale-zero {
  display: none;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
}
@mixin scale-full {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}
@mixin section-base {
  padding: 15px 20px;
  margin-bottom: 15px;
  background: #fff;

  h5 {
    font-size: 16px;
  }
}
@mixin bonus-style {
  margin-bottom: 10px;

  input {
    height: 40px;
    border: 2px solid $dotted-grey;
    border-radius: 4px 0 0 4px;
    padding-left: 5px !important;
    outline-color: gold;
  }

  button {
    height: 40px;
    border-radius: 0 4px 4px 0;
    background-color: #f9898d;
    border: 2px solid #f9898d;
    color: #fff;
    outline: none;
    -webkit-transition: -webkit-box-shadow 0.2s;
    transition: -webkit-box-shadow 0.2s;
    transition: box-shadow 0.2s;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;

    &:active {
      -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.15);
      box-shadow: inset 0 3px 5px rgba(0,0,0,0.15);
    }
  }
}
@mixin input-style {
  height: 40px;
  border: 2px solid $dotted-grey;
  border-radius: 4px;
  padding-left: 5px !important;
  outline-color: gold;
}

@mixin select2-style($select2-name) {
  .#{$select2-name} {
    + .select2.select2-container.select2 {
      span.select2-selection--single {
        height: 40px;
        border: 2px solid $dotted-grey;

        .select2-selection__rendered {
          height: 100%;
          line-height: 36px;
        }
      span.select2-dropdown {
        z-index: 9999;
      }

        .select2-selection__arrow {
          height: 100%;
        }
      }

      span.select2-search__field {
        height: 40px;
      }

      &:first-of-type {
        margin-bottom: 10px;
      }
    }
  }
}

@mixin pinky-btn {
  border-radius: 4px;
  background-color: $pinky;
  color: #fff;
}

@mixin resize-li($margin,$bg-color) {
    position: relative;
    cursor: pointer;
    margin: $margin;
    background-color: $bg-color;
}

@mixin size($w,$h,$brs: 0) {
    width: $w;
    height: $h;
    border-radius: $brs;
}

@mixin font_style($fs,$fw,$fc) {
    font-size: $fs;
    font-weight: $fw;
    color: $fc
}

@mixin text-overflow($h,$line-clamp:2) {
    height: $h;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
}

@mixin absolute($top: auto,$right: auto,$bottom: auto,$left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

/*.content-text {
    font-size: 12px;
    font-weight: 500;
    color: $dark-gray;
}*/

%-all img {
    width: 100%;
}
