
@import "variables";
@import "mixins";

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ul-cart-steps > li {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  color: $medium-text-grey;
  border-bottom: 3px solid $icon-grey;
}

li.cart-step-active {
  border-bottom: 3px solid $reddish-fuchsia;
}

.wrapper-cart-products {
  margin-bottom: 15px;
}

.cart-step-active > .cart-step-text {
  color: $reddish-fuchsia;
  font-weight: bold;
}

.cart-step-text {
  font-size: 14px;
}

.cart-step-arrow {
  position: absolute;
  left: 0;
}
/* products list*/
.li-cart-product {
  border-bottom: 1px solid $soft-grey;

  &:last-of-type {
    border-bottom: none;
  }
}

.container-cart-product {
  padding: 10px;
  background: #fff;
}

.wrapper-img-cart-product {
  padding: 0 5px 0 0;
  text-align: center;
}

.img-cart-product {
  max-width: 130px;
  width: 80%;
}

.row-product-description {
  font-size: 14px;

  .container-product-spec {
    padding-left: 5px;
    padding-right: 15px;
  }
}

.wrapper-product-type {
  height: 22px;
  overflow: hidden;
}

.product-type {
  color: $medium-text-grey;
}

.single-item-price {
  color: $medium-text-grey;
}

.product-spec {
  margin-bottom: 2px;
  color: $pro-black;
}

.wrapper-item-total-price {
  text-align: right;
  padding-top: 5px;
}

.container-delete-item {
  text-align: right;
  color: $icon-grey;
}

.item-total-price {
  color: $reddish-fuchsia;
  font-weight: bold;
  font-size: 22px;
  padding-right: 15px;
}

.wrapper-product-spec {
  height: 48px;
  overflow: hidden;
}

.wrapper-product-qty {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

span.select2-selection.select2-selection--single {
  outline: none;
}

.select2-container--default
.select2-search--dropdown
.select2-search__field {
  outline-color:gold;
}

.wrapper-cart {
  @include section-base;
}

.wrapper-cart-promotion {
  font-size: 12px;

  a {
    color: $pro-black;

    h5 {
      font-size: 16px;
    }
  }

  .promotion-content {
    padding-right: 10px;
  }
}


.span-ok {
  color: $turquoise;
  border: 2px solid $turquoise;
  padding: 0 2rem;
  border-radius: 2px;
}

.promotion-name {
  margin-left: 1rem;
  font-size: 14px;
}

.promotion-item {
  margin-top: 5px;
  display:block;
  color: $pro-text-grey;
}

.promotion-free {
  font-size: 16px;
  font-weight: bold;
  color: $sky-blue;
  i {
    font-weight: bold;
    position: absolute;
    top: 5px;
  }
}

.promotion-free.arrow-left {
  margin-left: 5px;
}

.wrapper-input-coupon {
  @include bonus-style;
}

.wrapper-cart-eCash {
  @include bonus-style;
  margin-bottom: 0;

  h5 {
    display: inline-block;
  }
}


#select-coupon + .select2.select2-container {
  span.select2-selection--single {
      height: 40px;
      border: 2px solid $dotted-grey;

      .select2-selection__rendered {
        height: 100%;
        line-height: 36px;
      }
      .select2-selection__arrow {
        height: 100%;
      }
    }
  span.select2-search__field {
    height: 40px;
  }
}


.icon-panel {
  color: $fuchsia;
}

#dropdown-eCash {
  .sup-question-mark {
    display: inline-block;
    padding: 3px 6px;
    border-radius: 50%;
    background: $soft-grey;
    color: $medium-text-grey;
  }
}

#wrapper-cart-total {
  background: $soft-grey;
  margin-bottom: 0;
  .col-cart-total {
    text-align: right;
  }
}

.col-cart-total {
  .text-amount-type {

    color: $medium-text-grey;
  }
  .li-amount-credit {
    .amount-credit {
      text-transform: uppercase;
      color: $pro-black;
    }

  }
}

.row-total {
  text-transform: uppercase;
}

#text-total {
  color: $medium-text-grey;
}

#amount-total {
  color: $reddish-fuchsia;
}

#dropdown-shipping-fee {
  .sup-question-mark {
    display: inline-block;
    padding: 3px 6px;
    border-radius: 50%;
    background: #fff;
    color: $medium-text-grey;
  }
}

#wrapper-shipping-form {
  margin-bottom: 0;

  label {
    font-size: 14px;

    sup {
      color: red;
    }
  }

  input {
    &[type="text"] {
      @include input-style;
    }
    &[type="number"] {
      @include input-style;
    }
    &[type="email"] {
      @include input-style;
    }
  }
}

.select-state + .select2.select2-container.select2 {
  span.select2-selection--single {
      height: 40px;
      border: 2px solid $dotted-grey;

        .select2-selection__rendered {
          height: 100%;
          line-height: 36px;
        }
        .select2-selection__arrow {
          height: 100%;
        }
    }
  span.select2-search__field {
    height: 40px;
  }
  &:first-of-type {
    margin-bottom: 10px;
  }
}

.wrapper-buttons {
  text-align: center;
  margin-bottom: 5px;
  padding-top: 15px;
  border-top: 2px solid $soft-grey;
  .button-cart {
    display: inline-block;
    width: calc(50% - 3px);
    background: $fuchsia;
    height: 40px;
    line-height: 40px;
    span, i {
      text-transform: uppercase;
      font-weight: bold;
    }
    i {
      position: relative;
    }
  }
  .button-prev {
    background: #fff;
    border: 1px solid $strong-fuchsia;
    color: $strong-fuchsia;
    i {
      left: -14px;
    }
  }
  .button-next {
    background: $strong-fuchsia;
    border: 1px solid $strong-fuchsia;
    color: #fff;
    i {
      left: 14px;
    }
  }
}
