/* compileCompressed: ../css/$1.css*/

@import "variables";
@import "mixins";

#member-order-tab-wrapper {

  .member-order-tab {
    padding: 2rem 6%;

    li {
      &:first-of-type {
        a {
          border-radius: 10px 0 0 10px;
        }
      }
      &:last-of-type {
        a {
          border-radius: 0 10px 10px 0;
        }
      }
    }

    a {
      background-color: #fff;
      border: 1px solid $strong-fuchsia;
      color: $pro-black;

    }

    .am-active {
      a {
        background-color: $strong-fuchsia;
        border: 1px solid $strong-fuchsia;
        color: #fff;
      }
    }
  }

  .am-tabs-bd {
    background-color: #fff;
    border-top: 1px solid $icon-grey;
    border-bottom: 1px solid $icon-grey;
    border-left: none;
    border-right: none;
  }
  .member-order-list-link {
    display: block;
    font-size: 1.3rem;
    color: $mouse-grey;
  }

  .member-order-shop-list {
    padding:0;
    margin:0;

    .member-order-shop-li {
      padding: 1rem 0;
      border-bottom: 1px solid $dotted-grey;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  .member-order-buyer-list {
    padding:0;
    margin:0;

    .member-order-buyer-li {
      padding: 1rem 0;
      border-bottom: 1px solid $dotted-grey;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
  .member-order-data-list {
    padding:0;
    margin:0;
  }

  .member-order-data-row {
    height: 10rem;

  }

  .member-order-data-col {
    padding:0 .5rem;
  }

  .member-order-status-col {
    position: relative;
    text-align: center;
    padding: 0 .5rem;
    span {
      font-size: 1.5rem;
      color: $turquoise;
      font-weight: bold;
    }
    i {
      position:absolute;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      top: 42%;
      font-size: 3rem;
      color: $icon-grey;
    }
  }

  .member-order-item-total {
    color: red;
    font-size: 1.5rem;
    line-height: 1.3rem;
  }
  .member-order-status {
    padding-right: .5rem;
  }
}

#member-center-section {
  margin: 2rem 1rem;
  border: none;

  .am-panel-hd {
    background-color: #fff;
    color: $retro-green;
    border: 1px solid $dotted-grey;
    border-bottom: none;
  }

  .am-panel-bd {
    padding: 0;

    li {
      border: 1px solid $dotted-grey;
      border-bottom: none;
      &:nth-of-type(odd) {
        border-right: none;
      }
    }
  }

  .member-center-row {
    padding:.5rem 1rem;
    div {
      height: 5rem;
      position: relative;
    }

  }

  .member-center-icon {
    width:100%;
    max-width: 5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .member-center-subTitle {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0 1rem;
    color: $pro-black;
    font-size: 1.5rem;
  }
}
