@charset "UTF-8";
/* compileCompressed: ../css/$1.css*/
/* === COLORS ===*/
/*新品tag*/
/* === FONT ===*/
/* === SIZES ===*/
/* === BORDERS ===*/
body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page-main {
    margin-top: 45px !important;
}

.ul-cart-steps > li {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    color: #999999;
    border-bottom: 3px solid #c6c7c6;
}

li.cart-step-active {
    border-bottom: 3px solid #f54954;
}

.cart-step-active > .cart-step-text {
    color: #f54954;
    font-weight: bold;
}

.cart-step-text {
    font-size: 12px;
}

.cart-step-arrow {
    position: absolute;
    left: 0;
}

/* ===============購物超商品細節 product=============== */
/* products list*/
.wrapper-cart-products {
    margin: .5em auto;
}

    .wrapper-cart-products ul {
        margin: 0;
        padding: 0;
    }

.li-cart-product {
    padding: 10px 0px 0px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #f5f5f5;
}

    .li-cart-product:last-of-type {
        border-bottom: none;
    }


.s-product-table {
    width: 100%;
}

    .s-product-table td {
        padding: 0 0 0 10px;
        font-size: 10px;
    }

.s-product-title {
    max-width: 0;
}

    .s-product-title h3 {
        margin: 0;
        font-size: 13px;
        font-weight: 500;
        color: #565656;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

.s-product-spec {
    max-width: 0;
    font-size: .9em;
    font-weight: normal;
    line-height: 2em;
    color: #999999;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.s-product-up {
    font-size: .9em;
    color: #999999;
}

.cart2-total {
    float: right;
    margin-right: 10px;
    color: #FB5450;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.5em;
}

.cart2-coupon {
    display: inline-block;
    height: 33px;
    width: 26vw;
    min-width: 75px;
    max-width: 90px;
    font-size: .85em;
    line-height: 33px;
    text-align: center;
    color: #565656;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    background: #f9f9f9;
}

.s-product-img {
    width: 28%;
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    .s-product-img {
        width: 12%;
    }
}

@media screen and (min-width: 1025px) {
    .s-product-img {
        width: 15%;
    }
}

.s-product-img img {
    width: 100%;
}

.s-product-habi {
    font-size: .9em;
}

    .s-product-habi img {
        margin: 0 5px 3px 0;
        width: 18px;
    }

    .s-product-habi p {
        display: inline-block;
        margin: 0;
        color: #FB5450;
        font-size: 100%;
    }

.s-product-qty select {
    display: block;
    /*-webkit-appearance: none;*/
    position: relative;
    width: 100%;
    height: 33px;
    border-radius: 5px;
    border-color: #eaeaea;
    font-weight: normal;
    text-align: center;
    text-align-last: center;
    background: transparent;
    color: #565656;
    z-index: 100;
}

    .s-product-qty select:focus {
        outline-color: #FB5450;
        outline-width: 2px;
    }

.s-product-qty td {
    padding-top: 5px;
}

.s-product-total {
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
    color: #FB5450;
}

    .s-product-total .s-main-total {
        margin: 0 5px 0 0;
    }

@media screen and (min-width: 640px) {
    .s-product-total .s-main-total {
        padding-right: 8%;
    }
}

.s-product-total .s-coupon-btn {
    padding: 0;
    font-size: .7em;
    height: 33px;
    line-height: 33px;
    width: 25vw;
    min-width: 75px;
    max-width: 90px;
    border-radius: 5px;
    margin-bottom: 2px;
}

.s-product-total .grey-btn {
    border: 1px solid #ddd;
}

.s-product-delete {
    padding: 0 !important;
    vertical-align: top;
    text-align: center;
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    .s-product-delete {
        width: 8%;
    }
}

@media screen and (min-width: 1025px) {
    .s-product-delete {
        width: 8%;
    }
}

.s-product-delete a {
    color: #565656;
}

.s-select-wrapper {
    position: relative;
}

    .s-select-wrapper label {
        margin: 0;
        width: 100%;
    }

        .s-select-wrapper label:after {
            content: '▾';
            display: block;
            position: absolute;
            top: 3px;
            bottom: 0;
            right: 5px;
            color: #999999;
            z-index: 100;
        }

/*＝＝＝＝＝預購通知 notify start＝＝＝＝＝*/
.s-product-notify {
    color: #565656;
    font-size: .85em;
}

    .s-product-notify td {
        padding: 5px 10px 0 10px;
    }

    .s-product-notify i {
        margin: 0 5px 0 0;
    }

    .s-product-notify div {
        padding: 3px;
        background: #f9f9f9;
    }

/*＝＝＝＝＝預購通知 notify end＝＝＝＝＝*/
/*＝＝＝＝＝活動通知 activity start＝＝＝＝＝*/
.s-product-activity {
    font-size: .85em;
    /*div{
    padding:3px;
    background: $softest-grey;
  }
  td{
    padding:5px 10px 0 10px;
  }
  i{
    margin:0 5px 0 0;
  }*/
}

    .s-product-activity h5 {
        display: inline-block;
        margin: 0;
        font-weight: normal;
        color: #95D7DA;
    }

    .s-product-activity a {
        color: #565656;
        text-decoration: underline;
    }

    .s-product-activity.not-match h5 {
        color: #ff0068;
    }

    .s-product-activity.not-match a {
        color: #ff0068;
    }

/*＝＝＝＝＝活動通知 activity end＝＝＝＝＝*/
.wrapper-cart {
    background: white;
    margin-top: 10px;
    /*margin: 10px 0px;*/
    /*margin: 1em 12px;*/
}

/*==============滿額贈 PREMIUM start================*/
.wrapper-cart-promotion {
    margin-top: 15px;
    padding: 0;
    font-size: 12px;
}

    .wrapper-cart-promotion h5 {
        margin: 0;
        padding: 8px 0;
        text-align: center;
        color: white;
        font-size: 17px;
        font-weight: normal;
        background: #95D7DA;
    }

/*table*/
.promotion-table {
    padding: 10px 5px;
    border-bottom: 1px solid #eaeaea;
    font-size: 12px;
}

    .promotion-table a {
        color: #707070;
    }

    .promotion-table:last-child {
        border: none;
    }

.promotion-img {
    width: 25%;
}

@media screen and (min-width: 640px) {
    .promotion-img {
        width: 10%;
    }
}

.promotion-img img {
    width: 100%;
}

.promotion-content {
    padding: 0 0 0 5px;
    /*width: 75%;*/
    vertical-align: top;
}

    .promotion-content h4 {
        margin: 0;
        padding: 0;
        font-size: 1.2em;
        font-weight: bold;
    }

    .promotion-content h5 {
        margin: 0;
        padding: 0;
        text-align: left;
        font-size: .9em;
        background: white;
        color: #999999;
    }

    .promotion-content p {
        margin: 0;
        padding: 0;
        font-size: .9em;
        color: #999999;
    }

.promotion-tag {
    width: 25%;
    padding: 3px;
    min-width: 70px;
}

@media screen and (min-width: 640px) {
    .promotion-tag {
        width: 10%;
    }
}

.span-ok {
    display: inline-block;
    width: 100%;
    text-align: center;
    /*height: 24px;*/
    line-height: 28px;
    background-color: #48A38E;
    vertical-align: middle;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 12px;
}



.span-notok {
    display: inline-block;
    width: 100%;
    text-align: center;
    /* height: 28px; */
    line-height: 28px;
    background-color: #ffffff;
    vertical-align: middle;
    color: #EE5984;
    border: 1px solid #EE5984;
    border-radius: 2px;
    font-size: 12px;
}



/*==============滿額贈 PREMIUM end================*/
/*通用input style*/
.s-input-style {
    border: 1px solid #eaeaea;
    border-radius: 2px;
    height: 35px;
}

    .s-input-style:focus {
        outline-color: #FB5450;
        outline-width: 2px;
    }

/*==============habi start================*/
.cart-habi {
    font-size: 12px;
    background: white;
}

.cart-habi-title, .cart-coupon-title, .cart-eCash-title, .shipping-notify-title {
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #eaeaea;
    color: #565656;
}

    .cart-habi-title img, .cart-coupon-title img, .cart-eCash-title img, .shipping-notify-title img {
        padding: 0 0px 5px 0;
        margin: 0 5px 0 0;
        width: 20px;
    }

    .cart-habi-title h4, .cart-coupon-title h4, .cart-eCash-title h4, .shipping-notify-title h4 {
        display: inline-block;
        margin: 0;
        font-size: 1em;
        font-weight: normal;
    }

    .cart-habi-title span, .cart-coupon-title span, .cart-eCash-title span, .shipping-notify-title span {
        margin: 0 0 0 5px;
        font-size: .8em;
    }

.cart-habi-content table {
    margin: auto;
}

@media screen and (min-width: 640px) {
    .cart-habi-content table {
        float: right;
        margin-right: 1em;
    }
}

.cart-habi-content td {
    padding: 5px 0;
}

.cart-habi-content input[type="radio"] {
    margin: 0 5px 0 0;
}

.cart-habi-content label {
    font-weight: normal;
    font-size: .9em;
    color: #565656;
}

/*==============habi end================*/
/*==============優惠券 start================*/
.cart-coupon-title i {
    margin: 0 5px 0 0;
}

.cart-coupon-content {
    padding: 1em 1em;
}

    .cart-coupon-content select {
        position: relative;
        width: 100%;
        height: 35px;
        border: 1px solid #eaeaea;
        background: transparent;
        border-radius: 2px;
        z-index: 50;
    }

        .cart-coupon-content select:focus {
            outline-color: #FB5450;
            outline-width: 2px;
        }

    .cart-coupon-content label {
        position: relative;
        font-weight: normal;
        color: #999999;
    }

        .cart-coupon-content label:after {
            content: '▾';
            display: block;
            position: absolute;
            top: 5px;
            bottom: 0;
            right: 10px;
            color: #999999;
            z-index: 100;
        }

.input-coupon {
    -webkit-appearance: none;
    height: 35px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
}

    .input-coupon:focus {
        outline-color: #FB5450;
        outline-width: 2px;
    }

.submit-coupon {
    height: 35px;
    border: none;
}

.wrapper-select-coupon {
    margin-top: 5px;
}

    .wrapper-select-coupon select {
        /*-webkit-appearance: none;*/
    }

.unselect-coupon {
    height: 35px;
    background: #eaeaea;
}

/*==============優惠券 end================*/
/*==============購物金 start================*/
.cart-eCash-title i {
    margin: 0 5px 0 0;
}

.wrapper-input-eCash, .wrapper-shipping {
    padding: 1em 1em !important;
}
/*.wrapper-input-eCash input, .wrapper-shipping input {
  -webkit-appearance: none;
}*/

/*==============購物金 end================*/
/*==============運費說明 start================*/
.shipping-notify-title i {
    margin: 0 5px 0 0;
}

.wrapper-shipping p {
    margin: 0;
    text-align: center;
    font-size: .9em;
    color: #565656;
}

@media screen and (min-width: 640px) {
    .wrapper-shipping p {
        float: right;
    }
}

/*==============運費說明 end================*/
/*==============總金額table start================*/
.wrapper-price {
    position: relative;
}

    .wrapper-price table {
        width: calc(100% - 20px);
        text-align: right;
        margin: 0 10px;
    }

    .wrapper-price tr:last-child {
        border: none;
    }

    .wrapper-price td {
        padding: 10px;
        font-size: .9em;
        color: #565656;
        border-bottom: 1px solid #eaeaea;
    }

    .wrapper-price .price-td {
        font-size: 1em;
        color: #FB5450;
    }

@media screen and (min-width: 640px) {
    .wrapper-price .price-td {
        width: 40%;
    }
}

/*真的總金額*/
.price-total {
    width: 100%;
    height: 45px;
    background: #f7588c;
    color: white;
    font-size: .9em;
    text-align: center;
    line-height: 45px;
}

    .price-total span {
        font-weight: 500;
        font-size: 1.3em;
    }

/*==============總金額table end================*/
/*==============購物車tab start================*/
/*當前tab的active*/
.shopping-cart-tab {
    position: fixed;
    top: 55px;
    height: 45px;
    width: 100vw;
    background: #ee4c78;
}

    .shopping-cart-tab img {
        width: 25px;
        margin: 0 5px 7px 0;
    }

    .shopping-cart-tab ul {
        position: relative;
        margin: 0;
        padding: 0;
    }

    .shopping-cart-tab li {
        position: absolute;
        padding-top: 5px;
        width: 50%;
        line-height: 35px;
        font-weight: 500;
        color: white;
        text-align: center;
        background: #cacaca;
    }

        .shopping-cart-tab li.active {
            /*當前tab的active*/
            background: #ee4c78;
            z-index: 999;
            color: white;
        }

            .shopping-cart-tab li.active p {
                background: #32AEE7;
            }

    .shopping-cart-tab a:first-child li {
        left: 0;
    }

        .shopping-cart-tab a:first-child li.active:after {
            content: '';
            position: absolute;
            right: -30px;
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 45px 0 0 30px;
            border-color: transparent transparent transparent #ee4c78;
        }

    .shopping-cart-tab a:last-child li {
        right: 0;
    }

        .shopping-cart-tab a:last-child li.active:after {
            content: '';
            position: absolute;
            left: -30px;
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 45px 30px;
            border-color: transparent transparent #ee4c78 transparent;
        }

    .shopping-cart-tab span {
        position: absolute;
        top: 40px;
        left: 0px;
        width: 105vw;
        height: 5px;
        background: #ee4c78;
    }

    .shopping-cart-tab p {
        display: inline-block;
        margin: 0 5px;
        border-radius: 50%;
        line-height: 25px;
        width: 25px;
        height: 25px;
        background: #bdbdbd;
        color: white;
    }

/*==============購物車tab end================*/
/*==============coupon modal start================*/
.coupon-modal {
    /*position: absolute;*/
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto !important;
    width: 90vw;
    min-width: 300px;
    height: 80vh;
    color: #565656;
}

    .coupon-modal .am-modal-hd {
        background: #f5f5f5;
    }

    .coupon-modal .am-modal-bd {
        padding: 5px;
    }

    .coupon-modal .am-modal-dialog {
        background: white;
    }

.coupon-discription {
    margin: 5px 0;
    font-size: .8em;
}

.c-table-body {
    overflow: auto;
    -ms-overflow-style: none;
    max-height: 50vh;
}

    .c-table-body::-webkit-scrollbar {
        display: none;
    }

.coupon-table {
    width: 100%;
    font-size: 1em;
    border-bottom: 1px solid #eaeaea;
}

    .coupon-table.selected {
        background: #F9F3F7;
    }

    .coupon-table.coupon-disabled {
        background: #f9f9f9;
    }

.s-coupon-input {
    width: 10%;
    padding: 0 5% 05px;
    font-size: .75em;
    color: #ff0068;
    line-height: 15px;
    vertical-align: middle;
    border-bottom: 1px solid #eaeaea;
}

.s-coupon-minus {
    text-align: left;
    padding-top: 5px;
}

    .s-coupon-minus span {
        color: #FB5450;
    }

.s-coupon-text {
    padding: 0 5px 5px 0;
    text-align: left;
    font-size: .9em;
}

.s-coupon-date {
    padding: 5px 0 0 5px;
    text-align: left;
    font-size: .8em;
    color: #9d9597;
    vertical-align: top;
}

    .s-coupon-date.d-title {
        vertical-align: middle;
        width: 16%;
    }

.coupon-table-btn {
    margin-top: 10px;
}

    .coupon-table-btn .am-btn {
        width: 100px;
        margin: 10px;
    }

/*==============coupon modal end================*/
/*=====================以下是以前的css請先忽略=========================*/
/*=====================以下是以前的css請先忽略=========================*/
/*=====================以下是以前的css請先忽略=========================*/
/*#wrapper-shipping-form {
  margin-bottom: 0;
  label {
    font-size: 14px;

    sup {
      color: red;
    }
  }

  input {
    &[type="text"] {
      @include input-style;
    }
    &[type="number"] {
      @include input-style;
    }
    &[type="email"] {
      @include input-style;
    }
  }
}*/
.select-state + .select2.select2-container.select2 span.select2-selection--single {
    height: 40px;
    border: 2px solid #eaeaea;
}

    .select-state + .select2.select2-container.select2 span.select2-selection--single .select2-selection__rendered {
        height: 100%;
        line-height: 36px;
    }

    .select-state + .select2.select2-container.select2 span.select2-selection--single .select2-selection__arrow {
        height: 100%;
    }

.select-state + .select2.select2-container.select2 span.select2-search__field {
    height: 40px;
}

.select-state + .select2.select2-container.select2:first-of-type {
    margin-bottom: 10px;
}

.wrapper-buttons {
    text-align: center;
    margin-bottom: 5px;
    /*padding-top: 15px;*/
    border-top: 2px solid #f5f5f5;
}

    .wrapper-buttons .button-cart {
        display: inline-block;
        width: calc(47%);
        background: #EE5984;
        height: 42px;
        line-height: 42px;
    }

        .wrapper-buttons .button-cart span, .wrapper-buttons .button-cart i {
            text-transform: uppercase;
            font-weight: bold;
        }

        .wrapper-buttons .button-cart i {
            position: relative;
        }

    .wrapper-buttons .button-prev {
        background: #fff;
        border: 1px solid #ff0068;
        color: #ff0068;
    }

        .wrapper-buttons .button-prev i {
            left: -14px;
        }

    .wrapper-buttons .button-next {
        background: #ff0068;
        border: 1px solid #ff0068;
        color: #fff;
    }

        .wrapper-buttons .button-next i {
            left: 14px;
        }

.wrapper-cart-offer-products {
    margin-bottom: 15px;
}

    .wrapper-cart-offer-products .li-cart-product {
        border-bottom: 2px solid #fff;
    }

    .wrapper-cart-offer-products .container-cart-product {
        background: #f9f9f9;
    }

/* cart 3*/
.order-confirm-wrapper {
    background-color: #fff;
}

.order-confirm-text-wrapper {
    text-align: center;
    border: none;
    background-color: inherit;
    word-break: normal;
}

.order-confirm-thanks {
    font-size: 2.3rem;
}

.order-confirm-thanks-EN {
    font-size: 2rem;
    color: black;
}

.order-confirm-suggestion {
    font-size: 1.7rem;
}

.order-confirm-suggestion-EN {
    font-size: 1.4rem;
    font-style: normal;
}

.order-confirm-order-number {
    font-size: 1.4rem;
    color: #999999;
}

.cart-pay-info {
    margin-top: 2rem;
}

.cart-pay-panel-hd.am-panel-hd {
    background-color: #fff !important;
    border: none;
}

    .cart-pay-panel-hd.am-panel-hd h3 {
        padding: .5rem 0;
        border-bottom: 1px solid #eaeaea;
    }

.cart-pay-atm {
    font-size: 1.5rem;
    font-weight: bold;
    color: #7be5d7;
    display: inline-block;
    border: 2px solid #7be5d7;
    padding: 0px 15px;
}

.cart-pay-bank-name {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #565656;
}

.cart-pay-bank-sub-name {
    font-size: 1.4rem;
    color: #737373;
    font-weight: bold;
}

.cart-pay-bank-account {
    font-size: 1.4rem;
    color: #737373;
    font-weight: bold;
}

.cart-pay-final-message {
    font-size: 1.4rem;
    color: #565656;
}

.payment-methods {
    margin: 0;
    padding-bottom: 1rem;
    /*border-top: 2px solid #f5f5f5;
    padding-top: 2rem;*/
}

.payment-methods-option-icon {
    width: 3.5rem;
    margin-right: 1rem;
}

.payment-methods-category-li {
    border-bottom: 1px solid #eaeaea !important;
    padding: 2rem 0;
}

    .payment-methods-category-li:last-of-type {
        border-bottom: none !important;
        padding-bottom: 0;
    }

.payment-methods-category-title {
    padding-left: .6rem;
    font-weight: bold;
}

.payment-title {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

.payment-methods .am-active .am-accordion-title.payment-methods-subTitle {
    background-color: #f9f9f9;
}

.payment-methods-choice-active {
    border: 1px solid #ff0068 !important;
    -webkit-box-shadow: rgba(255, 0, 104, 0.5) 0px 0px 7px 1px;
    box-shadow: rgba(255, 0, 104, 0.5) 0px 0px 7px 1px;
}

    .payment-methods-choice-active:after {
        font-family: FontAwesome;
        content: "\f058";
        position: absolute;
        color: #f9898d;
        text-align: center;
        font-size: 2.2rem;
        right: .3rem;
        bottom: -.5rem;
    }

.payment-methods-choices {
    margin-top: .5rem;
}

.payment-methods-choice-li {
    position: relative;
    padding: .5rem;
    margin: .5rem;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #eaeaea;
}

.payment-methods-choice-li-avg-1 {
    width: calc(100% - 1rem) !important;
}

.payment-methods-choice-li-avg-2 {
    width: calc(50% - 1rem) !important;
}

.payment-methods-label {
    display: block;
    font-weight: normal;
    margin: 0;
}

.payment-methods input[type="radio"] {
    display: none;
}

.payment-methods-img-wrapper {
    height: 7rem;
    text-align: center;
}

.payment-methods-bank-info {
    height: auto;
}

.payment-methods-credit-card {
    width: 100%;
    max-width: 16rem;
}

.payment-methods-online-logo {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.payment-methods-affin-bank {
    width: 100%;
    max-width: 11rem;
}

.payment-methods-am-online {
    width: 100%;
    max-width: 11rem;
}

.payment-methods-cimb-clicks {
    width: 100%;
    max-width: 10.5rem;
}

.payment-methods-esa-pay {
    width: 100%;
    max-width: 11rem;
}

.payment-methods-fpx-business {
    width: 100%;
    max-width: 10rem;
}

.payment-methods-hong-leong {
    width: 100%;
    max-width: 11rem;
}

.payment-methods-maybank {
    width: 100%;
    max-width: 11rem;
}

.payment-methods-rhb-now {
    width: 100%;
    max-width: 11rem;
}

.payment-methods-web-cash {
    width: 100%;
    max-width: 10rem;
}

.payment-methods-7-eleven {
    width: 100%;
    max-width: 6rem;
}


/*switch*/
.onoffswitch {
    position: relative;
    width: 75px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
    }

    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 10px;
        background-color: #F7588C;
        color: #FFFFFF;
    }

    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 10px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
    }

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 41px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.total-txt {
    color: #707070;
    font-size: 12px;
}

.total-price {
    font-size: 14px;
    color: #F0648F;
    font-weight: bold;
}

.total-title {
    font-size: 14px;
    color: #212121;
    font-weight: bold;
}


.ship-addr {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    display: block;
    float: right
}

@media only screen and (max-width : 320px) {
    .ship-addr {
        width: 160px;
    }
}


.ship-title {
    font-weight: bold;
}

.sel-goods-coupon {
    font-size: 12px;
    height: 20px;
    width: 55px;
    border-radius: 7px;
    border: 1px solid #F0648F;
    color: #F0648F;
    padding: 2px;
    background-color: white;
}

.used-goods-coupon {
    font-size: 12px;
    height: 20px;
    width: 55px;
    border-radius: 7px;
    border: 1px solid #48A38E;
    color: #48A38E;
    padding: 2px;
    background-color: white;
}

.div-auto-discount {
    font-size: 12px;
    padding-left: 10px;
    background-color: #FAFAFA;
    height: 30px;
    width: 100% !important;
    line-height: 30px;
}

    .div-auto-discount .ad-ok {
        color: #49A38E;
    }

    .div-auto-discount .ad-ok-name {
        color: #707070;
        text-decoration: underline;
    }

    .div-auto-discount .ad-no-ok {
        color: #ff0068;
    }

    .div-auto-discount .ad-nook-name {
        color: #FF0068;
        text-decoration: underline;
    }

.more-title {
    text-align: center;
    color: #707070;
    font-size: 13px;
}

select {
    text-align: center;
    text-align-last: center;
}

p {
    margin: 0px;
}

.DropDownStyle {
    height: 40px;
    border: 2px solid #eaeaea;
    color: #757575;
}

.am-selected {
    width: 100%;
}

.ship-info {
    width: 100%;
    clear: both;
    padding-top: 10px;
    padding-bottom: 60px;
}

.iframe-rwd {
    position: relative;
    padding-top: 30px;
    height: 100%;
}

    .iframe-rwd iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
