@charset "UTF-8";
/* compileCompressed: ../css/$1.css*/
/* === COLORS ===*/
/*新品tag*/
/* === FONT ===*/
/* === SIZES ===*/
/* === BORDERS ===*/
/* products-story (產品說明）*/
/* line 10, ../scss/gruop_buying_category.scss */
.products-story {
  padding: 0;
  background: #f5f5f5;
  margin-bottom: 0;
}
/* line 14, ../scss/gruop_buying_category.scss */
.products-story p {
  font-size: .8em;
  background: white;
  display: inline-block;
  padding: 10px;
  margin: 0;
}

/*下方區標題*/
/* line 26, ../scss/gruop_buying_category.scss */
.index-section-title {
  height: 50px;
  line-height: 50px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  color: #737373;
  border-bottom: 2px dotted #eaeaea;
}
/* line 34, ../scss/gruop_buying_category.scss */
.index-section-title i {
  margin-right: 5px;
}

/*下方區外層*/
/* line 40, ../scss/gruop_buying_category.scss */
.index-section-wrapper {
  background: white;
  margin-top: 10px;
  padding: 0 5px 10px 5px;
}
/* line 44, ../scss/gruop_buying_category.scss */
.index-section-wrapper ul {
  margin: 0;
  padding: 0;
}
/* line 47, ../scss/gruop_buying_category.scss */
.index-section-wrapper ul li {
  border: 1px solid #eaeaea;
  position: relative;
}
/* line 50, ../scss/gruop_buying_category.scss */
.index-section-wrapper ul li .index-items-pic {
  position: relative;
}
/* line 52, ../scss/gruop_buying_category.scss */
.index-section-wrapper ul li .index-items-pic img {
  width: 100%;
}
/* line 56, ../scss/gruop_buying_category.scss */
.index-section-wrapper ul li .index-items-text {
  padding: 5px;
}
/* line 58, ../scss/gruop_buying_category.scss */
.index-section-wrapper ul li .index-items-text h3 {
  margin: 0;
  height: 43px;
  overflow: hidden;
  font-size: 0.85em;
  font-weight: normal;
  color: #565656;
}
/* line 66, ../scss/gruop_buying_category.scss */
.index-section-wrapper ul li .index-items-text h4 {
  margin: 0;
  display: inline-block;
  color: #FB5450;
  font-size: 1.1em;
}
/* line 72, ../scss/gruop_buying_category.scss */
.index-section-wrapper ul li .index-items-text p {
  margin: 0 0 0 5px;
  display: inline-block;
  font-size: 0.7em;
  color: #999999;
}
/* line 78, ../scss/gruop_buying_category.scss */
.index-section-wrapper ul li .index-items-text .commet-n-star {
  height: 25px;
  line-height: 25px;
}
/* line 81, ../scss/gruop_buying_category.scss */
.index-section-wrapper ul li .index-items-text .commet-n-star i {
  color: #999999;
  font-size: 0.7em;
}
/* line 85, ../scss/gruop_buying_category.scss */
.index-section-wrapper ul li .index-items-text .commet-n-star p {
  margin: 0;
}
/* line 88, ../scss/gruop_buying_category.scss */
.index-section-wrapper ul li .index-items-text .commet-n-star .p-stars {
  display: inline-block;
}
/* line 90, ../scss/gruop_buying_category.scss */
.index-section-wrapper ul li .index-items-text .commet-n-star .p-stars ul {
  font-size: 18px;
  color: #FEC126;
  display: inline-block;
}
/* line 94, ../scss/gruop_buying_category.scss */
.index-section-wrapper ul li .index-items-text .commet-n-star .p-stars ul li {
  font-size: .7em;
  width: auto;
  height: auto;
  margin: 0 0 0 2px;
  border: 0;
  padding: 0;
}
/* line 103, ../scss/gruop_buying_category.scss */
.index-section-wrapper ul li .index-items-text .commet-n-star .p-stars p {
  margin: 0 0 0 5px;
  font-size: 0.7em;
  display: inline-block;
  color: #999999;
}

/*熱銷商品*/
/* line 119, ../scss/gruop_buying_category.scss */
.hot-sale li {
  width: calc(50% - 10px);
  margin: 10px 5px 0 5px;
  border: 1px solid #aaa;
}
