
.menu-img01 {	
	width:45px;
    height:45px;
    margin: 0 auto;
	background-position:   0    0 !important;
    background:url(../../images/menu-icon.png) no-repeat left top;
}
.menu-img02 {	
	width:45px;
    height:45px;
    margin: 0 auto;
	background-position: -45px  0 !important;
    background:url(../../images/menu-icon.png) no-repeat left top;
}
.menu-img03 {	
	width:45px;
    height:45px;
    margin: 0 auto;
	background-position: -90px 0 !important;
    background:url(../../images/menu-icon.png) no-repeat left top;
}
.menu-img04 {	
	width:45px;
    height:45px;
    margin: 0 auto;
	background-position: -135px 0 !important;
    background:url(../../images/menu-icon.png) no-repeat left top;
}
.menu-img05 {	
	width:45px;
    height:45px;
    margin: 0 auto;
	background-position: -180px 0 !important;
    background:url(../../images/menu-icon.png) no-repeat left top;
}

.menu-span{
    margin: 0;
}

