

@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);

/* 首頁中間商品 */
.desktop-content {
    margin-top: 140px;
    display: block;
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.mid-slick p {
    margin: 0px;
}

.mid-slick .title {
    font-size: 12px;
    color: #6f6957;
}

.mid-slick .price {
    text-align: right;
    color: #ff0000;
    padding-right: 5px;
    padding-left: 25px;
}

.mid-slick .oldprice {
    text-align: left;
    color: #808080;
    text-decoration: line-through;
}


.titlebar {
    color: #5ba1c2;
    border-bottom-style: solid;
    border-bottom-width: medium;
    margin: 10px;
    font-size: 20px;
}

    .titlebar o {
        font-size: 14px;
    }

.titlebar2 {
    color: #a89e83;
    border-bottom-style: solid;
    border-bottom-width: medium;
    margin: 10px;
    font-size: 20px;
}

    .titlebar2 o {
        font-size: 14px;
    }

/*商品明細*/
.detail_title {
    font-size: 18px;
    color: #ff006e;
    padding-left: 1.5rem;
}

.detail_price {
    /*background-color: #faea56;*/
    font-size: 18px;
    height: 42px;
    color: #EF3479;
}

.detail_from_info {
    line-height: 30px;
    text-align: left;
    padding-left: 1.5rem;
}

.detail_button {
    text-align: center;
}
/*商品列表CSS開始*/
.gallery-title a {
    font-size: 14px;
    line-height: 12px;
}

.gallery-time {
    font-size: 12px;
    padding: 0px 5px;
    text-align: center;
    background-color: rgb(128,147,192);
    background-color: #d2d2d2;
    color: #FFF;
}

.moneyoldspan {
    text-decoration: line-through;
    color: #808080;
    padding-left: 5px;
}

.moneyspan {
    padding-left: 5px;
    color: #b3b3b3;
    font-size: 12px;
    margin-right: 2px;
    /*font-weight: bold;*/
}

.moneyspan_brands img {
    width: 72px;
    margin: 0 auto;
    text-align: center;
    margin-left: 20px;
}

.money_txt_style {
    color: #f54954;
    font-size: 15px;
    font-weight: bold;
}

.money_txt_up {
    color: #f54954;
    font-size: 12px;
    font-weight: normal;
    margin-left: 2px;
}

.moneybtn {
    float: right;
}

.listbrand {
    color: #ffd800;
}

.product li {
    padding-right: 5px;
    margin-bottom: 5px;
}

.product .pitem {
    margin: 0px;
    padding: 2px;
    border-color: #FFF;
    /*border-color: rgb(212,212,212);*/
    -webkit-transform: translateZ(0);
}

    .product .pitem:hover {
        padding: 0px;
        border: 5px solid #cbcbcb;
        transition: border 0.2s linear 0s, color 0.2s linear 0s, background-color 0.2s linear 0s;
        -webkit-transform: translateZ(0);
    }

.product .am-panel-bd {
    padding: 2px;
}

.product_title {
    background-color: #EF3479;
    font-size: 26px;
    color: #ffffff;
    height: 60px;
    text-align: center;
    padding-top: 10px;
}

    .product_title a {
        color: #ffffff;
    }

        .product_title a:hover {
            color: #f9f2f2;
        }

.gallery-title {
    font-size: 14px;
    margin-left: 5px;
    height: 42px;
    overflow: hidden;
}

    .gallery-title a {
        color: #6F6957;
    }

.gallery-detail {
    padding-top: 4px;
    height: 34px;
    border-top: 1px solid #E9E9E9;
}
/*商品CSS列表結束*/


/*Search*/
.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

/*-------------------------------------*/

.form-wrapper {
    width: 450px;
    /*padding: 15px;*/
    /*margin: 150px auto 50px auto;*/
    background: #444;
    background: rgba(0,0,0,.2);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

    .form-wrapper input {
        width: 340px;
        height: 40px;
        padding: 10px 5px;
        float: left;
        font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
    }

        .form-wrapper input:focus {
            outline: 0;
            background: #fff;
            -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
            -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
            box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        }

        .form-wrapper input::-webkit-input-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
        }

        .form-wrapper input:-moz-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
        }

        .form-wrapper input:-ms-input-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
        }

    .form-wrapper button {
        overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 110px;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #d83c3c;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
        text-shadow: 0 -1px 0 rgba(0, 0,0, .3);
    }

        .form-wrapper button:hover {
            background: #e54040;
        }

        .form-wrapper button:active,
        .form-wrapper button:focus {
            background: #c42f2f;
        }

        .form-wrapper button:before {
            content: '';
            position: absolute;
            border-width: 8px 8px 8px 0;
            border-style: solid solid solid none;
            border-color: transparent #d83c3c transparent;
            top: 12px;
            left: -6px;
        }

        .form-wrapper button:hover:before {
            border-right-color: #e54040;
        }

        .form-wrapper button:focus:before {
            border-right-color: #c42f2f;
        }

        .form-wrapper button::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

/*.am-panel-default {
    border-color: #fff;
}

    .am-panel-default > .am-panel-hd {
        color: #444444;
        background-color: #fff;
        border-color: #fff;
    }

        .am-panel-default > .am-panel-hd + .am-panel-collapse > .am-panel-bd {
            border-top-color: #fff;
        }

    .am-panel-default > .am-panel-footer + .am-panel-collapse > .am-panel-bd {
        border-bottom-color: #fff;
    }

.am-panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}*/

/*-------------- SHOW SHOPPING CART CSS-------------*/
.help-tip {
    position: absolute;
    top: 30px;
    /*right: 25px;*/
    text-align: center;
    background-color: #999;
    border-radius: 50%; /* 實現圓角*/
    width: 50px;
    height: 50px;
    font-size: 12px;
    line-height: 32px;
    cursor: default;
    padding-top: 12px;
}


    .help-tip:hover p { /* 滑鼠在help-tip懸浮時p的樣式*/
        display: block;
        transform-origin: 100% 0%; /* 設置元素的運動的基點（參照點）*/
        -webkit-animation: fadeIn 0.3s ease-in-out; /* 0.3秒內緩衝淡出（參照點）*/
        animation: fadeIn 0.3s ease-in-out;
    }

    .help-tip p { /* The tooltip */
        display: none;
        text-align: left;
        /*background-color: #53A7D1;*/
        background-color: #FFF;
        width: 300px;
        position: absolute;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        right: 3px;
        color: #FFF;
        font-size: 13px;
        top: 40px;
        /*display: none;
        text-align: left;
        background-color: #1E2021;
        padding: 20px;
        width: 300px;
        position: absolute;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        right: -4px;
        color: #FFF;
        font-size: 13px;
        line-height: 1.4;*/
    }



        .help-tip p:before { /* 在p元素前加上內容*/
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border: 6px solid transparent; /* 用邊框實現小三角形*/
            border-bottom-color: #53A7D1;
            right: 10px;
            top: -12px;
        }

        .help-tip p:after { /* 在p元素後加上內容*/
            width: 100%;
            height: 40px;
            content: '';
            position: absolute;
            top: -40px;
            left: 0;
        }



    .help-tip div { /* The tooltip */
        display: none;
        text-align: left;
        background-color: #FFF;
        width: 400px;
        /*position: absolute;*/
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        right: 3px;
        color: #333;
        font-size: 12px;
        top: 60px;
        z-index: 99;
        line-height: 22px;
        /*display: none;
        text-align: left;
        background-color: #1E2021;
        padding: 20px;
        width: 300px;
        position: absolute;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        right: -4px;
        color: #FFF;
        font-size: 13px;
        line-height: 1.4;*/
    }



        .help-tip div:before { /* 在p元素前加上內容*/
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border: 6px solid transparent; /* 用邊框實現小三角形*/
            /*border-bottom-color: #53A7D1;*/
            border-bottom-color: #fdb0b3;
            right: 10px;
            top: -12px;
        }

        .help-tip div:after { /* 在p元素後加上內容*/
            width: 100%;
            height: 40px;
            content: '';
            position: absolute;
            top: -40px;
            left: 0;
        }

    .help-tip table tr {
        height: 30px;
    }

        .help-tip table tr th {
            text-align: center;
        }

        .help-tip table tr td {
            line-height: 22px;
        }

/* CSS 動畫，透明度從0變化到1，大小從0.6變形到1 */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

/*menu 開始*/
.nav-list {
    list-style: none;
}

    .nav-list a {
        text-decoration: none;
        transition: color 0.3s ease-out;
        color: inherit;
    }

    .nav-list li {
        position: relative;
        display: inline-block;
        /*margin: 5px;*/
        margin-right: 25px;
        letter-spacing: -1px;
    }

.download:after,
.download:before,
.download a:after,
.download a:before {
    background-color: #d7e45f;
}

.download:hover {
    color: #CEDD3E;
}

.features:after,
.features:before,
.features a:after,
.features a:before {
    background-color: #f9ac90;
}

.features:hover {
    color: #F27132;
}

.method:after,
.method:before,
.method a:after,
.method a:before {
    background-color: #addff8;
}

.method:hover {
    color: #85C3E9;
}

.purchase:after,
.purchase:before,
.purchase a:after,
.purchase a:before {
    background-color: #fad77a;
}

.purchase:hover {
    color: #FDBE2A;
}

.nav-list li:after,
.nav-list li:before,
.nav-list a:before,
.nav-list a:after {
    position: absolute;
    content: '';
    border-radius: 4px;
}

.nav-list li:after,
.nav-list li:before {
    bottom: -4px;
    height: 4px;
}

.nav-list li:not(.selected):before {
    left: 0;
    right: -2px;
}

.nav-list li.selected:after {
    left: 0;
    right: 39px;
}

.nav-list li.selected:before {
    right: -2px;
    width: 13px;
}

.nav-list .selected a:before {
    height: 22px;
    width: 4px;
    bottom: -22px;
    right: 7px;
}

.nav-list .selected a:after {
    height: 4px;
    width: 40px;
    bottom: -13px;
    right: 5px;
    transform: rotate(30deg);
}

/* Booring stuff*/

/*tabs silder 開始*/
#abgne-block {
    width: 100%;
    border: 0px solid #fff;
    font-size: small;
}

    #abgne-block ul, li, h3, p {
        margin: 0;
        padding: 0;
    }

    #abgne-block li {
        list-style: none;
    }

    #abgne-block a img {
        bordeR: none;
        vertical-align: middle;
    }

    #abgne-block .info {
        display: none;
    }

    #abgne-block .on {
        display: block;
    }

    #abgne-block .title {
        border-top: 0px solid #fff;
    }

        #abgne-block .title li {
            cursor: pointer;
            float: left;
            width: 20%;
            background-color: #fafafa;
            border: 3px solid #fff;
            border-right: 3px solid #f6f6f6;
            height: 60px;
            padding: 2px 7px;
            transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
        }

            #abgne-block .title li:last-child {
                border-right: 3px solid #fff;
            }

            #abgne-block .title li.on, #abgne-block .title li.over {
                background-color: #ffa79d;
                border: 3px solid #fff;
                border-left: 3px solid #ff888e;
                border-right: 3px solid #f6f6f6;
            }

            #abgne-block .title li:last-child.on, #abgne-block .title li:last-child.over {
                border-right: 3px solid #fff;
            }

            #abgne-block .title li h3 {
                font-size: 16px;
                color: #737373;
                padding-bottom: 0px;
                font-weight: normal;
                letter-spacing: 1px;
            }

            #abgne-block .title li p {
                font-size: 12px;
                color: #b2b2b2;
                letter-spacing: 1px;
            }

            #abgne-block .title li.on h3, #abgne-block .title .over h3 {
                color: #fff;
            }

            #abgne-block .title li.on p, #abgne-block .title .over p {
                color: #737373;
            }
/*tabs silder 結束*/
.am-topbar {
    position: relative;
    min-height: 30px;
    margin-bottom: 0px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #eee;
    color: #666;
    font-size: 12px;
    /*background: #afcad1;*/
    background: #f6f6f6;
    height: 30px;
    letter-spacing: 1px;
}

    .am-topbar:before, .am-topbar:after {
        content: " ";
        display: table;
    }

    .am-topbar:after {
        clear: both;
    }

    .am-topbar a {
        color: #666;
    }

.am-topbar-brand {
    margin: 0;
}

.am-topbar-nav > li.am-active > a, .am-topbar-nav > li.am-active > a:hover, .am-topbar-nav > li.am-active > a:focus {
    /*border-radius: 0px;*/
    color: #6f6957;
    /*background: none repeat scroll 0px 0px transparent;*/
}

.boxshadow {
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}




/*footer開始*/
.footer {
    padding: 20px 0px;
    background-color: #29abb3;
    color: #403645;
    font-size: 14px;
    width: 100%;
    /*新增*/
}

#footer_brands {
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
    width: 100%;
}

.footer_copyright {
    font-size: 12px;
}

.footer_topborder {
}

.index_box_brands {
    color: #403645;
    text-align: center;
    font-size: 14px;
    border-radius: 18px 18px 0px 0px;
    padding: 0px 15px 0px 15px;
    font-weight: bolder;
    margin: 0px auto;
    width: 300px;
    background: #ffcbcd url(../../user/img/bg_title_hot.png) no-repeat;
    /*text-shadow:0px 1px 0px rgba(0, 0, 0, 0.15);
     font-family: 'Nunito', sans-serif;*/
}

    .index_box_brands span {
        color: #403645;
        font-weight: normal;
        padding: 0px 5px;
    }

.index_box_brands_border {
    border-top: 4px solid #ffcbcd;
    padding: 5px 0px;
    background: #fff6f7;
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

.index_box_brands_show {
    width: 800px;
    left: 25%;
}

.footer ul {
}

.footer li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer a {
    color: #fff;
    /*letter-spacing: 4px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);*/
}

    .footer a:hover {
        /*color: #ffcbcd;*/
        color: #E9E9E9;
    }
/*footer結束*/

/*a 點擊不顯示黑框線*/
a {
    text-decoration: none;
    outline: none;
}

    a img {
        border-style: none;
    }

.product_brand_bar {
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 5px;
}

    .product_brand_bar img {
        width: 80px;
    }


.logobar {
    background-color: #ffffff;
    border-top: 0px solid #ffcbcd;
    /*border-bottom-style: solid;
                    border-bottom-width: medium;
                    border-color: #5ba1c2;*/
}

div#centerDiv {
    width: 100%;
    text-align: center;
}

ul.centerUL {
    margin: 2px auto;
    line-height: 1.2;
}

.centerUL li {
    display: inline;
    text-align: center;
}


.am-topbar .am-dropdown-content li:hover {
    display: block;
    color: #ff0000;
}

.topbarTextColor a {
    color: #929292;
}

/* sales panel style*/
.product_list_title {
    font-size: 16px;
    height: 40px;
    padding-left: 10px;
}

    .product_list_title a {
        color: #6F6957;
    }



.classbar {
    font-size: 14px;
    list-style-type: none;
    line-height: 30px;
}

    .classbar a {
        color: #6F6957;
    }

        .classbar a:hover {
            color: #00c8db;
        }

    .classbar .select {
        color: #ff006e;
        font-size: 18px;
    }

.subclass {
    padding-top: 0px;
    margin-top: 0px;
    list-style: disc;
}

.right_AD_Panel {
    padding-bottom: 10px;
}

/*Remove a link outline*/
a:focus, a:active {
    outline: none;
}


/*購物車相關*/
.cartstep div {
    background-color: #C3C3C3;
    border: 1px solid #ffffff;
    text-align: center;
    vertical-align: middle;
}

.cartstep .select {
    background: #ed9796 url(../../usercode/img/cart-img/bg_step_select.png) left no-repeat;
}


.cartlist {
    padding: 5px;
    font-weight: normal;
}

    .cartlist tbody tr td {
        vertical-align: middle;
    }

    .cartlist thead tr th {
        font-weight: normal;
    }

.cart_step_btn {
    width: 200px;
    background-color: #C30D23;
    color: #F6F6F6;
}

/*load 效果*/
.load {
    background-image: url('../../img/load/ajax-loader.gif');
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*2015.7.29 Aileen start*/
.classbar li i {
    color: #d1d1d1;
    margin-right: 3px;
}

.search_field {
    border: 3px solid #C3C3C3;
    height: 38px;
    width: 95%;
}

.am-input-group-btn > .search_btn {
    position: relative;
    color: #FFF;
    background-color: #C3C3C3;
    border: 3px solid #C3C3C3;
    height: 38px;
    padding: 0.2em 1em;
    font-size: 14px;
}

.am-form-group {
    margin-bottom: 0.5rem;
}

.hw-btn {
    display: inline-block;
    margin-bottom: 0px;
    padding: 0.5em 0.5em;
    vertical-align: middle;
    font-size: 0.5em;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    outline: 0px none;
    -moz-user-select: none;
    transition: background-color 300ms ease-out 0s, border-color 300ms ease-out 0s;
}

.am-btn-search {
    display: inline-block;
    margin-bottom: 0px;
    padding: 0.5em 0.5em;
    vertical-align: middle;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    outline: 0px none;
    -moz-user-select: none;
    transition: background-color 300ms ease-out 0s, border-color 300ms ease-out 0s;
}

.product_brand_tag {
    position: absolute;
    z-index: 99;
}

    .product_brand_tag img {
        width: 60px;
        margin-top: 5px;
        margin-left: 5px;
    }

.index_bg_body {
    background: url(../../user/img/body_bg.jpg) no-repeat;
}

.am-checkbox, .am-radio, .am-checkbox-inline, .am-radio-inline {
    padding-left: 22px;
    position: relative;
    transition: color 0.25s linear 0s;
    font-size: 12px;
    line-height: 1.5;
}

.index_p_title_box_1 {
    color: #fff;
    /*border-bottom:4px solid #fa5b93;*/
    width: 99.6%;
    border-radius: 0px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
}

.index_p_title_txt_box_1 {
    background: #ff989d;
    height: 30px;
    border-radius: 3px 18px 18px 3px;
    padding: 1px 15px 2px 0px;
}

.index_p_1_box_border {
    border: 4px solid #ff989d;
    border-radius: 8px;
    padding: 10px 0px;
    background: #fafafa;
}

.index_p_title_box_2 {
    color: #fff;
    width: 99.6%;
    border-radius: 0px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
}

.index_p_title_txt_box_2 {
    background: #bfd62c;
    height: 30px;
    border-radius: 3px 18px 18px 3px;
    padding: 1px 15px 2px 0px;
}

.index_p_2_box_border {
    border: 4px solid #bfd62c;
    border-radius: 8px;
    padding: 10px 0px;
    background: #fafafa;
}

.index_p_title_box_3 {
    color: #fff;
    width: 99.6%;
    border-radius: 0px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
}

.index_p_title_txt_box_3 {
    background: #ffc882;
    height: 30px;
    border-radius: 3px 18px 18px 3px;
    padding: 1px 15px 2px 0px;
}

.index_p_3_box_border {
    border: 4px solid #ffc882;
    border-radius: 8px;
    padding: 10px 0px;
    background: #fafafa;
}

.index_p_title_box_4 {
    color: #fff;
    width: 99.6%;
    border-radius: 0px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
}

.index_p_title_txt_box_4 {
    background: #e3abdb;
    height: 30px;
    border-radius: 3px 18px 18px 3px;
    padding: 1px 15px 2px 0px;
}

.index_p_4_box_border {
    border: 4px solid #e3abdb;
    border-radius: 8px;
    padding: 10px 0px;
    background: #fafafa;
}

.index_p_title_box_5 {
    color: #fff;
    width: 99.6%;
    border-radius: 0px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
}

.index_p_title_txt_box_5 {
    background: #5fd9e0;
    height: 30px;
    border-radius: 3px 18px 18px 3px;
    padding: 1px 15px 2px 0px;
}

.index_p_5_box_border {
    border: 4px solid #5fd9e0;
    border-radius: 8px;
    padding: 10px 0px;
    background: #fafafa;
}

.index_p_title_box_6 {
    color: #fff;
    width: 99.6%;
    border-radius: 0px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
}

.index_p_title_txt_box_6 {
    background: #ffb591;
    height: 30px;
    border-radius: 3px 18px 18px 3px;
    padding: 1px 15px 2px 0px;
}

.index_p_6_box_border {
    border: 4px solid #ffb591;
    border-radius: 8px;
    padding: 10px 0px;
    background: #fafafa;
}

.index_p_title_box_hot {
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 18px 18px 0px 0px;
    padding: 0px 15px 3px 15px;
    font-weight: bolder;
    margin: 0px auto;
    margin-bottom: 10px;
    width: 300px;
    background: #fc8bb4 url(../../user/img/bg_title_hot.png) no-repeat;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
    /*font-family: 'Nunito', sans-serif;*/
}

    .index_p_title_box_hot span {
        color: #fff;
        font-weight: normal;
        padding: 0px 5px;
    }

.hot_sale_box {
    background: #fff6f7_;
}

.index_p_title_box_like {
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 18px;
    padding: 0px 15px 3px 15px;
    font-weight: bolder;
    margin: 0px auto;
    margin-bottom: 20px;
    width: 300px;
    background: #f95c63 url(../../user/img/bg_title_hot.png) no-repeat;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
    /*font-family: 'Nunito', sans-serif;*/
}

    .index_p_title_box_like span {
        color: #fff;
        font-weight: normal;
        padding: 0px 5px;
    }

.index_p_title_box_like_border {
    border: 4px solid #ff888e;
    border-radius: 18px;
    padding: 20px 0px;
}

.index_p_title {
    font-size: 18px;
    vertical-align: sub;
    color: #fff;
    font-weight: normal;
}

    .index_p_title span {
        font-size: 18px;
        color: #403645;
        font-weight: 500;
        margin-right: 3px;
        font-family: 'Nunito', sans-serif;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
    }

.index_p_title_sub {
    font-size: 12px;
    color: #a6a6a6;
    font-weight: normal;
    letter-spacing: 1px;
    text-shadow: none;
}

.index_p_brands {
    float: right;
    color: #737373;
    width: auto;
    margin-top: 10px;
}

    .index_p_brands li {
        float: left;
        font-size: 12px;
        color: #737373;
        list-style: none;
        margin-left: 20px;
        padding-left: 20px;
        background: url(../../user/icon/list.gif) no-repeat;
        text-shadow: none;
        transition: background-color 300ms ease-out 0s, border-color 300ms ease-out 0s;
    }

        .index_p_brands li a {
            color: #737373;
        }

            .index_p_brands li a:hover {
                color: #00beca;
            }

        .index_p_brands li:first-child {
            background: none;
        }

.icon_p1 {
    background: url(../../user/icon/icon_index_p_1.gif) no-repeat;
}

.img_border_1 {
    border: 4px solid #ff989d;
    margin: 0px 0px -4px -15px;
}

.img_border_2 {
    border: 4px solid #bfd62c;
    margin: 0px 0px -4px -15px;
}

.img_border_3 {
    border: 4px solid #ffc882;
    margin: 0px 0px -4px -15px;
}

.img_border_4 {
    border: 4px solid #e3abdb;
    margin: 0px 0px -4px -15px;
}

.img_border_5 {
    border: 4px solid #5fd9e0;
    margin: 0px 0px -4px -15px;
}

.img_border_6 {
    border: 4px solid #ffb591;
    margin: 0px 0px -4px -15px;
}

.gallery-title_hot {
    font-size: 14px;
    margin-left: 5px;
    text-align: center;
    height: 40px;
    overflow: hidden;
}

    .gallery-title_hot a {
        color: #6F6957;
    }

.gallery-detail_hot {
    padding-top: 4px;
    height: 34px;
    border-top: 0px solid #E9E9E9;
    text-align: center;
}
/*.product .pitem_border_none {
    margin: 0px;
    padding: 2px;
    transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
}*/
.am-panel_border_none {
    background-color: #FFF;
    border: 10px solid #FFF;
    border-radius: 0px;
}

.am-breadcrumb span a i .am-icon-unsorted {
    color: #737373;
}

.brandstory_about_title {
    font-size: 18px;
    color: #403645;
    font-weight: 500;
    margin-right: 3px;
    font-family: "Nunito",sans-serif;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
}

.am-img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 2px;
    line-height: 1.6;
    border: 0px solid #DDD;
    border-radius: 0px;
    transition: all 0.2s ease-in-out 0s;
}

/*2015.7.29 Aileen end*/


.hw-font-size-10px {
    font-size: 10px;
}

.hw-font-size-12px {
    font-size: 12px;
}

.hw-font-size-14px {
    font-size: 14px;
}

.hw-font-size-16px {
    font-size: 16px;
}


label {
    font-weight: 500;
}


.about-title {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
    font-weight: 500;
    border-left: 5px solid #29ABB3;
}

.about-content-title {
    font-size: 20px;
    font-weight: 900;
}


/*2015.12.16 代購系統手機版  開始*/

.banner1 {
    width: 875px;
    height: 275px;
    margin: 0;
    padding: 0;
}

.banner2 {
    position: relative;
    width: 875px;
    height: 76px;
    margin: 0;
    padding: 0;
}

.searchBar {
    position: absolute;
    padding: 0 width: 760px;
    height: 50px;
    line-height: 50px;
    top: 0;
    left: 65px;
}

.searchBarInput {
    width: 700px;
    height: 50px;
    font-size: 14px;
    padding: 10px;
    border: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.searchBarBut {
    width: 100px;
    margin: 0;
    padding: 0;
    width: 50px height: 50px;
    line-height: 50px;
    font-size: 18px;
    background-color: #ff9000;
    border: 0;
    right: 0;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/*2015.12.16 代購系統手機版  結束*/


/*2015.12.21 代購系統電腦版 開始*/
.iconBox {
    margin: 10px 0 0 0;
    padding: 0 0 0 160px;
    height: 150px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.tagBox {
    margin: 10px 0 0 0;
    padding: 10px;
    width: 100%;
    border: 1px #dbdbdb solid;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.tagBoxList {
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    list-style: none;
}

    .tagBoxList li {
        float: left;
        display: block;
        margin: 0 0;
        padding: 0;
        width: 100px;
        height: 25px;
        line-height: 25px;
        font-size: 15px;
        color: #fb005d;
    }

        .tagBoxList li a {
            float: left;
            display: block;
            margin: 0;
            padding: 0;
            width: 100px;
            height: 30px;
            line-height: 30px;
            font-size: 15px;
            color: #fb005d;
            text-align: center;
        }

            .tagBoxList li a:hover {
                float: left;
                display: block;
                margin: 0;
                padding: 0;
                width: 100px;
                height: 30px;
                line-height: 30px;
                font-size: 15px;
                color: #fb005d;
                text-align: center;
                background: #edebec;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
            }

            .tagBoxList li a:active {
                float: left;
                display: block;
                margin: 0;
                padding: 0;
                width: 100px;
                height: 30px;
                line-height: 30px;
                font-size: 15px;
                color: #fff;
                text-align: center;
                background: #fb005d;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
            }

.produtcList {
    float: left;
    display: block;
    width: 49%;
    margin: 4px;
    padding: 10px;
    list-style-type: none;
    border: 1px #dbdbdb solid;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.productTitle {
    float: left;
    display: block;
    margin: 0 0 15px 0;
    padding: 10px;
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #000;
    line-height: 20px;
}

.productText {
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    height: 50px;
    font-size: 14px;
    line-height: 16px;
    color: #ed8185;
}

.infoText1 {
    float: left;
    display: block;
    margin: 20px 0 15 0;
    padding: 0;
    width: 48%;
    font-size: 14px;
    color: #898989;
    line-height: 20px;
}

.infoText2 {
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    width: 48%;
    font-size: 12px;
    color: #898989;
    line-height: 20px;
}

.shoppingBut {
    float: left;
    display: block;
    margin: 20px 0 15px 0;
    padding: 0;
    width: 48%;
    height: 35px;
    line-height: 35px;
    background-color: #fff;
    color: #424141;
    font-size: 16px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

    .shoppingBut a {
        float: left;
        display: block;
        margin: 0;
        padding: 0;
        height: 35px;
        line-height: 35px;
        background-color: #fff;
        color: #424141;
        font-size: 16px;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px #747474 solid;
    }

        .shoppingBut a:hover {
            float: left;
            display: block;
            margin: 0;
            padding: 0;
            height: 35px;
            line-height: 35px;
            background-color: #343333;
            color: #ffffff;
            font-size: 16px;
            text-align: center;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        .shoppingBut a:active {
            float: left;
            display: block;
            margin: 0;
            padding: 0;
            height: 35px;
            line-height: 35px;
            background-color: #343333;
            color: #ffffff;
            font-size: 16px;
            text-align: center;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }


.channel {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

ul.channel li {
    width: 285px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

    ul.channel li a {
        width: 100%;
        height: 80px;
        display: block;
        padding-left: 50px;
        color: #fff;
        text-decoration: none;
    }

    ul.channel li.orderform {
        width: 100%;
        margin-bottom: 10px;
        background: #fa4a54;
    }

    ul.channel li.rules {
        width: 100%;
        margin-bottom: 10px;
        background: #ffaf00;
    }

    ul.channel li.hotProduct {
        width: 100%;
        margin-bottom: 10px;
        background: #33d5ad;
    }

    ul.channel li.hotBand {
        width: 100%;
        height: 127px;
        margin: 0;
    }

.bandContent {
    margin: 0;
    padding: 0;
    width: 285px;
    background: #fff;
}

.bandList {
    margin: 0 auto;
    padding: 0;
    width: 235px;
    background: #fff;
}

ul.bandList li {
    width: 100%;
    height: 280px;
    border: 1px #d2d2d2 solid;
    list-style: none;
    background: #fff;
}

    ul.bandList li p {
        width: 100%;
        height: 40px;
        color: #262525;
        /*line-height: 40px;*/
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

.angle-right {
    float: right;
    background: rgba(255,255,255,0.2);
    display: block;
    width: 80px;
    height: 80px;
    transition: all ease-in-out .3s;
}


.pageList {
    float: left;
    display: block;
    margin: 30px 0 0 0;
    padding: 0;
    width: 95%;
    height: 30px;
    line-height: 30px;
}

    .pageList li {
        float: right;
        display: block;
        margin: 2px 5px 0 0;
        padding: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 1px #05d2f1 solid;
        list-style-type: none;
    }

.arrow {
    float: right;
    display: block;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #05d2f1;
}

.pageList li a {
    float: right;
    display: block;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #05d2f1;
    list-style-type: none;
    text-decoration: none;
}

    .pageList li a:hover {
        float: right;
        display: block;
        margin: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        list-style-type: none;
        background-color: #03cff3;
    }

.orderListBox {
    float: left;
    display: block;
    margin: 5px 0 10px 5px;
    padding: 20px;
    width: 99%;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px #b0b0b0 solid;
}

.orderList {
    width: 100%;
    margin: 20px 0 20px 0;
    /*padding: 20px 0 20px 0;*/
    border-bottom: 1px #aaaaaa solid;
}

.tab_expBox {
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 10px 0 0 0;
    line-height: 20px;
    background: #343333;
    color: #fff;
    text-align: center;
}
/*代購規則頁面*/
.orderRuleTitle {
    margin: 5px;
    padding: 0;
    width: 98%;
    height: 45px;
    line-height: 45px;
    background: #343333;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

    .orderRuleTitle img {
        margin: 3px;
        padding: 0;
    }

.orderRuleContent {
    margin: 15px 5px 5px 10px;
    padding: 0;
    width: 96%;
    line-height: 25px;
    font-size: 13px;
}

    .orderRuleContent span {
        font-size: 13px;
        line-height: 25px;
    }

.join-provision {
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    width: 98%;
    font-size: 16px;
    text-align: left;
}

.join-agree {
    float: left;
    display: block;
    margin: 2% 0 0 6%;
    width: 100%;
    text-align: left;
}


/*2016-3-22 */

.fastBox {
    width: 100%;
}

.fastBoxText {
    color: #222222;
    text-align: ceter;
}

#fastTabs {
    width: 100%;
    margin: 10px 0 15px 0;
    height: 40px;
    color: #aeaeae;
    text-align: center;
    font-size: 17px;
}

    #fastTabs a {
        color: #aeaeae;
        display: inline-block;
        padding: 0 6px 8px;
        font-weight: bold;
        margin-left: 40px;
    }

        #fastTabs a:hover {
            color: #444;
            padding: 0 6px 8px;
        }

        #fastTabs a.active {
            color: #4a4f56;
            border-bottom: 2px solid #f2f2f2;
        }

.fastproduct {
    width: 100%;
    margin-bottom: 10px;
}

    .fastproduct li {
        padding: 10px;
        margin-bottom: 10px;
    }

    .fastproduct .pitem {
        margin: 0px;
        padding: 5px;
        border-color: #FFF;
        -webkit-transform: translateZ(0);
        border: 1px #efefef solid;
    }

        .fastproduct .pitem:hover {
            padding: 3px;
            border: 1px solid #cbcbcb;
            transition: border 0.2s linear 0s, color 0.2s linear 0s, background-color 0.2s linear 0s;
            -webkit-transform: translateZ(0);
        }

    .fastproduct .am-panel-bd {
        padding: 3px;
    }

.NewHeader {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    padding: 0;
    border-bottom: 2px #efefef dotted;
}

.newlogo {
    widows: 100%;
    height: 90px;
    border-right: 2px #efefef dotted;
}


/*2016-03-25*/

.searchTag {
    margin-bottom: 5px;
    font-size: 13px;
    color: #999;
    font-weight: bold;
    line-height: 25px;
}

.indexTag {
    width: 100%;
    height: 35px;
    font-size: 14px;
}

    .indexTag ul {
        float: left;
        display: block;
        margin: 0;
        width: 1000px;
        height: 35px;
        line-height: 35px;
        list-style: none;
    }

        .indexTag ul li {
            float: left;
            display: block;
            margin-right: 10px;
        }

.indexArticle {
    width: 100%;
    margin-bottom: 10px;
}

    .indexArticle li {
        padding: 15px;
        margin-bottom: 10px;
        border-right: 2px #efefef dotted;
    }

        .indexArticle li .articleTitile {
            font-size: 16px;
            text-align: left;
            color: #999;
            height: 35px;
            line-height: 35px;
            border-bottom: 2px #efefef dotted;
        }

.indexAbout {
    width: 100%;
    margin-bottom: 10px;
}

    .indexAbout li {
        padding: 15px;
        margin-bottom: 10px;
    }

        .indexAbout li .aboutTitle {
            padding: 15px;
            margin-bottom: 10px;
            font-size: 20px;
            text-align: center;
            font-weight: bold;
        }

.money_txt_style_market {
    color: #f54954;
    font-size: 22px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.money_txt_style_marketS {
    color: #a1a1a1;
    font-size: 13px;
    text-decoration: line-through;
    line-height: 25px;
    text-align: center;
}

.gallery_title_top {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    background: #98c31b;
    color: #fff;
}


/*Service 2016-04-15*/

.serviceIcon {
    width: 150px;
    height: 150px;
    background-color: #ededed;
}

.serviceIfor {
    margin-top: 10px;
    width: 150px;
    text-align: center;
    font-family: "Arial";
}

    .serviceIfor .title {
        font-size: 16px;
        color: #868686;
        line-height: 22px;
    }

    .serviceIfor .number {
        font-size: 14px;
        color: #f06f35;
        line-height: 18px;
    }

    .serviceIfor .time {
        font-size: 13px;
        color: #b9b9b9;
        line-height: 18px;
    }

.serviceTitle {
    color: #42c4d1;
    font-size: 18px;
}

.input-box {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    clear: both;
}

.input-text {
    width: 100%;
    height: 38px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    background-color: #fff;
    border: 1px #e2e2e2 solid;
}

.ambutton {
    overflow: visible;
    width: 60px;
    height: 40px;
    border: 0;
    padding: 0;
    margin: 0;
    background: #ea4468;
    cursor: pointer;
    border-radius: 6px;
    color: #fff;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 1.4;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    resize: none;
}

/*品牌列表*/
.bandListBox {
    margin: 0;
    padding: 0;
}

.band {
    width: 100%;
    height: 100%;
    border: 1px #e2e2e2 solid;
    overflow: hidden;
}

.bandListBox li {
    padding: 10px;
    background-color: #fff;
    font-family: Times New Roman;
    box-sizing: border-box;
    overflow: hidden;
}

    .bandListBox li .logoText {
        position: relative;
        z-index: 500;
        top: 0;
        width: 100%;
    }

.bandListData {
    position: absolute;
    top: 0;
    left: 16px;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: block;
    transition: all ease-in-out .4s;
    letter-spacing: 1.5px;
    line-height: 20px;
    margin-left: 100%;
    text-align: center;
    box-sizing: border-box;
}

.bandListBox li:hover .bandListData {
    margin-left: -16px;
}

.bandListData .title {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #fff;
}

.bandListData a:link, a:hover, a:visited, a:active {
    /*font-size: 15px;*/
    /*line-height: 22px;*/
    /*color: #000;*/
    /*font-weight: bold;*/
}

.bandListData .text {
    font-size: 14px;
    line-height: 22px;
}

.bandListBut {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #919191;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 0;
}

    .bandListBut:hover, .bandListBut:active, .bandListBut:visited {
        background: #ef8997;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        border: 0;
    }


.bandBox {
    width: 100%;
    height: 390px;
    margin: 0;
    padding: 30px;
    border: 8px solid #f6f6f6;
    background-color: #fff;
}

    .bandBox .introdlogo {
        padding: 0 0 0 10px;
        border-bottom: 2px #d6d4b0 solid;
    }

    .bandBox .introdText {
        padding: 10px 0 10px 0;
        color: #b0a16d;
        font-size: 13px;
        line-height: 21px;
    }

    .bandBox .introdBut {
        width: 120px;
        margin: 10px 0 0 90px;
        background: #fff;
        border: 1px #d6d4b0 solid;
        color: #d6d4b0;
        font-size: 13px;
    }

        .bandBox .introdBut:hover, .introdBut:focus, .introdBut:active, .introdBut.am-active {
            background: #d6d4b0;
            border: 1px #d6d4b0 solid;
            color: #fff;
        }
/* 2016-07-19 商品頁 贈品區 新增*/

.premiumsTitle {
    width: 100%;
    height: 50px;
    margin: 10px 0 20px 10px;
    padding: 13px 0 0 20px;
    background: #ebecec;
    border: #dfdfdf 1px solid;
    font-size: 14px;
}

    .premiumsTitle .bold {
        font-size: 16px;
        font-weight: bold;
    }

.premiumsBox {
    width: 100%;
    height: 120px;
    margin: 10px 0 0 10px;
    padding: 0;
    border: 1px #e1e1e1 solid;
    overflow: hidden;
}

    .premiumsBox a:hover {
        color: #575656;
    }

    .premiumsBox img {
        float: left;
        width: 50px;
        margin: 20px 10px 0 10px;
        padding: 0;
    }

    .premiumsBox p {
        /*width: 100%;*/
        color: #575656;
        margin: 10px 10px 0 10px;
        font-size: 14px;
        font-weight: 600;
        /*height: 60px;*/
        line-height: 15px;
    }

    .premiumsBox input {
        margin: 20px 10px 0 15px;
        float: left;
        height: 60px;
        line-height: 60px;
    }


.premiums-btn-p {
    margin: 0 10px 20px 0;
    padding: 15px 0 15px 15px;
    width: 100%;
    background: #fdbdbd;
    color: #fff;
    font-size: 16px;
    text-align: left;
    font-weight: 600;
}
/* 跨國快送贈品*/
.premiums-name {
    width: 100%;
    margin: 0 0 0 15px;
    height: 30px;
    line-height: 30px;
    color: #737272;
    font-size: 16px;
}

.premiums-btn-b {
    margin: 0 10px 20px 0;
    padding: 15px 0 15px 15px;
    width: 100%;
    background: #b5e0ed;
    color: #fff;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}
/* 好物市集贈品*/

.ptag {
    position: absolute;
    left: -15px;
    top: -10px;
    padding: 18px 0;
    background: #fe5b8e;
    border-radius: 46px;
    width: 50px;
    height: 50px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    cursor: default;
    z-index: 999;
    font-family: Arial;
    -webkit-font-smoothing: antialiased;
    box-shadow: none;
}

/* 右側浮動區塊 20160923*/

.indexadv {
    position: fixed;
    top: 20%; /* 20160923 修改*/
    right: 20px;
    z-index: 9999;
}

    .indexadv a {
        font-size: 14px;
        font-weight: bold;
        line-height: 22px;
    }

        .indexadv a:hover {
            font-size: 14px;
            font-weight: bold;
            line-height: 22px;
        }

    .indexadv .listbox {
        margin: 0;
        padding: 0;
        border: 1px #e8e8e8 solid;
    }

        .indexadv .listbox .top {
            background-color: #aaaaaa;
            color: #fff;
            text-align: center;
        }

        .indexadv .listbox li {
            border-bottom: 1px #e8e8e8 solid;
            list-style-type: none;
        }

.morebox {
    background-color: #ff5780;
    color: #fff;
    text-align: center;
    padding: 2px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/* 右側浮動區塊-回頁首 20160923*/

.am-gotop-box {
    text-align: center;
    margin: 10px 0;
}

    .am-gotop-box a {
        color: #fff;
        background: #87e1ed;
        width: 100%;
        padding: 2px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

        .am-gotop-box a img {
            display: none;
        }


/* 精選品牌 20160923*/
.brandBack {
    position: absolute;
    top: 165px;
    padding: 0 0 0 15px;
    overflow: hidden;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #3a3a3a;
    background: #fff;
    opacity: 0.8;
}

.brandBox {
    width: calc(50% - 20px);
    margin: 0 10px 15px 10px;
    padding: 0;
    border: 1px #efefef solid;
}

.brandProdBox {
    /*margin: 10px 0px 0px 0px;*/
    padding: 0;
}

    .brandProdBox li {
        float: left;
        margin: 0;
        padding: 0;
        border-right: 2px dotted #efefef;
        &:last-child{
            border-right:0;
        }
    }

.brandPanel {
    margin: 0;
    padding: 8px;
    box-shadow: none;
    border: 0;
}

.brandImg {
    padding: 0;
    margin: 0;
}

    .brandImg img {
        width: 100%;
    }

.gallery-title a:hover {
    font-size: 14px;
    color: #6F6957;
    line-height: 12px;
    font-weight: normal;
}
/*20161209 上方logo輪播 修改*/
.brands-slider {
    /*width: 965px; */
    border: 0;
    box-shadow: none;
    margin: 0px 0 10px 0px;
}

    .brands-slider .am-control-nav {
        display: none;
    }

    .brands-slider .am-direction-nav a {
        /*margin: -12px -25px 0 -35px;*/
    }

    .brands-slider .am-slides {
        overflow: hidden;
        margin-right: 10px;
    }

        .brands-slider .am-slides li {
            margin-right: 0; /*修改*/
        }

    .brands-slider .am-prev {
        left: 10px; /*新增*/
    }

    .brands-slider .am-next {
        right: 10px; /*新增*/
    }



.p-style {
    display: inline-block;
    background: white;
    width: 100%;
    border: 1px solid #d9dad9;
    transition: .3s;
}

    .p-style:hover {
        box-shadow: 0px 0px 10px 0px #ccc;
        transition: .3s;
    }
/**/
.p-style-pic {
    position: relative;
    width: 100%;
}

    .p-style-pic img {
        width: 100%;
        height: auto;
    }

/*猜你喜歡按鈕*/
.p-style .guess-you-like-button {
    display: inline;
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(220, 220, 220, 0.5);
    text-align: center;
    line-height: 50px;
    transition: .3s;
    cursor: pointer;
}

    .p-style .guess-you-like-button:hover span.pink-o {
        opacity: 1;
        transition: .3s;
    }

    .p-style .guess-you-like-button span.white-o {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        line-height: 50px;
        opacity: 1;
        color: white;
        transition: .3s;
    }

    .p-style .guess-you-like-button span.pink-o {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        line-height: 50px;
        opacity: 0;
        color: #FF7C81;
        transition: .3s;
    }

        .p-style .guess-you-like-button span.pink-o.show {
            opacity: 1;
            transition: .3s;
        }

/*tag*/
.p-style .tag-chinese {
    padding: 0em 0.3em;
    display: inline-block;
    position: absolute;
    font-size: .9em;
    top: 5px;
    right: 5px;
    border: 1px solid #f1b13b;
    color: #f1b13b;
    background: rgba(255,255,255,.9);
}

/*分隔線*/
.p-style-line {
    display: block;
    margin: 0 10px;
    width: calc(100% - 20px);
    height: 1px;
    background: #d9dad9;
}

/*標題*/
.p-style-text h4 {
    overflow: hidden;
    margin: 10px 10px;
    font-size: 13px;
    font-weight: normal;
    height: 37px;
    color: #595959;
}

.p-style .price-discount {
    display: inline-block;
    position: relative;
    margin: 10px 10px 0 10px;
    width: calc(100% - 20px);
    height: 28px;
    line-height: 28px;
}

    .p-style .price-discount h5 {
        height: 28px;
        color: #FB5450;
        padding: 0;
        margin: 0;
    }

    .p-style .price-discount p {
        display: inline-block;
        float: right;
        color: #595959;
        margin: 0 0 0 10px;
        font-size: 12px;
    }

    /*價錢*/
    .p-style .price-discount h5 p {
        height: 28px;
        padding: 0;
        margin: 0;
        color: #FB5450;
        font-size: 17px;
    }

/*省ＯＯ的錢*/
.p-style .discount-range span {
    display: inline-block;
    height: 28px;
    font-size: 14px;
    color: #FB5450;
}

/*<div class="p-style">
    		<div class="p-style-pic">
    			<a href="#">
    				<img src="https://www.hawooo.com/images/webimgs/n20160824015028053.jpg">
    				<span class="tag-chinese">新品</span>
    			</a>
    			<span class="guess-you-like-button">
                    <span class="am-icon-heart-o white-o"></span>
                    <span class="am-icon-heart-o pink-o"></span>
                </span>
    		</div>
    		<div class="p-style-text">
    			<a href="#">
        			<h4>NARUKO 紅薏仁毛孔收斂雪肌粉露 120mlNARUKO 紅薏仁毛孔收斂雪肌粉露 120ml</h4>
        			<span class="p-style-line"></span>
                    <div class="am-cf price-discount">
                        <h5 class="am-fl">
                            <p>RM 108.9</p>
                        </h5>
                        <p class="discount-range">省<span>30</span></p>
                    </div>
                </a>
    		</div>
        </div>*/
