@charset "UTF-8";
/*大片背景*/
/*分隔線*/
/*draktext*/
/*首頁主要粉紅色*/
/*首頁上方nav被hover顏色*/
/*header語言＆購物車text顏色*/
/*header語言＆購物車hover顏色*/
/*內文說明文字*/
/*側邊箭頭顏色*/
/*側邊導覽列*/
/*台灣代購 商品細項 標題顏色*/
/*猜你喜歡按鈕*/
/*猜你喜歡按鈕 hover*/
/*名人推薦標籤*/
/*名人推薦標籤*/
/*首頁猜你喜歡綠色新品tag*/
/*＝＝＝商品＝＝＝*/
/*新品tag*/
/*免運tag*/
/*強調文字的粉色*/
/*解說文字藍*/
/*賣光拉*/
/*售價橘*/
/*售價背景*/
/*喜歡按鈕*/
/*加入購物車按鈕*/
/*立刻買*/
/*＝＝＝購物車＝＝＝*/
/*購物車步驟灰*/
/*login*/
/* line 3, ../../sass/reviews.scss */
.am-modal-comment {
  background: white;
  padding: 15px;
  width: 650px;
  margin-left: -330px;
}
/* line 8, ../../sass/reviews.scss */
.am-modal-comment .wirte-reviews-wrapper {
  float: left;
}

/* line 12, ../../sass/reviews.scss */
.wr-title {
  /*background: $background-gray ;*/
  padding-bottom: 15px;
  color: #595959;
  font-weight: bold;
}

/*撰寫評論內容*/
/* line 20, ../../sass/reviews.scss */
.wr-content {
  text-align: left;
}
/* line 22, ../../sass/reviews.scss */
.wr-content .wr-content-pic {
  height: 250px;
  overflow: hidden;
}
/* line 25, ../../sass/reviews.scss */
.wr-content .wr-content-pic img {
  width: 100%;
  margin-top: 10px;
}
/* line 29, ../../sass/reviews.scss */
.wr-content .wr-content-pic h3 {
  padding: 0;
  margin: 10px 0;
  font-weight: normal;
  font-size: 13px;
}
/* line 36, ../../sass/reviews.scss */
.wr-content .wr-content-text {
  height: 250px;
}
/* line 39, ../../sass/reviews.scss */
.wr-content .reviews-wrapper {
  padding: 0;
}
/* line 41, ../../sass/reviews.scss */
.wr-content .reviews-wrapper #star-alert {
  display: inline-block;
  color: red;
  font-size: 12px;
}
/* line 46, ../../sass/reviews.scss */
.wr-content .reviews-wrapper input[type="text"] {
  width: 83%;
  height: 30px;
  font-size: 13px;
}
/* line 50, ../../sass/reviews.scss */
.wr-content .reviews-wrapper input[type="text"]:focus {
  box-shadow: none;
  border: 1px solid #ff7c81;
}
/* line 55, ../../sass/reviews.scss */
.wr-content .reviews-wrapper textarea {
  height: 100px;
  width: 83%;
  max-height: 100px;
  font-size: 13px;
  resize: none;
}
/* line 61, ../../sass/reviews.scss */
.wr-content .reviews-wrapper textarea:focus {
  box-shadow: none;
  border: 1px solid #ff7c81;
}
/* line 66, ../../sass/reviews.scss */
.wr-content .reviews-wrapper .reviews-title {
  padding: 0;
  line-height: 30px;
  color: #595959;
}
/* line 72, ../../sass/reviews.scss */
.wr-content .sendreview-btn-wrapper {
  padding: 0;
}
/* line 74, ../../sass/reviews.scss */
.wr-content .sendreview-btn-wrapper button {
  width: 100%;
  height: 35px;
  line-height: 35px;
  background: #ff0068;
  color: white;
  padding: 0;
}
/* line 83, ../../sass/reviews.scss */
.wr-content .reviews-description {
  float: left;
  width: calc(100% - 40px);
  margin: 20px 20px 0 20px;
  padding: 10px 0;
  font-size: 12px;
  color: #595959;
  border-top: 1px solid #d9dad9;
}
/* line 91, ../../sass/reviews.scss */
.wr-content .reviews-description i {
  color: #d9dad9;
}
/* line 93, ../../sass/reviews.scss */
.wr-content .reviews-description i:hover {
  color: #808080;
}

/*星星外層*/
/* line 102, ../../sass/reviews.scss */
.rating-star-wrapper {
  display: inline-flex;
  margin: 5px 0 0 15px;
}
/* line 105, ../../sass/reviews.scss */
.rating-star-wrapper i.rating-icon {
  pointer-events: none;
  font-size: 20px;
  color: orange;
}
/* line 110, ../../sass/reviews.scss */
.rating-star-wrapper .star-input {
  display: none;
}
/* line 113, ../../sass/reviews.scss */
.rating-star-wrapper label.rating-label {
  cursor: pointer;
  padding: 0 5px;
  /*上下兩個padding和margin會互相影響*/
}
/* line 117, ../../sass/reviews.scss */
.rating-star-wrapper label.rating-label.rating-label-half {
  padding-right: 0;
  margin-right: -15px;
  z-index: 2;
}

/*有星星被點了，其他星星的顏色*/
/* line 126, ../../sass/reviews.scss */
.star-input:checked ~ .rating-label .rating-icon {
  color: #d9dad9;
}

/*當星星被hover時要換色*/
/* line 131, ../../sass/reviews.scss */
.rating-star-wrapper:hover .rating-label .rating-icon,
.rating-star-wrapper:hover .rating-label-half .rating-icon {
  color: orange;
}

/*在hover評分時，剩下的星星的顏色*/
/* line 137, ../../sass/reviews.scss */
.star-input:hover ~ .rating-label .rating-icon,
.star-input:hover ~ .rating-label-half .rating-icon {
  color: #ffd07b;
}
