@charset "UTF-8";
/*大片背景*/
/*分隔線*/
/*draktext*/
/*首頁主要粉紅色*/
/*首頁上方nav被hover顏色*/
/*header語言＆購物車text顏色*/
/*header語言＆購物車hover顏色*/
/*內文說明文字*/
/*側邊箭頭顏色*/
/*側邊導覽列*/
/*台灣代購 商品細項 標題顏色*/
/*猜你喜歡按鈕*/
/*猜你喜歡按鈕 hover*/
/*名人推薦標籤*/
/*名人推薦標籤*/
/*首頁猜你喜歡綠色新品tag*/
/*＝＝＝商品＝＝＝*/
/*新品tag*/
/*免運tag*/
/*強調文字的粉色*/
/*解說文字藍*/
/*賣光拉*/
/*售價橘*/
/*售價背景*/
/*喜歡按鈕*/
/*加入購物車按鈕*/
/*立刻買*/
/*＝＝＝購物車＝＝＝*/
/*購物車步驟灰*/
/*login*/
/*購物車body(最外面那層)*/
/* line 6, ../../sass/sopping_cart1.scss */
.sp-body {
    background: white;
    border: 1px solid #d9dad9;
    padding: 20px;
}

/*步驟列*/
/* line 15, ../../sass/sopping_cart1.scss */
section.cartstep ul {
    margin: 0;
    padding: 0;
}
    /* line 18, ../../sass/sopping_cart1.scss */
    section.cartstep ul li {
        width: calc(33.33% - 2px);
        margin: 0;
        height: 60px;
        border: 1px solid pink;
        background: #C3C3C3;
    }
        /* line 24, ../../sass/sopping_cart1.scss */
        section.cartstep ul li:nth-child(2) {
            margin: 0 3px;
        }

/*購物車購買內容 shopping-items-wrapper*/
/* line 33, ../../sass/sopping_cart1.scss */
section.sp-items-wrapper {
    margin-top: 20px;
    padding: 0;
    border: 1px solid #d9dad9;
    /*（好物市集、限時團購）購物車標題*/
    /*（好物市集、限時團購）購物車表格table*/
}
    /* line 38, ../../sass/sopping_cart1.scss */
    section.sp-items-wrapper .sp-items-title {
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: white;
        background: #919191;
        letter-spacing: 2px;
    }
        /* line 45, ../../sass/sopping_cart1.scss */
        section.sp-items-wrapper .sp-items-title img {
            width: 25px;
            margin: 0 5px 5px 0;
        }
        /* line 49, ../../sass/sopping_cart1.scss */
        section.sp-items-wrapper .sp-items-title span {
            color: white;
            font-weight: 600;
            font-size: 14px;
        }
    /* line 56, ../../sass/sopping_cart1.scss */
    section.sp-items-wrapper table.soppingcart-table {
        width: calc(100% - 20px);
    }
        /* line 58, ../../sass/sopping_cart1.scss */
        section.sp-items-wrapper table.soppingcart-table img {
            padding: 5px;
            width: 105px;
        }
        /* line 62, ../../sass/sopping_cart1.scss */
        section.sp-items-wrapper table.soppingcart-table tr.sp-table-title {
            height: 30px;
            font-size: 12px;
            border-bottom: 1px solid #d9dad9;
            color: #808080;
        }
        /* line 68, ../../sass/sopping_cart1.scss */
        section.sp-items-wrapper table.soppingcart-table th.sp-img {
            width: 12%;
        }
        /* line 71, ../../sass/sopping_cart1.scss */
        section.sp-items-wrapper table.soppingcart-table th.sp-text {
            width: 48%;
        }
        /* line 74, ../../sass/sopping_cart1.scss */
        section.sp-items-wrapper table.soppingcart-table th.sp-price {
            width: 11%;
        }
        /* line 77, ../../sass/sopping_cart1.scss */
        section.sp-items-wrapper table.soppingcart-table th.sp-qty {
            width: 11%;
        }
        /* line 80, ../../sass/sopping_cart1.scss */
        section.sp-items-wrapper table.soppingcart-table th.sp-total {
            width: 11%;
        }
        /* line 83, ../../sass/sopping_cart1.scss */
        section.sp-items-wrapper table.soppingcart-table th.sp-delete {
            width: 7%;
        }
        /* line 86, ../../sass/sopping_cart1.scss */
        section.sp-items-wrapper table.soppingcart-table tr.sp-item {
            border-top: 1px solid #d9dad9;
        }
            /* line 88, ../../sass/sopping_cart1.scss */
            section.sp-items-wrapper table.soppingcart-table tr.sp-item:nth-last-child(1) {
                border-bottom: 1px solid #d9dad9;
            }
            /* line 92, ../../sass/sopping_cart1.scss */
            section.sp-items-wrapper table.soppingcart-table tr.sp-item td h4 {
                padding: 0;
                margin: 0 0 5px 0;
                color: #595959;
                font-size: 14px;
                font-weight: bold;
            }
            /* line 99, ../../sass/sopping_cart1.scss */
            section.sp-items-wrapper table.soppingcart-table tr.sp-item td h5 {
                padding: 0;
                margin: 0;
                font-weight: normal;
                font-size: 13px;
                color: #808080;
                max-width: 350px;
                max-height: 38px;
                overflow: hidden;
            }
            /* line 109, ../../sass/sopping_cart1.scss */
            section.sp-items-wrapper table.soppingcart-table tr.sp-item td p.item-habi {
                height: 22px;
                font-weight: normal;
                line-height: 22px;
                font-size: 12px;
                margin-top: 5px;
                color: #FB5450;
            }
                /* line 116, ../../sass/sopping_cart1.scss */
                section.sp-items-wrapper table.soppingcart-table tr.sp-item td p.item-habi img {
                    width: 20px;
                    padding: 0;
                    margin: 0 5px 4px 0;
                }
            /* line 122, ../../sass/sopping_cart1.scss */
            section.sp-items-wrapper table.soppingcart-table tr.sp-item td p {
                margin: 0;
                font-weight: bold;
            }
            /* line 126, ../../sass/sopping_cart1.scss */
            section.sp-items-wrapper table.soppingcart-table tr.sp-item td strike {
                color: #808080;
                font-size: 12px;
            }
            /* line 131, ../../sass/sopping_cart1.scss */
            section.sp-items-wrapper table.soppingcart-table tr.sp-item td .qty-button span {
                display: inline-block;
                width: 20px;
            }
            /* line 135, ../../sass/sopping_cart1.scss */
            section.sp-items-wrapper table.soppingcart-table tr.sp-item td .qty-button i {
                color: #f7588c;
                cursor: pointer;
                padding: 0 5px;
                font-size: 18px;
            }
        /* line 144, ../../sass/sopping_cart1.scss */
        section.sp-items-wrapper table.soppingcart-table td.item-deleted {
            text-align: center;
            vertical-align: top;
            padding: 5px 0 0 0;
        }
            /* line 148, ../../sass/sopping_cart1.scss */
            section.sp-items-wrapper table.soppingcart-table td.item-deleted i {
                color: #808080;
                cursor: pointer;
                font-style: normal;
            }

/*加購商品*/
/* line 158, ../../sass/sopping_cart1.scss */
tr.add {
    width: 100%;
    background: white;
}
    /* line 161, ../../sass/sopping_cart1.scss */
    tr.add:nth-last-child(1) {
        border-bottom: 1px solid #d9dad9;
    }
    /* line 165, ../../sass/sopping_cart1.scss */
    tr.add .add-table tr {
        height: 50px;
        border-bottom: 1px solid #d9dad9;
        /*&:hover td.add-arrow{
  	background: $menuitem-hover;
  	color:white;
  }*/
    }
        /* line 168, ../../sass/sopping_cart1.scss */
        tr.add .add-table tr:nth-child(1) {
            border-top: 1px solid #d9dad9;
        }
        /* line 171, ../../sass/sopping_cart1.scss */
        tr.add .add-table tr:nth-last-child(1) {
            border-bottom: 0;
        }
    /* line 180, ../../sass/sopping_cart1.scss */
    tr.add .add-table td.add-arrow {
        width: 12%;
        background: #F7F7F7;
        text-align: center;
    }
    /* line 185, ../../sass/sopping_cart1.scss */
    tr.add .add-table td.add-img {
        width: 10%;
    }
        /* line 187, ../../sass/sopping_cart1.scss */
        tr.add .add-table td.add-img img {
            width: 55px;
            padding: 5px;
        }
    /* line 192, ../../sass/sopping_cart1.scss */
    tr.add .add-table td.add-text {
        width: 73%;
        font-size: 12px;
        max-height: 58px;
        overflow: hidden;
    }
        /* line 197, ../../sass/sopping_cart1.scss */
        tr.add .add-table td.add-text span {
            display: inline-block;
            color: #FB5450;
            margin: 0 5px;
            font-weight: bold;
            font-size: 14px;
        }
        /* line 204, ../../sass/sopping_cart1.scss */
        tr.add .add-table td.add-text p {
            display: inline;
            font-weight: normal;
            margin: 0;
            color: #53699A;
        }
    /* line 211, ../../sass/sopping_cart1.scss */
    tr.add .add-table td.add-deleted {
        width: 5%;
        /*background: yellow;*/
        text-align: center;
        vertical-align: top;
    }
        /* line 216, ../../sass/sopping_cart1.scss */
        tr.add .add-table td.add-deleted i {
            font-style: normal;
            font-size: 12px;
            cursor: pointer;
            color: #808080;
        }

/*消費滿額贈 premiums*/
/* line 229, ../../sass/sopping_cart1.scss */
.space {
    height: 15px;
}
/* line 232, ../../sass/sopping_cart1.scss */
.premiums-title {
    height: 40px;
    background: #95D7DA;
    border-left: 10px solid white;
    border-right: 10px solid white;
    color: white;
    text-align: center;
    font-weight: normal;
    letter-spacing: 2.5px;
}
/* line 242, ../../sass/sopping_cart1.scss */
.premiums-content {
    margin: 0 10px;
    border: 1px solid #95D7DA;
    border-top: 0;
}
    /* line 246, ../../sass/sopping_cart1.scss */
    .premiums-content .premiums-pic {
        width: 15%;
        text-align: center;
    }
    /* line 250, ../../sass/sopping_cart1.scss */
    .premiums-content .premiums-text {
        width: 85%;
    }
        /* line 252, ../../sass/sopping_cart1.scss */
        .premiums-content .premiums-text .premiums-name {
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            border-bottom: 1px solid #d9dad9;
            color: #595959;
        }
            /* line 258, ../../sass/sopping_cart1.scss */
            .premiums-content .premiums-text .premiums-name h2 {
                display: inline;
                font-weight: normal;
                font-size: 14px;
                color: #595959;
            }
        /* line 265, ../../sass/sopping_cart1.scss */
        .premiums-content .premiums-text .premiums-description {
            display: table;
            height: 100%;
            width: 100%;
            margin: 0;
            list-style-type: lower-alpha;
            color: #808080;
            font-size: 12px;
        }
            /* line 273, ../../sass/sopping_cart1.scss */
            .premiums-content .premiums-text .premiums-description li {
                display: table-cell;
                padding: 3px 5px 3px 0;
            }
                /* line 276, ../../sass/sopping_cart1.scss */
                .premiums-content .premiums-text .premiums-description li ol {
                    margin: 0;
                    padding: 0 0 0 20px;
                }
                    /* line 279, ../../sass/sopping_cart1.scss */
                    .premiums-content .premiums-text .premiums-description li ol li {
                        display: list-item;
                        list-style-type: decimal;
                        width: 100%;
                        padding: 0;
                    }
                /* line 286, ../../sass/sopping_cart1.scss */
                .premiums-content .premiums-text .premiums-description li h3 {
                    margin: 0;
                    font-weight: normal;
                    font-size: 12px;
                    color: #808080;
                }
                /* line 292, ../../sass/sopping_cart1.scss */
                .premiums-content .premiums-text .premiums-description li h4 {
                    margin: 0;
                    font-weight: normal;
                    font-size: 12px;
                    color: #808080;
                }
                    /* line 297, ../../sass/sopping_cart1.scss */
                    .premiums-content .premiums-text .premiums-description li h4 p {
                        display: inline;
                        font-weight: normal;
                        font-size: 12px;
                        color: #808080;
                    }
                /* line 305, ../../sass/sopping_cart1.scss */
                .premiums-content .premiums-text .premiums-description li.pd-list {
                    width: 40%;
                }
                /* line 308, ../../sass/sopping_cart1.scss */
                .premiums-content .premiums-text .premiums-description li.pd-name {
                    width: 40%;
                }
                /* line 311, ../../sass/sopping_cart1.scss */
                .premiums-content .premiums-text .premiums-description li.pd-stamp {
                    width: 20%;
                    vertical-align: middle;
                }
                    /* line 314, ../../sass/sopping_cart1.scss */
                    .premiums-content .premiums-text .premiums-description li.pd-stamp span {
                        height: 25px;
                        width: 95%;
                        display: inline-block;
                        color: #95D7DA;
                        border: 1px solid #95D7DA;
                        line-height: 25px;
                        text-align: center;
                    }
                        /* line 322, ../../sass/sopping_cart1.scss */
                        .premiums-content .premiums-text .premiums-description li.pd-stamp span.not-qualify {
                            color: #f7588c;
                            border: 1px solid #f7588c;
                        }

/*金額結算(但是不包含總計)*/
/* line 335, ../../sass/sopping_cart1.scss */
.total-wrapper {
    height: 40px;
    border-bottom: 1px solid #d9dad9;
}
    /* line 338, ../../sass/sopping_cart1.scss */
    .total-wrapper:last-child {
        border-bottom: none;
    }
    /* line 341, ../../sass/sopping_cart1.scss */
    .total-wrapper td.total-left {
        line-height: 40px;
        text-align: right;
        vertical-align: top;
        font-size: 13px;
        color: #808080;
        padding-right: 50px;
    }
        /* line 348, ../../sass/sopping_cart1.scss */
        .total-wrapper td.total-left h4 {
            font-size: 14px;
            line-height: 40px;
            display: inline;
            margin: 0 0 0 5px;
            color: #595959;
            font-weight: 600;
            text-transform: uppercase;
        }
        /* line 357, ../../sass/sopping_cart1.scss */
        .total-wrapper td.total-left h5 {
            font-size: 14px;
            line-height: 40px;
            display: inline;
            margin: 0 0 0 5px;
            color: #808080;
            font-weight: normal;
            text-transform: uppercase;
        }
        /* line 366, ../../sass/sopping_cart1.scss */
        .total-wrapper td.total-left select {
            margin-bottom: 3px;
        }
            /* line 368, ../../sass/sopping_cart1.scss */
            .total-wrapper td.total-left select:focus {
                outline: none;
                border: 1px solid #ff7c81;
            }
        /* line 373, ../../sass/sopping_cart1.scss */
        .total-wrapper td.total-left p.total-minus {
            display: inline-block;
            margin: 0;
            margin-right: -36px;
            padding-left: 21px;
            font-size: 15px;
            color: #595959;
        }
    /* line 382, ../../sass/sopping_cart1.scss */
    .total-wrapper td.total-right {
        text-align: left;
        vertical-align: middle;
        font-size: 14px;
        font-weight: bold;
        line-height: 40px;
        padding-left: 25px;
        /*p.total-minus{
  			display: inline-block;
  
  		}*/
    }
        /* line 388, ../../sass/sopping_cart1.scss */
        .total-wrapper td.total-right p {
            display: inline;
            margin: 0;
            font-size: 13px;
            font-weight: normal;
            cursor: pointer;
        }
    /* line 400, ../../sass/sopping_cart1.scss */
    .total-wrapper input.discount-code {
        width: 130px;
        height: 25px;
        color: #808080;
        font-weight: normal;
        font-size: 12px;
    }
        /* line 406, ../../sass/sopping_cart1.scss */
        .total-wrapper input.discount-code:focus {
            outline: none;
            border: 1px solid #ff7c81;
        }
    /* line 411, ../../sass/sopping_cart1.scss */
    .total-wrapper input.feedback-code {
        width: 163px;
        height: 25px;
        color: #808080;
        font-weight: normal;
        font-size: 12px;
    }
        /* line 417, ../../sass/sopping_cart1.scss */
        .total-wrapper input.feedback-code:focus {
            outline: none;
            border: 1px solid #ff7c81;
        }
    /* line 422, ../../sass/sopping_cart1.scss */
    .total-wrapper input.habi-radio {
        /*display:block;*/
        margin: 0 5px 0 0;
    }
    /* line 426, ../../sass/sopping_cart1.scss */
    .total-wrapper button.discount-code-submit {
        display: inline;
        width: 30px;
        height: 25px;
        background: #ccc;
        border: none;
    }
        /* line 432, ../../sass/sopping_cart1.scss */
        .total-wrapper button.discount-code-submit:focus {
            outline: none;
            background: #ff7c81;
        }
        /* line 436, ../../sass/sopping_cart1.scss */
        .total-wrapper button.discount-code-submit i {
            color: white;
            margin-bottom: 5px;
            -ms-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    /* line 442, ../../sass/sopping_cart1.scss */
    .total-wrapper span {
        font-weight: bold;
        color: #FB5450;
    }

/*總計*/
/* line 449, ../../sass/sopping_cart1.scss */
.sp-total-title {
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background: #f7588c;
    letter-spacing: 2.5px;
}
    /* line 456, ../../sass/sopping_cart1.scss */
    .sp-total-title span {
        font-size: 15px;
        color: white;
        font-weight: 600;
    }

/*訂購資訊 order info*/
/* line 466, ../../sass/sopping_cart1.scss */
.order-info, .payment-select {
    padding: 0;
    margin: 20px 0 0 0;
}
    /* line 469, ../../sass/sopping_cart1.scss */
    .order-info .order-info-title, .payment-select .order-info-title, .payment-select .payment-select-title {
        height: 50px;
        background: yellow;
        text-align: center;
        line-height: 50px;
        background: #f0f0f0;
        color: #595959;
        letter-spacing: 2.5px;
    }
    /* line 478, ../../sass/sopping_cart1.scss */
    .order-info .order-info-choice, .payment-select .order-info-choice {
        margin: 20px 0;
    }
        /* line 480, ../../sass/sopping_cart1.scss */
        .order-info .order-info-choice input, .payment-select .order-info-choice input {
            margin-right: 5px;
        }
        /* line 483, ../../sass/sopping_cart1.scss */
        .order-info .order-info-choice label, .payment-select .order-info-choice label {
            font-weight: normal;
            color: #808080;
            cursor: pointer;
            margin-right: 20px;
            text-transform: uppercase;
        }

    /* line 498, ../../sass/sopping_cart1.scss */
    .payment-select .payment-methods {
        padding: 50px 40px;
    }
        /* line 501, ../../sass/sopping_cart1.scss */
        .payment-select .payment-methods .payment-wrapper .payment-tab {
            height: 60px;
            background: #FAFAFA;
            line-height: 60px;
            font-size: 15px;
            padding: 0 0 0 20px;
            font-weight: normal;
            color: #595959;
            border: 1px solid #d9dad9;
            cursor: pointer;
        }
            /* line 511, ../../sass/sopping_cart1.scss */
            .payment-select .payment-methods .payment-wrapper .payment-tab img {
                width: 40px;
                margin: 0 5px 5px 20px;
            }
        /* line 516, ../../sass/sopping_cart1.scss */
        .payment-select .payment-methods .payment-wrapper .payment-content {
            display: block;
            cursor: pointer;
        }
            /* line 519, ../../sass/sopping_cart1.scss */
            .payment-select .payment-methods .payment-wrapper .payment-content.off-wrapper {
                display: none;
            }
            /* line 522, ../../sass/sopping_cart1.scss */
            .payment-select .payment-methods .payment-wrapper .payment-content .online-option, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option {
                padding: 20px 40px;
                font-size: 14px;
                border: 1px solid #d9dad9;
                border-bottom: 0;
                color: #595959;
            }
                /* line 528, ../../sass/sopping_cart1.scss */
                .payment-select .payment-methods .payment-wrapper .payment-content .online-option:last-child, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option:last-child {
                    border: 1px solid #d9dad9;
                }
                /* line 531, ../../sass/sopping_cart1.scss */
                .payment-select .payment-methods .payment-wrapper .payment-content .online-option input, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option input {
                    margin: 0 10px 0 0;
                }
                /* line 534, ../../sass/sopping_cart1.scss */
                .payment-select .payment-methods .payment-wrapper .payment-content .online-option img, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option img {
                    width: 100px;
                    margin: 0 0 0 10px;
                }
                /* line 538, ../../sass/sopping_cart1.scss */
                .payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo {
                    margin: 20px 10px 0 10px;
                    padding: 0;
                }
                    /* line 541, ../../sass/sopping_cart1.scss */
                    .payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv {
                        float: left;
                        width: calc(20% - 20px);
                        margin: 0 10px 20px 10px;
                        padding: 40px;
                        border: 1px solid #f0f0f0;
                        transition: .3s;
                        cursor: pointer;
                        position: relative;
                        background-size: 60%;
                        background-repeat: no-repeat;
                        background-position: center center;
                        /*背景*/
                    }
                        /* line 553, ../../sass/sopping_cart1.scss */
                        .payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:hover, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:hover {
                            border: 1px solid #FB5450;
                            transition: .3s;
                        }
                        /* line 557, ../../sass/sopping_cart1.scss */
                        .payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv.active, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv.active {
                            border: 1px solid #FB5450;
                        }
                        /* line 560, ../../sass/sopping_cart1.scss */
                        .payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv input, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv input {
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: none;
                        }
                        /* line 566, ../../sass/sopping_cart1.scss */
                        .payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv i, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv i {
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            font-size: 20px;
                            color: #FB5450;
                            display: none;
                        }
                            /* line 573, ../../sass/sopping_cart1.scss */
                            .payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv i.active, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv i.active {
                                display: inline;
                            }
                        /* line 578, ../../sass/sopping_cart1.scss */
                        .payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(1), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(1) {
                            background-image: url(../../images/pay/bank-logo1.gif);
                        }
                        /* line 581, ../../sass/sopping_cart1.scss */
                        .payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(2), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(2) {
                            background-image: url(../../images/pay/bank-logo2.gif);
                        }
                        /* line 584, ../../sass/sopping_cart1.scss */
                        .payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(3), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(3) {
                            background-image: url(../../images/pay/bank-logo3.gif);
                        }
                        /* line 587, ../../sass/sopping_cart1.scss */
                        .payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(4), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(4) {
                            background-image: url(../../images/pay/bank-logo4.gif);
                        }
                        /* line 590, ../../sass/sopping_cart1.scss */
                        .payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(5), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(5) {
                            background-image: url(../../images/pay/bank-logo5.gif);
                        }
                        /* line 593, ../../sass/sopping_cart1.scss */
                        .payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(6), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(6) {
                            background-image: url(../../images/pay/bank-logo6.gif);
                        }
                        /* line 596, ../../sass/sopping_cart1.scss */
                        .payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(7), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(7) {
                            background-image: url(../../images/pay/bank-logo7.gif);
                        }
                        /* line 599, ../../sass/sopping_cart1.scss */
                        .payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(8), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(8) {
                            background-image: url(../../images/pay/bank-logo8.gif);
                        }
                        /* line 602, ../../sass/sopping_cart1.scss */
                        .payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(9), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(9) {
                            background-size: 40%;
                            background-image: url(../../images/pay/bank-logo9.gif);
                        }

/*訂單完成*/
/* line 621, ../../sass/sopping_cart1.scss */
.sp-compelete-wrapper {
    margin-top: 20px;
    padding: 0;
    border: 1px solid #d9dad9;
    /*（好物市集、限時團購）購物車標題*/
}
    /* line 626, ../../sass/sopping_cart1.scss */
    .sp-compelete-wrapper .sp-compelete-title, .sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-payment-info-title {
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: white;
        background: #919191;
        font-size: 15px;
        letter-spacing: 2.5px;
    }
        /* line 634, ../../sass/sopping_cart1.scss */
        .sp-compelete-wrapper .sp-compelete-title span, .sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-payment-info-title span {
            color: white;
            font-weight: 600;
        }
    /* line 639, ../../sass/sopping_cart1.scss */
    .sp-compelete-wrapper .sp-compelete-content {
        background: white;
        padding: 30px 50px;
        /*ATM付款資訊*/
    }
        /* line 642, ../../sass/sopping_cart1.scss */
        .sp-compelete-wrapper .sp-compelete-content .sp-thankyou {
            text-align: center;
            border-bottom: 1px solid #d9dad9;
            padding: 0 0 30px 0;
        }
            /* line 646, ../../sass/sopping_cart1.scss */
            .sp-compelete-wrapper .sp-compelete-content .sp-thankyou h4 {
                margin: 0 0 20px 0;
                font-weight: normal;
                font-size: 17px;
                color: #595959;
            }
                /* line 651, ../../sass/sopping_cart1.scss */
                .sp-compelete-wrapper .sp-compelete-content .sp-thankyou h4:nth-child(1) {
                    margin-bottom: 0;
                }
            /* line 655, ../../sass/sopping_cart1.scss */
            .sp-compelete-wrapper .sp-compelete-content .sp-thankyou h5 {
                color: #808080;
                margin: 0 0 5px 0;
                font-weight: normal;
            }
                /* line 659, ../../sass/sopping_cart1.scss */
                .sp-compelete-wrapper .sp-compelete-content .sp-thankyou h5 p {
                    display: inline;
                }
            /* line 663, ../../sass/sopping_cart1.scss */
            .sp-compelete-wrapper .sp-compelete-content .sp-thankyou button {
                width: 200px;
                height: 45px;
                font-size: 15px;
                color: white;
                background: #1485CC;
                border: 0;
            }
                /* line 670, ../../sass/sopping_cart1.scss */
                .sp-compelete-wrapper .sp-compelete-content .sp-thankyou button:focus {
                    outline: 0;
                }
                /* line 673, ../../sass/sopping_cart1.scss */
                .sp-compelete-wrapper .sp-compelete-content .sp-thankyou button:hover {
                    background: #116da7;
                }
        /* line 679, ../../sass/sopping_cart1.scss */
        .sp-compelete-wrapper .sp-compelete-content .sp-payment-info {
            margin: 40px 16.66666667%;
            border: 1px solid #95D7DA;
            padding: 0;
        }
            /* line 683, ../../sass/sopping_cart1.scss */
            .sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-payment-info-title {
                background: #95D7DA;
                color: white;
            }
            /* line 688, ../../sass/sopping_cart1.scss */
            .sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-table {
                display: table;
                width: 100%;
            }
            /* line 692, ../../sass/sopping_cart1.scss */
            .sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-pic {
                height: 100%;
                width: 30%;
                text-align: center;
                display: table-cell;
                vertical-align: middle;
            }
            /* line 699, ../../sass/sopping_cart1.scss */
            .sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-text {
                width: 70%;
                display: table-cell;
            }
                /* line 702, ../../sass/sopping_cart1.scss */
                .sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-text .sp-paymen-info-bankname {
                    height: 30px;
                    line-height: 30px;
                    font-size: 16px;
                    border-bottom: 1px solid #d9dad9;
                    color: #595959;
                    padding: 0 0 0 5px;
                    font-weight: bold;
                    color: #595959;
                }
                    /* line 711, ../../sass/sopping_cart1.scss */
                    .sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-text .sp-paymen-info-bankname h2 {
                        display: inline;
                        font-weight: bold;
                        font-size: 16px;
                        color: #595959;
                    }
                /* line 718, ../../sass/sopping_cart1.scss */
                .sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-text .sp-paymen-info-description {
                    display: table;
                    width: 100%;
                    margin: 0;
                    list-style-type: lower-alpha;
                    color: #808080;
                    font-size: 12px;
                    padding: 0 0 0 5px;
                }
                    /* line 726, ../../sass/sopping_cart1.scss */
                    .sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-text .sp-paymen-info-description li {
                        width: 50%;
                        display: table-cell;
                        padding: 10px 5px 10px 0;
                        vertical-align: middle;
                    }
                        /* line 731, ../../sass/sopping_cart1.scss */
                        .sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-text .sp-paymen-info-description li h3 {
                            margin: 0;
                            font-weight: normal;
                            font-size: 13px;
                            color: #808080;
                        }
                        /* line 737, ../../sass/sopping_cart1.scss */
                        .sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-text .sp-paymen-info-description li p {
                            margin: 0;
                            font-weight: normal;
                            font-size: 12px;
                            color: #808080;
                        }
