@import "../utils/utils";
/*@import "../components/components";*/

.page-main {
    margin-top: 45px !important;
}

.ul-cart-steps > li {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    color: #999999;
    border-bottom: 3px solid #c6c7c6;
}

li.cart-step-active {
    border-bottom: 3px solid $primary;
}

.cart-step-active > .cart-step-text {
    color: $primary;
    font-weight: bold;
}

.cart-step-text {
    font-size: 12px;
}

.cart-step-arrow {
    position: absolute;
    left: 0;
}

/* ===============購物超商品細節 product=============== */
/* products list*/
.wrapper-cart-products {
    margin: .5em auto;
    background: #fff;

    .premium-txt {
        text-decoration: underline;
    }
}

.wrapper-cart-products ul {
    margin: 0;
    padding: 0;
}

.li-cart-product {
    padding: 10px 0px 0px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #f5f5f5;
}

.li-cart-product:last-of-type {
    border-bottom: none;
}

/*.s-product-table {
    width: 100%;
}

.s-product-table td {
    padding: 0 0 0 10px;
    font-size: 10px;
}

.s-product-title {
    max-width: 0;
}

.s-product-title h3 {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #565656;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.s-product-spec {
    max-width: 0;
    font-size: .9em;
    font-weight: normal;
    line-height: 2em;
    color: #999999;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.s-product-up {
    font-size: .9em;
    color: #999999;
}
*/

.cart2-total {
    float: right;
    margin-right: 10px;
    color: #FB5450;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.5em;
}

.cart2-coupon {
    display: inline-block;
    height: 33px;
    width: 26vw;
    min-width: 75px;
    max-width: 90px;
    font-size: .85em;
    line-height: 33px;
    text-align: center;
    color: #565656;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    background: #f9f9f9;
}

/*.s-product-img {
    width: 28%;
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    .s-product-img {
        width: 12%;
    }
}

@media screen and (min-width: 1025px) {
    .s-product-img {
        width: 15%;
    }
}

.s-product-img img {
    width: 100%;
}

.s-product-habi {
    font-size: .9em;
}

.s-product-habi img {
    margin: 0 5px 3px 0;
    width: 18px;
}

.s-product-habi p {
    display: inline-block;
    margin: 0;
    color: #FB5450;
    font-size: 100%;
}

.s-product-qty select {
    display: block;*/
/*-webkit-appearance: none;*/
/*position: relative;
    width: 100%;
    height: 33px;
    border-radius: 5px;
    border-color: #eaeaea;
    font-weight: normal;
    text-align: center;
    text-align-last: center;
    background: transparent;
    color: #565656;
    z-index: 100;
}

.s-product-qty select:focus {
    outline-color: #FB5450;
    outline-width: 2px;
}

.s-product-qty td {
    padding-top: 5px;
}

.s-product-total {
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
    color: #FB5450;
}

.s-product-total .s-main-total {
    margin: 0 5px 0 0;
}

@media screen and (min-width: 640px) {
    .s-product-total .s-main-total {
        padding-right: 8%;
    }
}

.s-product-total .s-coupon-btn {
    padding: 0;
    font-size: .7em;
    height: 33px;
    line-height: 33px;
    width: 25vw;
    min-width: 75px;
    max-width: 90px;
    border-radius: 5px;
    margin-bottom: 2px;
}

.s-product-total .grey-btn {
    border: 1px solid #ddd;
}

.s-product-delete {
    padding: 0 !important;
    vertical-align: top;
    text-align: center;
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    .s-product-delete {
        width: 8%;
    }
}

@media screen and (min-width: 1025px) {
    .s-product-delete {
        width: 8%;
    }
}

.s-product-delete a {
    color: #565656;
}

.s-select-wrapper {
    position: relative;
}

.s-select-wrapper label {
    margin: 0;
    width: 100%;
}

.s-select-wrapper label:after {
    content: '▾';
    display: block;
    position: absolute;
    top: 3px;
    bottom: 0;
    right: 5px;
    color: #999999;
    z-index: 100;
}*/

/*＝＝＝＝＝預購通知 notify start＝＝＝＝＝*/
/*.s-product-notify {
    color: #565656;
    font-size: .85em;
}

.s-product-notify td {
    padding: 5px 10px 0 10px;
}

.s-product-notify i {
    margin: 0 5px 0 0;
}

.s-product-notify div {
    padding: 3px;
    background: #f9f9f9;
}
*/
/*＝＝＝＝＝預購通知 notify end＝＝＝＝＝*/
/*＝＝＝＝＝活動通知 activity start＝＝＝＝＝*/
.s-product-activity {
    font-size: .85em;
    /*div{
    padding:3px;
    background: $softest-grey;
  }
  td{
    padding:5px 10px 0 10px;
  }
  i{
    margin:0 5px 0 0;
  }*/
}

/*.s-product-activity h5 {
    display: inline-block;
    margin: 0;
    font-weight: normal;
    color: #95D7DA;
}

.s-product-activity a {
    color: #565656;
    text-decoration: underline;
}

.s-product-activity.not-match h5 {
    color: #ff0068;
}

.s-product-activity.not-match a {
    color: #ff0068;
}*/

/*＝＝＝＝＝活動通知 activity end＝＝＝＝＝*/
.wrapper-cart {
    background: white;
    margin-top: 10px;
    /*margin: 10px 0px;*/
    /*margin: 1em 12px;*/
}

/*==============滿額贈 PREMIUM start================*/
.wrapper-cart-promotion {
    margin-top: 15px;
    padding: 0;
    font-size: 12px;
}

.wrapper-cart-promotion h5 {
    margin: 0;
    padding: 8px 0;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: normal;
    background: #95D7DA;
}

/*table*/
.promotion-table {
    padding: 10px 5px;
    border-bottom: 1px solid #eaeaea;
    font-size: 12px;
}

.promotion-table a {
    color: #707070;
}

.promotion-table:last-child {
    border: none;
}

.promotion-img {
    width: 25%;
}

@media screen and (min-width: 640px) {
    .promotion-img {
        width: 10%;
    }
}

.promotion-img img {
    width: 100%;
}

.promotion-content {
    padding: 0 0 0 5px;
    /*width: 75%;*/
    vertical-align: top;

    h4 {
        margin: 0;
        padding: 0;
        font-size: 1.2em;
        font-weight: bold;
    }

    h5 {
        margin: 0;
        padding: 0;
        text-align: left;
        font-size: .9em;
        background: white;
        color: #999999;
    }

    p {
        margin: 0;
        padding: 0;
        font-size: .9em;
        color: #999999;
    }
}



.promotion-tag {
    width: 25%;
    padding: 3px;
    min-width: 70px;
}

@media screen and (min-width: 640px) {
    .promotion-tag {
        width: 10%;
    }
}

.span-ok {
    display: inline-block;
    width: 100%;
    text-align: center;
    /*height: 24px;*/
    line-height: 28px;
    background-color: #48A38E;
    vertical-align: middle;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 12px;
}

.span-notok {
    display: inline-block;
    width: 100%;
    text-align: center;
    /* height: 28px; */
    line-height: 28px;
    background-color: #ffffff;
    vertical-align: middle;
    color: #EE5984;
    border: 1px solid #EE5984;
    border-radius: 2px;
    font-size: 12px;
}


/*==============滿額贈 PREMIUM end================*/
/*通用input style*/
.s-input-style {
    border: 1px solid #eaeaea;
    border-radius: 2px;
    height: 35px;
}

.s-input-style:focus {
    outline-color: #FB5450;
    outline-width: 2px;
}

/*==============habi start================*/
.cart-habi {
    font-size: 12px;
    background: white;
}

.cart-habi-title, .cart-coupon-title, .cart-eCash-title, .shipping-notify-title {
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #eaeaea;
    color: #565656;
}

.cart-habi-title img, .cart-coupon-title img, .cart-eCash-title img, .shipping-notify-title img {
    padding: 0 0px 5px 0;
    margin: 0 5px 0 0;
    width: 20px;
}

.cart-habi-title h4, .cart-coupon-title h4, .cart-eCash-title h4, .shipping-notify-title h4 {
    display: inline-block;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
}

.cart-habi-title span, .cart-coupon-title span, .cart-eCash-title span, .shipping-notify-title span {
    margin: 0 0 0 5px;
    font-size: .8em;
}

.cart-habi-content table {
    margin: auto;
}

@media screen and (min-width: 640px) {
    .cart-habi-content table {
        float: right;
        margin-right: 1em;
    }
}

.cart-habi-content td {
    padding: 5px 0;
}

.cart-habi-content input[type="radio"] {
    margin: 0 5px 0 0;
}

.cart-habi-content label {
    font-weight: normal;
    font-size: .9em;
    color: #565656;
}

/*==============優惠券 start================*/
.cart-coupon-title i {
    margin: 0 5px 0 0;
}

.cart-coupon-content {
    padding: 1em 1em;
}

.cart-coupon-content select {
    position: relative;
    width: 100%;
    height: 35px;
    border: 1px solid #eaeaea;
    background: transparent;
    border-radius: 2px;
    z-index: 50;
}

.cart-coupon-content select:focus {
    outline-color: #FB5450;
    outline-width: 2px;
}

.cart-coupon-content label {
    position: relative;
    font-weight: normal;
    color: #999999;
}

.cart-coupon-content label:after {
    content: '▾';
    display: block;
    position: absolute;
    top: 5px;
    bottom: 0;
    right: 10px;
    color: #999999;
    z-index: 100;
}

.input-coupon {
    -webkit-appearance: none;
    height: 35px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
}

.input-coupon:focus {
    outline-color: #FB5450;
    outline-width: 2px;
}

.submit-coupon {
    height: 35px;
    border: none;
    /*    @include size(95%,35px,8px);
    border: none;
    background-color: #F4F4F4;
    margin-left: 5%;
    color: #707070;*/
}

.wrapper-select-coupon {
    margin-top: 5px;
    /*padding: 0px 10px 0px 10px;*/
}


.unselect-coupon {
    height: 35px;
    background: #eaeaea;
}

/*==============優惠券 end================*/
/*==============購物金 start================*/
.cart-eCash-title i {
    margin: 0 5px 0 0;
}

.wrapper-input-eCash, .wrapper-shipping {
    padding: 1em 1em !important;
}
/*.wrapper-input-eCash input, .wrapper-shipping input {
  -webkit-appearance: none;
}*/

/*==============購物金 end================*/
/*==============運費說明 start================*/
.shipping-notify-title i {
    margin: 0 5px 0 0;
}

.wrapper-shipping p {
    margin: 0;
    text-align: center;
    font-size: .9em;
    color: #565656;
}

@media screen and (min-width: 640px) {
    .wrapper-shipping p {
        float: right;
    }
}

/*==============運費說明 end================*/
/*==============總金額table start================*/
.wrapper-price {
    position: relative;
}

.wrapper-price table {
    width: calc(100% - 20px);
    text-align: right;
    margin: 0 10px;
}

.wrapper-price tr:last-child {
    border: none;
}

.wrapper-price td {
    padding: 10px;
    font-size: .9em;
    color: #565656;
    border-bottom: 1px solid #eaeaea;
}

.wrapper-price .price-td {
    font-size: 1em;
    color: #FB5450;
}

@media screen and (min-width: 640px) {
    .wrapper-price .price-td {
        width: 40%;
    }
}

/*真的總金額*/
.price-total {
    width: 100%;
    height: 45px;
    background: #f7588c;
    color: white;
    font-size: .9em;
    text-align: center;
    line-height: 45px;
}

.price-total span {
    font-weight: 500;
    font-size: 1.3em;
}

/*==============總金額table end================*/
/*==============購物車tab start================*/
/*當前tab的active*/
.shopping-cart-tab {
    position: fixed;
    top: 55px;
    @include size(100vw, 45px);
    background: #ee4c78;
}

.shopping-cart-tab img {
    width: 25px;
    margin: 0 5px 7px 0;
}

.shopping-cart-tab ul {
    position: relative;

    li {
        position: absolute;
        padding-top: 5px;
        width: 50%;
        line-height: 35px;
        font-weight: 500;
        color: white;
        text-align: center;
        background: #cacaca;
    }
}

.shopping-cart-tab li.active {
    /*當前tab的active*/
    background: #ee4c78;
    z-index: 999;
    color: white;
}

.shopping-cart-tab li.active p {
    background: #32AEE7;
}

.shopping-cart-tab a:first-child li {
    left: 0;
}

.shopping-cart-tab a:first-child li.active:after {
    content: '';
    @include size(0,0);
    @include absolute(0,-30px,auto,auto);
    border-style: solid;
    border-width: 45px 0 0 30px;
    border-color: transparent transparent transparent #ee4c78;
}


.shopping-cart-tab a:last-child li {
    right: 0;
}

.shopping-cart-tab a:last-child li.active:after {
    content: '';
    @include size(0,0);
    @include absolute(0,auto,auto,-30px);
    border-style: solid;
    border-width: 0 0 45px 30px;
    border-color: transparent transparent #ee4c78 transparent;
}

.shopping-cart-tab span {
    @include size(105vw,5px);
    @include absolute(40px,auto,auto,0);
    background: $primary;
}

.shopping-cart-tab p {
    @include size(25px,25px,50%);
    display: inline-block;
    margin: 0 5px;
    line-height: 25px;
    background: #bdbdbd;
    color: white;
}

/*==============購物車tab end================*/
/*==============coupon modal start================*/
.coupon-modal {
    /*position: absolute;*/
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto !important;
    width: 90vw;
    min-width: 300px;
    height: 80vh;
    color: #565656;
}

.coupon-modal .am-modal-hd {
    background: #f5f5f5;
}

.coupon-modal .am-modal-bd {
    padding: 5px;
}

.coupon-modal .am-modal-dialog {
    background: white;
}

.coupon-discription {
    margin: 5px 0;
    font-size: .8em;
}

.c-table-body {
    overflow: auto;
    -ms-overflow-style: none;
    max-height: 50vh;
}

.c-table-body::-webkit-scrollbar {
    display: none;
}

.coupon-table {
    width: 100%;
    font-size: 1em;
    border-bottom: 1px solid #eaeaea;
}

.coupon-table.selected {
    background: #F9F3F7;
}

.coupon-table.coupon-disabled {
    background: #f9f9f9;
}

.s-coupon-input {
    width: 10%;
    padding: 0 5% 05px;
    font-size: .75em;
    color: #ff0068;
    line-height: 15px;
    vertical-align: middle;
    border-bottom: 1px solid #eaeaea;
}

.s-coupon-minus {
    text-align: left;
    padding-top: 5px;
}

.s-coupon-minus span {
    color: #FB5450;
}

.s-coupon-text {
    padding: 0 5px 5px 0;
    text-align: left;
    font-size: .9em;
}

.s-coupon-date {
    padding: 5px 0 0 5px;
    text-align: left;
    font-size: .8em;
    color: #9d9597;
    vertical-align: top;
}

.s-coupon-date.d-title {
    vertical-align: middle;
    width: 16%;
}

.coupon-table-btn {
    margin-top: 10px;
}

.coupon-table-btn .am-btn {
    width: 100px;
    margin: 10px;
}

/*==============coupon modal end================*/
/*=====================以下是以前的css請先忽略=========================*/
/*=====================以下是以前的css請先忽略=========================*/
/*=====================以下是以前的css請先忽略=========================*/
/*#wrapper-shipping-form {
  margin-bottom: 0;
  label {
    font-size: 14px;

    sup {
      color: red;
    }
  }

  input {
    &[type="text"] {
      @include input-style;
    }
    &[type="number"] {
      @include input-style;
    }
    &[type="email"] {
      @include input-style;
    }
  }
}*/
.select-state + .select2.select2-container.select2 span.select2-selection--single {
    height: 40px;
    border: 2px solid #eaeaea;
}

.select-state + .select2.select2-container.select2 span.select2-selection--single .select2-selection__rendered {
    height: 100%;
    line-height: 36px;
}

.select-state + .select2.select2-container.select2 span.select2-selection--single .select2-selection__arrow {
    height: 100%;
}

.select-state + .select2.select2-container.select2 span.select2-search__field {
    height: 40px;
}

.select-state + .select2.select2-container.select2:first-of-type {
    margin-bottom: 10px;
}

//購物車Footer上下一步驟按鈕
.wrapper-buttons {
    text-align: center;
    margin-bottom: 5px;
    padding-top: 5px;
    border-top: 2px solid #f5f5f5;
}

.wrapper-buttons .button-cart {
    display: inline-block;
    width: calc(47%);
    background: #EE5984;
    height: 42px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: bold;

    i {
        position: relative;
    }
}

.wrapper-buttons {
    .button-prev {
        background: $white;
        border: 1px solid $primary;
        color: $primary;

        i {
            left: -14px;
        }
    }

    .button-next {
        background: $primary;
        border: 1px solid $primary;
        color: $white;

        i {
            left: 14px;
        }
    }
}

.wrapper-cart-offer-products {
    margin-bottom: 15px;

    .li-cart-product {
        border-bottom: 2px solid #fff;
    }

    .container-cart-product {
        background: #f9f9f9;
    }
}

/* cart 3*/
.order-confirm-wrapper {
    background-color: #fff;
}

.order-confirm-text-wrapper {
    text-align: center;
    border: none;
    background-color: inherit;
    word-break: normal;
}

.order-confirm-thanks {
    font-size: 2.3rem;
}

.order-confirm-thanks-EN {
    font-size: 2rem;
    color: black;
}

.order-confirm-suggestion {
    font-size: 1.7rem;
}

.order-confirm-suggestion-EN {
    font-size: 1.4rem;
    font-style: normal;
}

.order-confirm-order-number {
    font-size: 1.4rem;
    color: #999999;
}

.cart-pay-info {
    margin-top: 2rem;
}

.cart-pay-panel-hd.am-panel-hd {
    background-color: #fff !important;
    border: none;
}

.cart-pay-panel-hd.am-panel-hd h3 {
    padding: .5rem 0;
    border-bottom: 1px solid #eaeaea;
}

.cart-pay-atm {
    font-size: 1.5rem;
    font-weight: bold;
    color: #7be5d7;
    display: inline-block;
    border: 2px solid #7be5d7;
    padding: 0px 15px;
}

.cart-pay-bank-name {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #565656;
}

.cart-pay-bank-sub-name {
    font-size: 1.4rem;
    color: #737373;
    font-weight: bold;
}

.cart-pay-bank-account {
    font-size: 1.4rem;
    color: #737373;
    font-weight: bold;
}

.cart-pay-final-message {
    font-size: 1.4rem;
    color: #565656;
}

.payment-methods {
    margin: 0;
    padding-bottom: 1rem;
}

.payment-methods-option-icon {
    width: 3.5rem;
    margin-right: 1rem;
}

.payment-methods-category-li {
    border-bottom: 1px solid #eaeaea !important;
    padding: 2rem 0;
}

.payment-methods-category-li:last-of-type {
    border-bottom: none !important;
    padding-bottom: 0;
}

.payment-methods-category-title {
    padding-left: .6rem;
    font-weight: bold;
}

.payment-title {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    /*    color: $black !important;*/
    span {
        color: $secondary;
        font-size: 12px;
    }
}

.payment-methods .am-active .am-accordion-title.payment-methods-subTitle {
    background-color: #f9f9f9;
}

.payment-methods-choice-active {
    border: 1px solid $primary !important;
    -webkit-box-shadow: rgba(187, 188, 188, 0.5) 0px 0px 7px 1px;
    box-shadow: rgba(187, 188, 188, 0.5) 0px 0px 7px 1px;

    &:after {
        font-family: FontAwesome;
        content: "\f058";
        @include absolute($right:.3rem,$bottom: -.5rem);
        color: $primary;
        text-align: center;
        font-size: 2.2rem;
    }
}

.payment-methods-choices {
    margin-top: .5rem;
}

.payment-methods-choice-li {
    position: relative;
    padding: .5rem;
    margin: .5rem;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #eaeaea;
}

.payment-methods-choice-li-avg-1 {
    width: calc(100% - 1rem) !important;
}

.payment-methods-choice-li-avg-2 {
    width: calc(50% - 1rem) !important;
}

.payment-methods-label {
    display: block;
    font-weight: normal;
    margin: 0;
}

.payment-methods input[type="radio"] {
    display: none;
}

.payment-methods-img-wrapper {
    height: 7rem;
    text-align: center;
}

.payment-methods-bank-info {
    height: auto;
}

.payment-methods-credit-card {
    width: 100%;
    max-width: 16rem;
}

.payment-methods-online-logo {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    max-width: 15rem;
}

.payment-methods-affin-bank {
    width: 100%;
    max-width: 11rem;
}

.payment-methods-am-online {
    width: 100%;
    max-width: 11rem;
}

.payment-methods-cimb-clicks {
    width: 100%;
    max-width: 10.5rem;
}

.payment-methods-esa-pay {
    width: 100%;
    max-width: 11rem;
}

.payment-methods-fpx-business {
    width: 100%;
    max-width: 10rem;
}

.payment-methods-hong-leong {
    width: 100%;
    max-width: 11rem;
}

.payment-methods-maybank {
    width: 100%;
    max-width: 11rem;
}

.payment-methods-rhb-now {
    width: 100%;
    max-width: 11rem;
}

.payment-methods-web-cash {
    width: 100%;
    max-width: 10rem;
}

.payment-methods-7-eleven {
    width: 100%;
    max-width: 6rem;
}


/*switch*/
.onoffswitch {
    position: relative;
    width: 75px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;

    &:before {
        content: "ON";
        padding-left: 10px;
        background-color: #F7588C;
        color: #FFFFFF;
    }

    &:after {
        content: "OFF";
        padding-right: 10px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
    }
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 41px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.total-txt {
    color: #707070;
    font-size: 12px;
}

.total-price {
    @include font-style(14px,$primary,bold);
}

.total-title {
    font-size: 14px;
    color: #212121;
    font-weight: bold;
}


.ship-addr {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    display: block;
    float: right
}

@media only screen and (max-width : 320px) {
    .ship-addr {
        width: 160px;
    }
}


.ship-title {
    font-weight: bold;
}

.sel-goods-coupon {
    font-size: 12px;
    height: 20px;
    width: 55px;
    border-radius: 7px;
    border: 1px solid #F0648F;
    color: #F0648F;
    padding: 2px;
    background-color: white;
}

.used-goods-coupon {
    font-size: 12px;
    height: 20px;
    width: 55px;
    border-radius: 7px;
    border: 1px solid #48A38E;
    color: #48A38E;
    padding: 2px;
    background-color: white;
}

.div-auto-discount {
    font-size: 12px;
    padding-left: 10px;
    background-color: #FAFAFA;
    height: 30px;
    width: 100% !important;
    line-height: 30px;

    .ad-ok {
        color: #49A38E;
    }

    .ad-ok-name {
        color: #707070;
        text-decoration: underline;
    }

    .ad-no-ok {
        color: #ff0068;
    }

    .ad-nook-name {
        color: #FF0068;
        text-decoration: underline;
    }
}

.more-title {
    text-align: center;
    color: #707070;
    font-size: 13px;
}

select {
    text-align: center;
    text-align-last: center;
}

p {
    margin: 0px;
}

.DropDownStyle {
    height: 40px;
    border: 2px solid #eaeaea;
    color: #757575;
}

.am-selected {
    width: 100%;
}

.ship-info {
    width: 100%;
    clear: both;
    padding-top: 10px;
    padding-bottom: 60px;
}

.iframe-rwd {
    position: relative;
    padding-top: 30px;
    height: 100%;
}

.iframe-rwd iframe {
    @include size(100%,100%);
    @include absolute(0,auto,auto,0);
}



/*=====Facebook 訂單通知 start =====*/
.fb-messenger-wrap {
    background: white;
    margin-bottom: 70px;
    border: 1px solid #d9dad9;
}

.fb-messenger-header {
    text-align: center;
    padding: 5px 0;
    background-color: #f0f0f0;
    margin-bottom: 8px;
    border-bottom: 1px solid #d9dad9;
}

.fb-messenger-content {
    text-align: center;
    margin: 10px;
}

.fb-messenger-content p {
    font-size: 12px;
    margin-bottom: 10px;
}

.fb-messenger-content button {
    -webkit-appearance: none;
    border: none;
    background-color: #f0f0f0;
    color: #bbbcbc;
    font-size: 12px;
    padding: 3px 10px;
}

.fb-messenger-content button .am-icon-check-circle-o {
    color: #689b94;
    font-size: 16px;
}
/*=====Facebook 訂單通知 end =====*/


/*=====20200716更改部分整理 =====*/
//blockMsg
.blockUI {
    z-index: 9999 !important;
}

.addr-panel1 {
    @include size(100%,50px);
    line-height: 2;
    background: white;
    padding: 10px;
}

.cart-wrapper {
    padding: 5px;
}


/*==============看更多折扣方式 start================*/
.more-discounts-block {
    background-color: #FAFAFA;
    margin: 0px
}
/*==============看更多折扣方式  end================*/
/*==============折扣券  start================*/
.wrapper-input-coupon {
    padding: 10px 10px 0px 10px;
}
/*==============折扣券 end================*/
/*==============收件人資訊(新) start===========*/
.receiving-info {
    @include size(100%,auto);
    background-color: white;
    padding: 7px;
    font-size: 12px;
}

.edit-btn {
    width: 10%;
    display: inline-block;
    right: 0px;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}
/*==============收件人資訊(新) end===========*/
/*==============購物金 start================*/
.cart-eCash-title i {
    margin: 0 5px 0 0;
}

.wrapper-input-eCash, .wrapper-shipping {
    padding: 1em 1em !important;
}
/*.wrapper-input-eCash input, .wrapper-shipping input {
  -webkit-appearance: none;
}*/

/*==============購物金 end================*/
/*==============運費說明 start================*/
.shipping-notify-title i {
    margin: 0 5px 0 0;
}

.wrapper-shipping p {
    margin: 0;
    text-align: center;
    font-size: .9em;
    color: #565656;
}

@media screen and (min-width: 640px) {
    .wrapper-shipping p {
        float: right;
    }
}

/*==============運費說明 end================*/
/*==============總金額table start================*/
.wrapper-price {
    position: relative;
}

.wrapper-price table {
    width: calc(100% - 20px);
    text-align: right;
    margin: 0 10px;
}

.wrapper-price tr:last-child {
    border: none;
}

.wrapper-price td {
    padding: 10px;
    font-size: .9em;
    color: #565656;
    border-bottom: 1px solid #eaeaea;
}

.wrapper-price .price-td {
    font-size: 1em;
    color: #FB5450;
}

@media screen and (min-width: 640px) {
    .wrapper-price .price-td {
        width: 40%;
    }
}

/*真的總金額*/
.price-total {
    @include size(100%, 45px);
    background: #f7588c;
    color: white;
    font-size: .9em;
    text-align: center;
    line-height: 45px;
}

.price-total span {
    font-weight: 500;
    font-size: 1.3em;
}



//cart3 本次消費將獲得txt
.will-get-hacoin {
    text-align: center;
    padding-bottom: 10px;

    p {
        @include font-style(14px, $pro-text-grey);
    }

    span {
        color: $primary;
    }
}



//=========活動贈品===========//
.activity-premium {
    background: #FEFBF3;
    padding: .5rem 0;
    margin: 10px auto;
}

.activity-premium-top {
    display: inline-block;
    border-bottom: 1px solid $auxiliary2;
}

.activity-premium-body {
    border-bottom: 1px dashed $auxiliary2;
}

.activity-premium-footer {
    font-size: 12px;
    color: $auxiliary1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 14px;
        padding-bottom: 1px;
    }

    p span {
        text-decoration: underline;
    }
}

/*.premium-info-block {
    padding: .5rem;
}*/

.activity-premium-body-sm {
    display: flex;
    align-items: center;

    .activity-premium-info {
        width: 60% !important;
    }

    .activity-premium-img {
        padding-left: 7px;
    }
}

.activity-premium-info {
    width: calc(100% - 90px);
    display: flex;
    flex-direction: column;

    p {
        max-width: 93%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 13px;
        color: #707070;
    }

    span {
        font-size: 10px;
        color: #BBBBBE;
    }

    .activity-premium-price {
        color: #F0648F;
        font-size: 12px;
    }
}

/*.activity-premium-img {
    width: 70px;
    padding-right:7px;
}*/

.activity-premium-tag {
    @include font-style(12px,$primary,bold);
    padding: 0 5px;
    border-radius: 20px;
    border: 1px solid $primary;
    white-space: nowrap;
}

.activity-premium-title {
    font-size: 14px;
    padding: 0 5px;
}

.reminder-deadline {
    font-size: 12px;
    color: $soft-pink;
    display: inline-block;

    img {
        padding-bottom: 2px;
    }
}

//2019小改版 Cart2修改

.show-more-payment-methods {
    width: 100%;
    background: #fff;
    color: $pro-black;
    border: none;
    font-size: 12px;
    padding-top: 1rem;

    span {
        margin-left: 5px;
    }
}

.payment-methods-contain {
    .payment-methods-title {
        font-size: 12px;
        color: $pro-black;
        padding: 15px 0;

        &:before {
            content: "❙";
        }
    }
}

.get-how-muc-habi {
    @include fixed(auto,0,11%,0);
    margin: 0 auto;
    font-size: 12px;
    color: $pro-text-grey;
    white-space: nowrap;
    text-align: center;

    .get-how-muc-habi-info {
        padding: 6px 10px 1px 5px;
        display: inline-block;
        background: $auxiliary2;
        border-radius: 20px;
        -webkit-box-shadow: rgba(187, 188, 188, 1) 0px 0px 7px 1px;
        box-shadow: rgba(187, 188, 188, 1) 0px 0px 7px 1px;
    }

    img {
        padding: 0 0 5px 0;
        margin: 0 5px 0 0;
        width: 20px;
    }

    h4 {
        display: inline-block;
    }

    span {
        color: $primary;
    }
}

.extra-coins-txt {
    p {
        @include font-style(12px,$pro-black);
    }

    span {
        @include font-style(12px, $primary,bold);
    }
}

/*分期付款銀行*/
.installment-pay {
    span {
        text-align: center;
        @include font-style(14px,$pro-black,bold);
    }

    .payment-methods-img-wrapper {
        height: 5rem;
    }

    img {
        max-width: 10rem;
    }
}

/*贈品*/
.premium-modal-item {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    padding: 15px 0;
    display: flex;
    align-items: center;

    &:last-child {
        border-bottom: 0;
    }
}


.premium-modal-close {
    position: absolute;
    top: 3%;
    right: 3%;
}

.premium-modal-date {
    background: #f5f5f5;
    line-height: 1.2;
    padding: 10px 3px;

    h5 {
        color: #E65E5E;
        font-size: 14px;
    }

    span {
        text-align: center;
        color: $pro-text-grey;
        font-size: 0.875rem;
    }
}

.premium-goods {
    width: 75px;

    img {
        width: 100%;
    }
}

.promotion-modal-info {

    h4 {
        color: $auxiliary1;
    }

    span {
        color: $primary;
    }
}

.promotion-modal-info-list {
    ul li {
        position: relative;
        color: $pro-text-grey;

        &:before {
            content: "-";
            padding: 3px;
        }
    }
}



.premium-modal {
    height: calc(100% - 45px) !important;

    .modal-header {
        border-bottom: none;
        position: relative;
        justify-content: center;
    }

    .modal-title {
        position: relative;
        color: $pro-text-grey;
    }

    .modal-content {
        border: none !important;
    }

    .modal-footer {
        border-top: none !important;

        .am-btn {
            background-color: $primary;
            border-color: $primary;
        }
    }
}

.premium-info-block {
    ul {
        li.premium-info-item {
            border-bottom: 1px dashed $dotted-grey;
            width: 100%;
            background: $white;
            color: $hw-secondary;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;

            &:last-child {
                border-bottom: 0;
            }

            .premium-info {
                display: flex;
                align-items: center;
                width: 94%;

                span {
                    font-size: 12px;
                }
            }
            /*i {
                    font-size: 20px;
                }*/
            &:active, &:hover, &:focus {
                background: $white;
                color: $hw-secondary;
                box-shadow: none;
            }
        }

        .cart-premium-tag {
            background: $auxiliary1;
            color: $white !important;
            padding: 2px 4px !important;
        }

        .premium-tag {
            white-space: nowrap;
            color: $auxiliary1;
            border: 1px solid $auxiliary1;
            padding: 0px 8px;
            border-radius: 20px;
            font-size: 0.875rem;
            margin-right: 8px;
        }

        .premium-date {
            display: inline-block;
            color: #E65E5E;
            text-align: start;
        }

        .premium-txt {
            color: $pro-text-grey;
            line-height: 1.7;
            white-space: initial;
        }
    }
}

.premium-check {
    width: 25px;
}


//未符合滿額贈

.unqualified-block ul li.premium-modal-item {
    position: relative;
    border-bottom: 1px dashed $gray-100 !important;

    &:after {
        content: "";
        @include size(100%,100%);
        @include absolute(0,auto,auto,0);
        background: #fff;
        z-index: 1;
        opacity: .4;
    }

    &:last-child {
        border-bottom: none !important;
    }
}

.shop-now-line {
    position: relative;
    text-align: center;
    border-bottom: 1px solid $auxiliary2;
    height: 30px;
    font-size: 14px;
    margin-bottom: 10px;

    a {
        @include absolute(15px,0,auto,0);
        color: $pro-text-grey;
        text-decoration: underline;
        background: #fff;
        width: 100px;
        margin: 0 auto;
    }
}

.premium-tips {
    color: $primary;
    font-size: 12px;
    display: block;

    span {
        margin-top: 10px;
    }

    h6 {
        font-size: 20px;
        display: inline-block;
    }
}

.container-lp-product {
    .reminder-deadline {
        display: block;
        font-size: 13px;
        background: #FCEFEF;
    }
}

//200521商品明細頁面優化
.event-list a {
    padding: 0 !important;
    color: $pro-black;
}

.event-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.full-tags {
    color: $auxiliary1;
    background: $auxiliary2;
    font-size: 12px;
    padding: 2px 5px;
}

.event-list-price {
    color: $primary;
    font-size: 12px;

    span {
        font-size: 14px;
    }
}

.event-list li {
    border: 1px dashed #eaeaea !important;
    border-right: 0 !important;
    border-left: 0 !important;

    &:last-child {
        border-bottom: 0 !important;
    }

    &:first-child {
        border-top: 0 !important;
    }
}

.product-percent-discount {
    font-size: 14px;
}


.product-tab-title {
    color: $primary;
}

.promotions-tag a {
    color: $auxiliary1;
}

.flagship-store a {
    color: $pro-black;
}


.modal-content-block {
    bottom: 0 !important;
    top: auto !important;
    height: auto;
}


.modal-content-row {
    height: 7rem;
    position: relative;
}

.modal-content-col {
    height: 100%;
    vertical-align: top;
    display: inline-block;
}

.modal-content-col-close {
    width: 25px;
    height: 25px;
    text-align: center;
    position: absolute;
    top:1%;
    right:3%;

    .modal-content-close {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 25px;

        &::after, &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            top: 40%;
            left: 0;
            background: #9d9597;
        }

        &::before {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        &::after {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        /*&:hover::after, &:hover::before {
            background: #f7e7e7;
        }*/
    }
}


.premium-out-of-stock {
    position: absolute;
    left: 0;
    right: 0;
    color: $white;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*=====20200716更改部分整理 =====*/
