
/* === COLORS ===*/
$columnBgk: #fff;
$icon-grey: #c6c7c6;
$softest-grey: #f9f9f9;
$soft-grey: #f5f5f5;
$dotted-grey: #eaeaea;
$medium-text-grey: #999999;
$pro-text-grey: #737373;
$mouse-grey:#9d9597;
$pro-black: #565656;
$retro-green: #5CA098;
$turquoise: #7be5d7;
$sky-blue: #6ac3f7;
$red-on-delivery: #ff8f70;
$yellow-highlight: #FDD517;
$reddish-fuchsia: #f54954;
$fuchsia: #EE5984;
$strong-fuchsia:  #ff0068;
$very-pinky: #f8849a;
$pinky: #f9898d;
$box-pinky:#FF888E;
$flabby-pink: #f7e7e7;
$happy-orange: #ffbc59;
$dark-bottom-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.2);
/* === FONT ===*/

/* === SIZES ===*/
$top-nav-height: 55px;
$body-max-width: 767px;
$margin-centered: 0 auto;
$mini-mobile-break: 380px;

/* === BORDERS ===*/
$border-soft-grey: 1px solid $soft-grey;
$border-dotted-grey: 2px dotted $dotted-grey;
