/* compileCompressed: ../css/$1.css*/
@import "variables";
@import "mixins";

.page-main-product {
  background: #fff;
}

.wrapper-breadcrumb {
  .am-breadcrumb {
    background-color: $flabby-pink;
    margin-bottom: 0;

    li {
      color: $pinky;

      a {
        color: $pinky;
      }
    }
  }
}

.container-lp-product {
  margin: 10px;
  padding: 10px;
  background: #fff;
  border: 1px solid $dotted-grey;
}

.wrapper-lp-product-img {
  text-align: center;

  img {
    width: 100%;
    max-width: 300px;
  }
}

.wrapper-brand {
  margin-top: 10px;

  h6 {
    padding: 5px 0;
    border-bottom: 1px solid $dotted-grey;

    a {
      color: $pinky;
      text-decoration: underline;
    }
  }
}

.wrapper-lp-slogans {
  ul {
    padding-left: 5px;
    border-left: 5px solid $strong-fuchsia;
  }
}

.strong-fuchsia {
  color: $strong-fuchsia;
}

.wrapper-lp-features {
  ul {
    list-style-type: disc;
    font-size: 14px;
    color: $pro-text-grey;
  }
}

.wrapper-lp-price {
  text-align: right;
}

.original-price {
  font-size: 14px;
  color: $pro-text-grey;
  text-decoration: line-through;
}

.actual-price {
  color: $strong-fuchsia;
  font-size: 28px;
}

.wrapper-lp-options {
  margin-top: 2rem;
}
// @include select2-style("select-lp-product-type");
@include select2-style("select-lp-qty");

.wrapper-lp-promo-products {
  margin-top: 2rem;

  span {
    font-size: 14px;
    color: $pro-black;
  }
}

.wrapper-lp-promo-list {
  padding: 10px;
  border: 1px solid $dotted-grey;

  .list-lp-promo-items {
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $dotted-grey;

      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }

    .am-g:last-of-type {
      margin-top: 10px;
    }
  }
}

.wrapper-promo-img {
  text-align: center;

  img {
    width: 100%;
    max-width: 90px;
  }
}

.wrapper-promo-item-title {
  overflow: hidden;
  height: 48px;
  padding: 0 0 0 10px !important;
}

.wrapper-promo-price {
  text-align: right;

  .single-promo-price {
    font-size: 13px;
    color: $pro-text-grey;
  }

  .total-promo-price {
    font-weight: bold;
    color: $fuchsia;
    font-size: 18px;
  }
}

.wrapper-select-lp-promo-qty {
  padding: 0 10px !important;
}

.wrapper-promo-add-btn {
  text-align: center;
}

.btn-add-promo-item {
  @include pinky-btn;
  border: 0;
  padding: 5px 10px;
  height: 28px;
  width: 100%;
  max-width: 90px;
  font-size: 14px;
}

div.wrapper-panel-premium {
  margin-top: 10px;
  border: 1px solid $turquoise;

  header {
    background: $turquoise;
    color: #fff;
    text-align: center;
  }
}

.link-premium {
  display: block;
}

.container-premium-hd {
  border-top: 1px solid $turquoise;
  padding: 10px 5px;
  color: $pro-black;
  background: $softest-grey;
  max-height: 65px;
  overflow: hidden;

  .wrapper-qualified {
    text-align: center;
  }

  .container-title-premium-hd {
    overflow: hidden;
  }

  .span-premium-qualified {
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
    font-size: 14px;
    padding: 0 14px;

    &.qualified-ok {
      color: $turquoise;
    }

    &.qualified-not {
      color: $pinky;
    }
  }
}

.container-premium-bd {
  padding: 15px 10px;

  img {
    border: none;
    width: 100%;
    max-width: 75px;
  }

  i {
    color: $icon-grey;
    font-size: 35px;
    margin-top: 20px;
  }
}

.container-premium-img {
  text-align: center;
}

.list-premium-features {
  padding: 0 10px;
  margin: 0;
  color: $pro-text-grey;
}

section.container-lp-accordion {
  background: #fff;
  margin: 10px;
  border: 1px solid $dotted-grey;
  -webkit-box-shadow: none;
  box-shadow: none;

  .am-accordion-title {
    background-color: #fff !important;
  }

  .wrapper-accordion-content {
    padding: 10px;
  }
}

section.container-suggested-slider {
  padding: 0 10px;
  margin: 20px 0;

  .am-nav-tabs {
    border-bottom: none;
  }

  .tabs-box-like {
    background: $box-pinky;
    color: #fff;
    padding: 5px 20px;
    border-radius: 0 10px 0 0;
    border: 1px solid $dotted-grey;
    border-radius: none;
  }

  .tabs-box-most-viewed {
    background: $mouse-grey;
    color: #fff;
    padding: 5px 20px;
    border-radius: 0 10px 0 0;
    border: 1px solid $dotted-grey;
    border-radius: none;
  }

  .am-slider {
    padding: 10px 0;
  }
}

section.product-info {
  .product-info-accordion-title {
    border-bottom: 3px solid $box-pinky;

    &:hover {
      color: $box-pinky;
    }
  }

  .am-active {
    .product-info-accordion-title {
      color: $box-pinky;
    }

    .after-sales-accordion-title {
      color: $pro-text-grey;
    }
  }

  .after-sales-accordion-title {
    border-bottom: 3px solid $dotted-grey;

    &:hover {
      color: $pro-text-grey;
    }
  }

  dt.am-accordion-title {
    color: $pro-text-grey;

    &:before {
      content: "";
    }
  }
}

#buy-footer {
  background-color: #fff;

  .buy-footer {
    &-btn-container {
      max-width: 320px;
      height: 100%;
      line-height: calc(65px - 2rem);
      padding: 1rem;
      text-align: center;
    }

    &-btn.am-btn-default {
      text-transform: uppercase;
      width: 20rem;
      color: #fff;
      font-weight: bold;

      &:first-of-type {
        // margin-right: 2rem;
        background-color: $strong-fuchsia;
        border: 1px solid $strong-fuchsia;
      }
    }
  }
}

#buyModal {
  margin-top: 57px;
  height: calc(100% - 58px) !important;

  .modal-content {
    padding: 2rem 1rem 0;

    &-itemWrapper {
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $soft-grey;
    }

    &-row {
      height: 7rem;
      position: relative;
    }

    &-col {
      height: 100%;
      vertical-align: top;
      display: inline-block;

      &-img {
        width: 70px;
      }

      &-specs {
        color: $pro-black;
        width: calc(100% - 75px - 24px);
        padding: 0 0 0 10px;

        &.offer {
          width: calc(100% - 75px);
        }
      }

      &-close {
        width: 30px;
        height: 30px;
        text-align: center;
        position: absolute;
      }
    }

    &-productBrand {
      margin-right: 1rem;
      color: $reddish-fuchsia;
      font-weight: bold;
    }
    // close X style
    &-close {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;

      &:hover {
        &::after,
        &::before {
          background: $flabby-pink;
        }
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        top: 40%;
        left: 0;
        background: $mouse-grey;
      }

      &::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &::after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }

    &-rounded {
      &::after,
      &::before {
        border-radius: 40%;
      }
    }

    &-img {
      width: 100%;
    }

    &-title {
      font-size: 1.4rem;
      line-height: 1.6rem;
      height: 34px;
      overflow: hidden;
    }

    &-price {
      height: calc(100% - 34px);

      &-original,
      &-special {
        position: relative;
      }

      &-special {
        color: $reddish-fuchsia;
        font-weight: bold;
        font-size: 2rem;
        top: 1rem;

        &.offer {
          font-size: 1.5rem;
          top: 1.5rem;
          position: relative;
        }
      }

      &-original {
        top: 1rem;
        padding-left: 0.4rem;
        color: $mouse-grey;
        font-size: 1.4rem;
      }
    }

    &-wrapper {
      padding: 1.5rem 0;
      border-bottom: 1px solid $soft-grey;
    }

    &-optionsTitle {
      display: inline-block;
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
    }

    &-productOptions {
      padding: 0;
      margin: 0;
      padding-right: 30px;
    }

    &-productOption-li {
      display: inline-block;
      border: 1px solid $dotted-grey;
      padding: 0.4rem 1rem;
      margin: 0.5rem 0.2rem;
      border-radius: 5px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    &-productOption-active {
      border: 1px solid $reddish-fuchsia;
      color: $reddish-fuchsia !important;
    }

    &-input {
      visibility: hidden;
      position: absolute;
    }

    &-productOption-label {
      font-weight: normal;
      margin: 0;
    }

    &-optionText {
      word-break: break-word;
    }

    &-optionText {
      font-size: 1.4rem;
    }

    &-sectionTitle {
      font-size: 1.5rem;
    }

    &-select-wrapper {
      text-align: right;
      padding-right: 1.5rem !important;

      &.offer {
        padding-top: 5px !important;
        padding-right: 0 !important;
      }
    }

    &-spinner {
      width: 100px;
      display: inline-block;
      border: 1px solid $dotted-grey;
      height: 36px;

      > .spinner-element {
        text-align: center;
        display: inline-block;
        vertical-align: top;
        line-height: 33px;
        width: calc(100% / 3);
        height: 100%;
        margin-left: -4px;

        &:nth-of-type(n + 2) {
          margin-left: -4px;
        }
      }

      &-input {
        input {
          width: 100%;
          border: none;
          text-align: center;
          height: calc(100%-2px);

          &:focus {
            outline: none;
          }
        }
      }

      &-sign {
        font-size: 2rem;
        display: inline-block;
        height: 100%;
        width: 100%;
        position: relative;
        font-weight: bold;

        &[data-spin="down"] {
          color: $dotted-grey;
        }

        &[data-spin="up"] {
          color: $box-pinky;
          top: 2px;
        }
      }
    }

    &-promo-title-wrapper {
      padding-bottom: 1rem;
    }

    &-promo-icon {
      width: 2rem;
      vertical-align: text-bottom;
    }

    &-items {
      padding-left: 2rem !important;
      padding-right: 1.5rem !important;
      margin: 0;
    }

    &-item {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $soft-grey;

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    &-offer-items {
      margin: 0;
      padding: 0;
    }
  }
}

#modal-content-buy-footer {
  background-color: #fff;

  .modal-content {
    &-btn-container {
      max-width: 320px;
      height: 100%;
      line-height: calc(65px - 2rem);
      padding: 1rem;
      text-align: center;
    }

    &-buy-btn.am-btn-default {
      text-transform: uppercase;
      width: 11rem;
      color: #fff;
      font-weight: bold;

      &:first-of-type {
        margin-right: 2rem;
        background-color: $strong-fuchsia;
        border: 1px solid $strong-fuchsia;
      }

      &:last-of-type {
        background-color: $turquoise;
        border: 1px solid $turquoise;
      }
    }
  }
}

.select-type-dropdown {
  &-content {
    color: $strong-fuchsia;
    z-index: 1009;
    -webkit-box-shadow: rgba(50, 50, 50, 0.1) 0 0 7px 1px !important;
    box-shadow: rgba(50, 50, 50, 0.1) 0 0 7px 1px !important;

    &_EN {
      font-style: italic;
      width: 20rem;
    }

    &_ZH {
      width: 17rem;
    }
  }

  &-message {
    font-size: 1.4rem;

    &_ZH {
      font-size: 1.5rem;
    }
  }
}
