//一筆一筆活動
li.event-card {
    position: relative;

    a {
        border-radius: 10px;
        display: block;
        background-color: #fff;
        box-shadow: 0px 2px 14px 0px $pro-text-grey;
        overflow: hidden;
        border-bottom: 2.5px solid #eaeaea;
        color: #999999;
    }

    .card-head {
        position: relative;
        width: 100%;
        min-height: 126px;
        height: 100%;

        img {
            @include size(100%,100%);
            object-fit: cover;
        }
    }

    .card-body {
        border-bottom: 1px solid $dotted-grey;

        .event-date {
            @include text-overflow(100%,2);
            min-height: 40px;
            color: $medium-text-grey;
        }

        .event-title {
            margin: 0;
            @include text-overflow(100%,2);
            min-height: 42px;
            @include font_style(14px,#565656,bold);

            @media screen and (max-width: 650px) {
                font-size: 12px;
            }
        }
    }

    .card-footer {
        @include font_style(14px,#2067fb,bold);
    }
}



