@charset "UTF-8";
/* compileCompressed: ../css/$1.css*/
/* === COLORS ===*/
/*新品tag*/
/* === FONT ===*/
/* === SIZES ===*/
/* === BORDERS ===*/
.row-link-advert {
    background: #fff;
}

.am-slider-a1 {
    box-shadow: none;
}


.container-link-advert img {
    width: 100%;
}

.link-advert {
    display: block;
}

.announcement {
    background-color: white;
    color: #565656;
    font-size: 1.4rem;
    padding: .5rem 1rem;
    line-height: 1.8rem;
    text-align: justify;
}

.announcement-icon-wrapper {
    text-align: right;
    font-size: 1.6rem;
}

/*.middle-slider {
  @include no-box-shadow;
  margin: 0;
}
*/
.middle-panel {
    margin-top: 10px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #f5f5f5;
}

.middle-panel .am-panel-hd {
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
}

.hot-item i {
    margin-right: 5px;
}

/*WOW精選*/
.best-choice {
    position: relative;
}

.best-choice img {
    width: 100%;
}

.best-choice .best-choice-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.best-choice .best-choice-wrapper ul {
    margin: 0;
    padding: 0;
    height: 65%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.best-choice .best-choice-wrapper ul li {
    width: calc(33.33% - 3.2%);
    height: calc(100% - 5%);
    margin: 2.5%;
    background: white;
    text-align: center;
    font-weight: bold;
    color: #565656;
}

.best-choice .best-choice-wrapper ul li:nth-child(1) {
    margin-right: 0;
}

.best-choice .best-choice-wrapper ul li:nth-child(2) {
    margin: 2.5% 2%;
}

.best-choice .best-choice-wrapper ul li:nth-child(3) {
    margin-left: 0;
}

.best-choice .best-choice-wrapper ul li .best-choice-text {
    height: 20%;
    width: 100%;
    display: table;
}

.best-choice .best-choice-wrapper ul li .best-choice-text p {
    display: table-cell;
    vertical-align: middle;
}

.best-choice .best-choice-more {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
}

/*下方區標題*/
.index-section-title {
    /*line-height: 50px;*/
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    color: #737373;
    border-bottom: 2px dotted #eaeaea;
    padding: 10px 0;
}

.index-section-title img {
    width: 100%;
}

.index-section-title i {
    margin-right: 5px;
}

/*下方區外層*/
.index-section-wrapper {
    background: white;
    margin-top: 10px;
    padding: 0 5px 10px 5px;
}

.index-section-wrapper ul {
    margin: 0;
    padding: 0;
}

.index-section-wrapper ul li {
    border: 1px solid #eaeaea;
    position: relative;
}

.index-section-wrapper ul li .index-items-pic {
    position: relative;
}

.index-section-wrapper ul li .index-items-pic img {
    width: 100%;
}

.index-section-wrapper ul li .index-items-text {
    padding: 5px;
}

.index-section-wrapper ul li .index-items-text h3 {
    margin: 0;
    height: 43px;
    overflow: hidden;
    font-size: 0.85em;
    font-weight: normal;
    color: #565656;
}

.index-section-wrapper ul li .index-items-text h4 {
    margin: 0;
    display: inline-block;
    color: #FB5450;
    font-size: 1.1em;
    white-space: nowrap;
}

.index-section-wrapper ul li .index-items-text p {
    margin: 0;
    display: inline-block;
    font-size: 0.7em;
    line-height: 2.5em;
    color: #999999;
}

.index-section-wrapper ul li .index-items-text .commet-n-star {
    height: 25px;
    line-height: 25px;
    text-align: right;
}

.index-section-wrapper ul li .index-items-text .commet-n-star i {
    color: #999999;
    font-size: 0.7em;
}

.index-section-wrapper ul li .index-items-text .commet-n-star p {
    margin: 0;
}

.index-section-wrapper ul li .index-items-text .commet-n-star p.index-minus {
    margin-right: 2px;
}

.index-section-wrapper ul li .index-items-text .commet-n-star .p-stars {
    display: inline-block;
    position: absolute;
}

.index-section-wrapper ul li .index-items-text .commet-n-star .p-stars ul {
    font-size: 18px;
    color: #FEC126;
    display: inline-block;
}

.index-section-wrapper ul li .index-items-text .commet-n-star .p-stars ul li {
    font-size: .7em;
    width: auto;
    height: auto;
    margin: 0 0 0 2px;
    border: 0;
    padding: 0;
}

/*熱銷商品*/
.hot-sale li {
    width: calc(50% - 10px);
    margin: 10px 5px 0 5px;
    border: 1px solid #aaa;
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
    .hot-sale li {
        width: calc(33.3% - 10px);
    }
}

@media screen and (min-width: 1025px) {
    .hot-sale li {
        width: calc(33.3% - 10px);
    }
}

.hot-sale .hot-sale-img {
    width: 50%;
}

.hot-sale.line-up li {
    width: 100%;
    margin: 10px 0 0 0;
}

.hot-sale.line-up .index-items-pic {
    float: left;
    width: 105px;
    max-width: 105px;
}

.hot-sale.line-up .index-items-text {
    float: left;
    padding: 5px 5px 0 5px;
    width: calc(100% - 105px);
}

.hot-sale.line-up .index-items-text h3 {
    margin-bottom: 27px;
}

.hot-sale.line-up .index-items-text h4 {
    white-space: nowrap;
}

/*腳*/
#section-products-display {
    margin-top: 10px;
}

.list-item-catalogue-section:nth-of-type(even) {
    border-left: 1px solid #f5f5f5;
}

.list-item-catalogue-section:nth-of-type(1n+3) {
    border-top: 1px solid #f5f5f5;
}

.link-popular-section {
    display: block;
}

.container-popular-section {
    margin: 15px 0px 15px 5px;
    position: relative;
    padding: 0 5px;
}

.container-popular-section .title-container-popular-section {
    padding-left: 5px;
}

.img-container-popular-section {
    text-align: center;
    position: absolute;
    margin-right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-popular-section {
    min-width: 43px;
    max-width: 40%;
}

.title-popular-section {
    color: #565656;
}

.subtitle-popular-section {
    font-size: 78%;
    color: #999999;
}

@media screen and (max-width: 380px) {
    .container-popular-section {
        margin: 15px 0px 15px 0px;
        position: relative;
        padding: 0 5px;
        line-height: 1.6rem;
    }

    .title-popular-section {
        font-size: 79%;
    }

    .subtitle-popular-section {
        font-size: 75%;
    }
}

#section-company-promises {
    /* margin-top: 20px;*/
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#section-company-promises > div.container-company-promises {
    text-align: center;
    margin: 15px 0px;
    padding: 0 10px;
    border-right: 2px dotted #eaeaea;
}

#section-company-promises > div.container-company-promises:last-of-type {
    border-right: none;
}

.img-company-promises {
    min-width: 43px;
    max-width: 21%;
}

.title-container-company-promises {
    color: #999999;
}

.title-company-promises {
    font-size: 80%;
}

.title-company-promises_EN {
    line-height: 1.8rem;
    display: inline-block;
}

.subtitle-company-promises {
    font-size: 70%;
}

.release a {
    font-size: 1.4rem;
}

.company-col a {
    font-size: 1.4rem;
}

.wrapper-input-voucher {
    margin-bottom: 10px;
}

.fa-desktop {
    margin-right: .5rem;
}

/*＝＝＝＝美妝市集＝＝ beauty_market ＝＝*/
.some-market-banner {
    margin-top: 5px;
    padding: 0;
}

.some-market-banner img {
    width: 100%;
    height: auto;
}

/*點我看更多*/
.index-seemore {
    display: block;
    border: 1px solid #EE5984;
    color: #EE5984;
    text-align: center;
    line-height: 3em;
    font-size: .9em;
    margin-top: 10px;
}

.index-seemore i {
    margin-right: 5px;
}
