@import "../../utils/utils";

//2020Presale
.presale-wrapper {
    .goods-neme {
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-weight: 400;
        min-height: 42px;
    }
}