
.icon-user:before { content: '\e800'; } /* '' */
.icon-user-1:before { content: '\e801'; } /* '' */
.icon-user-2:before { content: '\e802'; } /* '' */
.icon-user-3:before { content: '\e803'; } /* '' */
.icon-user-5:before { content: '\e804'; } /* '' */
.icon-phone-outline:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-phone-1:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-search-1:before { content: '\e809'; } /* '' */
.icon-search-3:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\e80b'; } /* '' */
.icon-menu-outline:before { content: '\e80c'; } /* '' */
.icon-cart:before { content: '\e80d'; } /* '' */
.icon-fast-food:before { content: '\e815'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */
.icon-user-4:before { content: '\f061'; } /* '' */
.icon-opencart:before { content: '\f23d'; } /* '' */
.icon-search-2:before { content: '\f50d'; } /* '' */