@charset "UTF-8";
/*$font-family-sans-serif: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif !default;
$font-family-base: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif !default;*/
.button-next, .button-prev {
  top: 50%;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  font-size: 18px; }

.button-next {
  right: 6px; }

.button-prev {
  left: 6px; }

.swiper-pagination-bullet-active {
  color: #fff; }

.article-title {
  font-size: 18px;
  height: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.article-content {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

/*.article-card {
    .card-title {
        @include text-overflow(auto, 2);
    }

    .card-text {
        @include text-overflow(auto, 3);
    }

    .text-overflow2 {
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}*/
.text-overflow2 {
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.share-facebook {
  color: #fff;
  background-color: #3c5a99; }
  .share-facebook:hover {
    color: #fff;
    background-color: #2e4474; }

.share-instagram:hover {
  color: #9B1989; }

.share-google:hover {
  color: #dd4b39; }

.ha-goods:hover {
  color: transparent; }

.ha-goods-pic img {
  display: block;
  max-width: 100%;
  height: auto; }

.ha-goods-content {
  background: white;
  padding: 5px; }

.ha-tag {
  border-radius: 2px;
  font-size: 12px;
  padding: 0px 5px; }

.ha-tag-style1 {
  background-color: #e3eae9;
  color: #689b94; }

.ha-tag-style2 {
  background: rgba(255, 0, 95, 0.1);
  color: #ee5984; }

.ha-goods-name {
  font-size: 12px;
  font-weight: normal;
  color: #000;
  margin: 5px 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: auto;
  min-height: 28px;
  /* min-height: 40px; �S����BS�ɭn���̤p��40px*/ }

.ha-goods-price {
  color: #ee5984;
  font-weight: bold;
  margin: 0; }

.ha-goods-origin-price {
  text-decoration: line-through;
  font-size: 12px;
  vertical-align: text-bottom;
  padding-top: 0;
  margin-left: 2px;
  color: #BBBCBC;
  font-weight: normal; }

.ha-viewd {
  margin: 0;
  font-size: 12px;
  color: #BBBCBC;
  font-weight: 700; }

/* �����P�P�˦� */
.rating-wrapper {
  display: inline-block; }

.rating-avg {
  display: none; }

.rating-count {
  display: inline-block;
  font-size: 12px;
  font-family: "�L�n�������ץ�","�L�n������","Microsoft JhengHei","AHeiti TC","LiHei Pro","�s�ө���";
  color: #BBBCBC; }

/*0818�s�W*/
.love-icon {
  --heart-color: #EE5984;
  --heart-active-color: #EE5984;
  --bg-color: white;
  position: relative;
  width: 10px;
  height: 10px;
  display: inline-block;
  color: #CFD0D0; }
  .love-icon label {
    font-size: 14px; }
  .love-icon input {
    position: absolute;
    opacity: 0; }
    .love-icon input:checked ~ * {
      --heart-color: #EE5984;
      color: #EE5984; }
    .love-icon input:checked ~ i {
      animation: scale-out-elastic 1.2s ease-out reverse forwards; }
    .love-icon input:checked ~ .lines .line::before {
      animation: slide-left-right 0.4s ease-in forwards; }
    .love-icon input:checked ~ .ring {
      background: var(--heart-color);
      animation: scale-out-bigger 0.75s cubic-bezier(0, 1, 0.5, 1) forwards; }
      .love-icon input:checked ~ .ring::before {
        animation: scale-out 0.75s cubic-bezier(0, 1, 0.5, 1) forwards; }
  .love-icon .lines {
    position: absolute;
    top: 10px;
    z-index: 1;
    width: 10px;
    height: 10px;
    pointer-events: none; }
    .love-icon .lines .line {
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 1px;
      opacity: 0.6; }
      .love-icon .lines .line:nth-child(1) {
        transform: rotate(90deg) translate(20px); }
      .love-icon .lines .line:nth-child(2) {
        transform: rotate(150deg) translate(20px); }
      .love-icon .lines .line:nth-child(3) {
        transform: rotate(210deg) translate(20px); }
      .love-icon .lines .line:nth-child(4) {
        transform: rotate(270deg) translate(20px); }
      .love-icon .lines .line:nth-child(5) {
        transform: rotate(330deg) translate(20px); }
      .love-icon .lines .line:nth-child(6) {
        transform: rotate(390deg) translate(20px); }
      .love-icon .lines .line::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--heart-color);
        transform: scaleX(0);
        transform-origin: left; }

@keyframes slide-left-right {
  50% {
    transform: scaleX(1);
    transform-origin: left; }
  50.1% {
    transform-origin: right; }
  100% {
    transform-origin: right; } }

@keyframes scale-out {
  to {
    transform: scale(1.02); } }

@keyframes scale-out-bigger {
  to {
    transform: scale(1.5); } }

.blog-bn-pagination .swiper-pagination-bullet-active {
  background: #969797; }

#category-filter .popover-body {
  min-width: 200px; }
  #category-filter .popover-body .dropdown-item {
    white-space: normal !important; }
    #category-filter .popover-body .dropdown-item:hover {
      background: #F9F9F9;
      color: #689B94; }

.category-menu a:hover, a:active {
  color: #689B94 !important;
  position: relative; }

.category-menu .active {
  color: #689B94 !important; }
