@charset "UTF-8";
/*大片背景*/
/*分隔線*/
/*draktext*/
/*首頁主要粉紅色*/
/*首頁上方nav被hover顏色*/
/*header語言＆購物車text顏色*/
/*header語言＆購物車hover顏色*/
/*內文說明文字*/
/*側邊箭頭顏色*/
/*側邊導覽列*/
/*台灣代購 商品細項 標題顏色*/
/*猜你喜歡按鈕*/
/*猜你喜歡按鈕 hover*/
/*名人推薦標籤*/
/*名人推薦標籤*/
/*首頁猜你喜歡綠色新品tag*/
/*＝＝＝商品＝＝＝*/
/*新品tag*/
/*免運tag*/
/*強調文字的粉色*/
/*解說文字藍*/
/*賣光拉*/
/*售價橘*/
/*售價背景*/
/*喜歡按鈕*/
/*加入購物車按鈕*/
/*立刻買*/
/*＝＝＝購物車＝＝＝*/
/*購物車步驟灰*/
/*login*/
/*.am-modal.am-modal-active.am-modal-login{
	@include transform(translateY(-40%));
}
*/
/* line 7, ../../sass/login.scss */
.login-wrapper {
    background: white;
    padding: 25px;
}

/* line 12, ../../sass/login.scss */
.login-title {
    background: #f0f0f0;
    padding-bottom: 15px;
    color: #595959;
}

/* line 18, ../../sass/login.scss */
.login-content {
    background: #f0f0f0;
}

/*表單樣式*/
/* line 24, ../../sass/login.scss */
.login-form {
    float: initial;
    /*忘記密碼*/
    /*還不是會員*/
    /*臉書*/
    /*隱私權條款*/
}
/* line 26, ../../sass/login.scss */
.login-form .am-form-group {
    margin: 0;
    position: relative;
}
/* line 30, ../../sass/login.scss */
.login-form .am-form-group .input-wrapper {
    background: white;
    padding: .5em 0 .5em .5em;
}
/* line 33, ../../sass/login.scss */
.login-form .am-form-group .input-wrapper.id-wrapper {
    position: relative;
}
/* line 35, ../../sass/login.scss */
.login-form .am-form-group .input-wrapper.id-wrapper:before {
    content: '';
    width: calc(100% - 16px);
    height: 1px;
    background: #f0f0f0;
    position: absolute;
    bottom: 0;
}
/* line 45, ../../sass/login.scss */
.login-form .am-form-group input {
    width: 90%;
    border: 0;
}
/* line 48, ../../sass/login.scss */
.login-form .am-form-group input:focus {
    box-shadow: none;
}
/* line 52, ../../sass/login.scss */
.login-form .am-form-group .logoin-icon {
    width: 10%;
    display: inline-block;
    color: #808080;
    line-height: 2em;
    text-align: center;
    margin-top: 5px;
    font-size: 15.5px;
}
/* line 60, ../../sass/login.scss */
.login-form .am-form-group .logoin-icon .am-icon-lock {
    font-size: 18px;
    margin-top: 7px;
}
/* line 65, ../../sass/login.scss */
.login-form .am-form-group .login-btn-wrapper {
    padding: 0;
}
/* line 67, ../../sass/login.scss */
.login-form .am-form-group .login-btn-wrapper .login-btn {
    background: #ff0068;
    color: white;
    width: 100%;
    border: 0;
    padding: .7em 1em;
    font-weight: bold;
}
/* line 74, ../../sass/login.scss */
.login-form .am-form-group .login-btn-wrapper .login-btn:focus {
    border: 0;
    outline: 0;
}
/* line 78, ../../sass/login.scss */
.login-form .am-form-group .login-btn-wrapper .login-btn:hover {
    background: #de005b;
}
/* line 85, ../../sass/login.scss */
.login-form .forget-password {
    font-size: 12px;
    padding: .5em 0;
    color: #808080;
}
/* line 91, ../../sass/login.scss */
.login-form .new-member {
    font-size: 13px;
    padding: .5em 0;
    color: #808080;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 1.3em;
}
/* line 99, ../../sass/login.scss */
.login-form .facebook-wrapper {
    padding: 0;
}
/* line 101, ../../sass/login.scss */
.login-form .facebook-wrapper .facebook-btn {
    background: #344E97;
    color: white;
    width: 100%;
    border: 0;
    padding: .7em 1em;
    font-weight: bold;
    position: relative;
}
/* line 109, ../../sass/login.scss */
.login-form .facebook-wrapper .facebook-btn:focus {
    border: 0;
    outline: 0;
}
/* line 113, ../../sass/login.scss */
.login-form .facebook-wrapper .facebook-btn:hover {
    background: #263a71;
}
/* line 116, ../../sass/login.scss */
.login-form .facebook-wrapper .facebook-btn i {
    font-size: 1.5em;
    position: absolute;
    left: 1em;
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* line 126, ../../sass/login.scss */
.login-form .login-description {
    font-size: 12px;
    margin-top: 1em;
    color: #595959;
}
