@charset "UTF-8";

.sp-body {
    background: white;
    border: 1px solid #d9dad9;
    padding: 20px;
}

/*步驟列*/
section.cartstep ul {
    margin: 0;
    padding: 0;
}

section.cartstep ul li {
    width: calc(33.33% - 2px);
    margin: 0;
    height: 60px;
    border: 1px solid pink;
    background: #C3C3C3;
}

section.cartstep ul li:nth-child(2) {
    margin: 0 3px;
}

/*購物車購買內容 shopping-items-wrapper*/
section.sp-items-wrapper {
    margin-top: 20px;
    padding: 0;
    border: 1px solid #d9dad9;
    /*（好物市集、限時團購）購物車標題*/
    /*（好物市集、限時團購）購物車表格table*/
}

section.sp-items-wrapper .sp-items-title {
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background: $gray-500;
    letter-spacing: 2px;
}

section.sp-items-wrapper .sp-items-title img {
    width: 25px;
    margin: 0 5px 5px 0;
}

section.sp-items-wrapper .sp-items-title span {
    color: white;
    font-weight: 600;
    font-size: 14px;
}

section.sp-items-wrapper table.soppingcart-table {
    width: calc(100% - 20px);
}

section.sp-items-wrapper table.soppingcart-table img {
    padding: 5px;
    width: 105px;
}

section.sp-items-wrapper table.soppingcart-table tr.sp-table-title {
    height: 30px;
    font-size: 12px;
    border-bottom: 1px solid #d9dad9;
    color: #808080;
}

section.sp-items-wrapper table.soppingcart-table th.sp-img {
    width: 12%;
}

section.sp-items-wrapper table.soppingcart-table th.sp-text {
    width: 45%;
}

section.sp-items-wrapper table.soppingcart-table th.sp-coupon {
    width: 9.25%;
}

section.sp-items-wrapper table.soppingcart-table th.sp-price {
    width: 9.25%;
}

section.sp-items-wrapper table.soppingcart-table th.sp-qty {
    width: 9.25%;
}

section.sp-items-wrapper table.soppingcart-table th.sp-total {
    width: 9.25%;
}

section.sp-items-wrapper table.soppingcart-table th.sp-delete {
    width: 3%;
}

section.sp-items-wrapper table.soppingcart-table tr.sp-item {
    border-top: 1px solid #d9dad9;
}

section.sp-items-wrapper table.soppingcart-table tr.sp-item:nth-last-child(1) {
    border-bottom: 1px solid #d9dad9;
}

section.sp-items-wrapper table.soppingcart-table tr.sp-item td {
    max-width: 0;
}

section.sp-items-wrapper table.soppingcart-table tr.sp-item td h4 {
    padding: 0;
    margin: 0 0 5px 0;
    color: #595959;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

section.sp-items-wrapper table.soppingcart-table tr.sp-item td h5 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 13px;
    color: #808080;
    max-width: 350px;
    max-height: 38px;
    overflow: hidden;
}

section.sp-items-wrapper table.soppingcart-table tr.sp-item td p.item-habi {
    height: 22px;
    font-weight: normal;
    line-height: 22px;
    font-size: 12px;
    margin-top: 5px;
    color: #FB5450;
}

section.sp-items-wrapper table.soppingcart-table tr.sp-item td p.item-habi img {
    width: 20px;
    padding: 0;
    margin: 0 5px 4px 0;
}

section.sp-items-wrapper table.soppingcart-table tr.sp-item td p {
    margin: 0;
    font-weight: bold;
}

section.sp-items-wrapper table.soppingcart-table tr.sp-item td strike {
    color: #808080;
    font-size: 12px;
}

section.sp-items-wrapper table.soppingcart-table tr.sp-item td .qty-button span {
    display: inline-block;
    width: 20px;
}

section.sp-items-wrapper table.soppingcart-table tr.sp-item td .qty-button i {
    color: #f7588c;
    cursor: pointer;
    padding: 0 5px;
    font-size: 18px;
}

section.sp-items-wrapper table.soppingcart-table td.item-deleted {
    text-align: center;
    vertical-align: top;
    padding: 5px 0 0 0;
}

section.sp-items-wrapper table.soppingcart-table td.item-deleted i {
    color: #808080;
    cursor: pointer;
    font-style: normal;
}

/*＝＝＝＝＝折價券table內樣式 start＝＝＝＝＝*/
td.coupon a {
    padding: 5px 8px;
    border: 1px solid #FF005B;
    color: #FF005B;
    transition: .3s;
}

td.coupon a:hover {
    background: #FF005B;
    color: white;
    transition: .3s;
}

td.coupon.use a {
    padding: 5px 8px;
    border: 1px solid #d9dad9;
    color: #d9dad9;
    cursor: pointer;
}

td.coupon.use a:hover {
    background: white;
    color: #d9dad9;
}

td.coupon.use p {
    padding: 5px 8px;
    border: 1px solid #d9dad9;
    color: #d9dad9;
}

td.coupon.use p:hover {
    background: white;
    color: #d9dad9;
}

/*＝＝＝＝＝折價券table內樣式 end＝＝＝＝＝*/
/*加購商品*/
tr.add {
    width: 100%;
    background: white;
}

tr.add:nth-last-child(1) {
    border-bottom: 1px solid #d9dad9;
}

tr.add .add-table tr {
    height: 50px;
    border-bottom: 1px solid #d9dad9;
}

tr.add .add-table tr:nth-child(1) {
    border-top: 1px solid #d9dad9;
}

tr.add .add-table tr:nth-last-child(1) {
    border-bottom: 0;
}

tr.add .add-table td.add-arrow {
    width: 12%;
    background: #F7F7F7;
    text-align: center;
}

tr.add .add-table td.add-img {
    width: 10%;
}

tr.add .add-table td.add-img img {
    width: 55px;
    padding: 5px;
}

tr.add .add-table td.add-text {
    width: 73%;
    font-size: 12px;
    max-height: 58px;
    overflow: hidden;
}

tr.add .add-table td.add-text span {
    display: inline-block;
    color: #FB5450;
    margin: 0 5px;
    font-weight: bold;
    font-size: 14px;
}

tr.add .add-table td.add-text p {
    display: inline;
    font-weight: normal;
    margin: 0;
    color: #53699A;
}

tr.add .add-table td.add-deleted {
    width: 5%;
    text-align: center;
    vertical-align: top;
}

tr.add .add-table td.add-deleted i {
    font-style: normal;
    font-size: 12px;
    cursor: pointer;
    color: #808080;
}

/*消費滿額贈 premiums*/
tfoot tr.space {
    height: 15px;
}

.premiums-title {
    height: 40px;
    background: #E3EAE9;
    color: #689B94;
    padding-bottom:10px;
    /*border-left:20px solid white;
  border-right:20px solid white;*/
    text-align: center;
    font-weight: 600;
    font-size:15px;
    letter-spacing: 2.5px;
}

.premiums-content {
    /*margin: 0 10px;*/
    border: 1px solid #95D7DA;
    border-top: 0;
    line-height: 18px;
}

.premiums-content .premiums-pic {
    width: 15%;
    text-align: center;
}

.premiums-content .premiums-text {
    width: 85%;
}

.premiums-content .premiums-text .premiums-name {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-bottom: 1px solid #d9dad9;
    color: #595959;
}

.premiums-content .premiums-text .premiums-name h2 {
    display: inline;
    font-weight: normal;
    font-size: 14px;
    color: #595959;
}

.premiums-content .premiums-text .premiums-description {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0;
    list-style-type: lower-alpha;
    color: #808080;
    font-size: 12px;

    li {
        display: table-cell;
        padding: 3px 5px 3px 0;
    }
}


.premiums-content .premiums-text .premiums-description li ol {
    margin: 0;
    padding: 0 0 0 20px;
}

.premiums-content .premiums-text .premiums-description li ol li {
    display: list-item;
    list-style-type: decimal;
    width: 100%;
    padding: 0;
}

.premiums-content .premiums-text .premiums-description li h3 {
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    color: #808080;
}

.premiums-content .premiums-text .premiums-description li h4 {
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    color: #808080;
}

.premiums-content .premiums-text .premiums-description li h4 p {
    display: inline;
    font-weight: normal;
    font-size: 12px;
    color: #808080;
}

.premiums-content .premiums-text .premiums-description li.pd-list {
    width: 40%;
}

.premiums-content .premiums-text .premiums-description li.pd-name {
    width: 40%;
}

.premiums-content .premiums-text .premiums-description li.pd-stamp {
    width: 20%;
    vertical-align: middle;
}

.premiums-content .premiums-text .premiums-description li.pd-stamp span {
    height: 25px;
    width: 95%;
    display: inline-block;
    color: #95D7DA;
    border: 1px solid #95D7DA;
    line-height: 25px;
    text-align: center;
}

.premiums-content .premiums-text .premiums-description li.pd-stamp span.not-qualify {
    color: #f7588c;
    border: 1px solid #f7588c;
}

/*金額結算(但是不包含總計)*/
.total-wrapper {
    height: 40px;
    border-bottom: 1px solid #d9dad9;
}

.total-wrapper:last-child {
    border-bottom: none;
}

.total-wrapper td.total-left {
    line-height: 40px;
    text-align: right;
    vertical-align: top;
    font-size: 13px;
    /*color: #808080;*/
    color: $dark-cyan; 
    padding-right: 50px;
}

.total-wrapper td.total-left h4 {
    font-size: 14px;
    line-height: 40px;
    display: inline;
    margin: 0 0 0 5px;
    color: #595959;
    font-weight: 600;
    text-transform: uppercase;
}

.total-wrapper td.total-left h5 {
    font-size: 14px;
    line-height: 40px;
    display: inline;
    margin: 0 0 0 5px;
    color: #808080;
    font-weight: normal;
    text-transform: uppercase;
}

.total-wrapper td.total-left select {
    margin-bottom: 3px;
}

.total-wrapper td.total-left select:focus {
    outline: none;
    border: 1px solid #ff7c81;
}

.total-wrapper td.total-left p.total-minus {
    display: inline-block;
    margin: 0;
    margin-right: -36px;
    padding-left: 22px;
    font-size: 15px;
    color: #595959;
}

.total-wrapper td.total-right {
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    /*p.total-minus{
  			display: inline-block;
  
  		}*/
}

.total-wrapper td.total-right p {
    display: inline;
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
}

.total-wrapper input.discount-code {
    width: 130px;
    height: 25px;
    color: #808080;
    font-weight: normal;
    font-size: 12px;
}

.total-wrapper input.discount-code:focus {
    outline: none;
    border: 1px solid #ff7c81;
}

.total-wrapper input.feedback-code {
    width: 163px;
    height: 25px;
    color: #808080;
    font-weight: normal;
    font-size: 12px;
}

.total-wrapper input.feedback-code:focus {
    outline: none;
    border: 1px solid #ff7c81;
}

.total-wrapper input.habi-radio {
    /*display:block;*/
    margin: 0 5px 0 0;
}

.total-wrapper button.discount-code-submit {
    display: inline;
    width: 30px;
    height: 25px;
    background: #ccc;
    border: none;
}

.total-wrapper button.discount-code-submit:focus {
    outline: none;
    background: #ff7c81;
}

.total-wrapper button.discount-code-submit i {
    color: white;
    margin-bottom: 5px;
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.total-wrapper span {
    font-weight: bold;
    /*color: #FB5450;*/
    color: $gray-1000;
}

/*總計*/
.sp-total-title {
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background: #f7588c;
    letter-spacing: 2.5px;
}

.sp-total-title span {
    font-size: 15px;
    color: white;
    font-weight: 600;
}

/*訂購資訊 order info*/
.order-info, .payment-select {
    padding: 0;
    margin: 20px 0 0 0;
}

.order-info .order-info-title, .payment-select .order-info-title, .payment-select .payment-select-title {
    height: 50px;
    font-weight: 600;
    font-size:15px;
    text-align: center;
    line-height: 50px;
    background: #f0f0f0;
    color: #595959;
    letter-spacing: 2.5px;
}

.order-info .order-info-choice, .payment-select .order-info-choice {
    margin: 20px 0;
}

.order-info .order-info-choice input, .payment-select .order-info-choice input {
    margin-right: 5px;
}

.order-info .order-info-choice label, .payment-select .order-info-choice label {
    font-weight: normal;
    color: #808080;
    cursor: pointer;
    margin-right: 20px;
    text-transform: uppercase;
}

.payment-select .payment-methods {
    padding: 50px 40px;
}

.payment-select .payment-methods .payment-wrapper .payment-tab {
    height: 60px;
    background: #FAFAFA;
    line-height: 60px;
    font-size: 15px;
    padding: 0 0 0 20px;
    font-weight: normal;
    color: #595959;
    border: 1px solid #d9dad9;
    cursor: pointer;
}

.payment-select .payment-methods .payment-wrapper .payment-tab img {
    width: 40px;
    margin: 0 5px 5px 20px;
}

.payment-select .payment-methods .payment-wrapper .payment-content {
    display: block;
    cursor: pointer;
}

.payment-select .payment-methods .payment-wrapper .payment-content.off-wrapper {
    display: none;
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option {
    padding: 20px 40px;
    font-size: 14px;
    border: 1px solid #d9dad9;
    border-bottom: 0;
    color: #595959;
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option:last-child, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option:last-child {
    border: 1px solid #d9dad9;
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option input, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option input {
    margin: 0 10px 0 0;
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option img, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option img {
    width: 100px;
    margin: 0 0 0 10px;
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo {
    margin: 20px 10px 0 10px;
    padding: 0;
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv {
    float: left;
    width: calc(20% - 20px);
    margin: 0 10px 20px 10px;
    padding: 40px;
    border: 1px solid #f0f0f0;
    transition: .3s;
    cursor: pointer;
    position: relative;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    /*背景*/
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:hover, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:hover {
    border: 1px solid #FB5450;
    transition: .3s;
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv.active, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv.active {
    border: 1px solid #FB5450;
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv input, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv input {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv i, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv i {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    color: #FB5450;
    display: none;
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv i.active, .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv i.active {
    display: inline;
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(1), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(1) {
    background-image: url(../../images/pay/bank-logo1.gif);
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(2), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(2) {
    background-image: url(../../images/pay/bank-logo2.gif);
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(3), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(3) {
    background-image: url(../../images/pay/bank-logo3.gif);
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(4), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(4) {
    background-image: url(../../images/pay/bank-logo4.gif);
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(5), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(5) {
    background-image: url(../../images/pay/bank-logo5.gif);
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(6), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(6) {
    background-image: url(../../images/pay/bank-logo6.gif);
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(7), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(7) {
    background-image: url(../../images/pay/bank-logo7.gif);
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(8), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(8) {
    background-image: url(../../images/pay/bank-logo8.gif);
}

.payment-select .payment-methods .payment-wrapper .payment-content .online-option .payLogo li.onlineBankingDiv:nth-child(9), .payment-select .payment-methods .payment-wrapper .payment-content .offline-option .payLogo li.onlineBankingDiv:nth-child(9) {
    background-size: 40%;
    background-image: url(../../images/pay/bank-logo9.gif);
}

/*購物車按鈕外層 強行寫入width按鈕大小*/
.shopping-order-btn {
    border-top: 1px solid #d9dad9;
    padding: 25px 0 0 0;
}

.shopping-order-btn button {
    width: 150px;
}

/*訂單完成*/
.sp-compelete-wrapper {
    margin-top: 20px;
    padding: 0;
    border: 1px solid #d9dad9;
    /*（好物市集、限時團購）購物車標題*/
}

.sp-compelete-wrapper .sp-compelete-title, .sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-payment-info-title {
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background: #919191;
    font-size: 15px;
    letter-spacing: 2.5px;
}

.sp-compelete-wrapper .sp-compelete-title span, .sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-payment-info-title span {
    color: white;
    font-weight: 600;
}

.sp-compelete-wrapper .sp-compelete-content {
    background: white;
    padding: 30px 50px;
    /*ATM付款資訊*/
}

.sp-compelete-wrapper .sp-compelete-content .sp-thankyou {
    text-align: center;
    border-bottom: 1px solid #d9dad9;
    padding: 0 0 30px 0;

    h4 {
        margin: 0 0 20px 0;
        font-weight: normal;
        font-size: 17px;
        color: #595959;

        &:nth-child(1) {
            margin-bottom: 0;
        }
    }

    h5 {
        color: #808080;
        margin: 0 0 5px 0;
        font-weight: normal;

        p {
            display: inline;
        }
    }

    button {
        width: 200px;
        height: 45px;
        font-size: 15px;
        color: white;
        background: #1485CC;
        border: 0;

        &:focus {
            outline: 0;
        }

        &:hover {
            background: #116da7;
        }
    }
}


.sp-compelete-wrapper .sp-compelete-content .sp-payment-info {
    margin: 40px 16.66666667%;
    border: 1px solid #95D7DA;
    padding: 0;
}

.sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-payment-info-title {
    background: #95D7DA;
    color: white;
}

.sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-table {
    display: table;
    width: 100%;
}

.sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-pic {
    height: 100%;
    width: 30%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-text {
    width: 70%;
    display: table-cell;
}

.sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-text .sp-paymen-info-bankname {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    border-bottom: 1px solid #d9dad9;
    color: #595959;
    padding: 0 0 0 5px;
    font-weight: bold;
    color: #595959;
}

.sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-text .sp-paymen-info-bankname h2 {
    display: inline;
    font-weight: bold;
    font-size: 16px;
    color: #595959;
}

.sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-text .sp-paymen-info-description {
    display: table;
    width: 100%;
    margin: 0;
    list-style-type: lower-alpha;
    color: #808080;
    font-size: 12px;
    padding: 0 0 0 5px;
}

.sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-text .sp-paymen-info-description li {
    width: 50%;
    display: table-cell;
    padding: 10px 5px 10px 0;
    vertical-align: middle;
}

.sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-text .sp-paymen-info-description li h3 {
    margin: 0;
    font-weight: normal;
    font-size: 13px;
    color: #808080;
}

.sp-compelete-wrapper .sp-compelete-content .sp-payment-info .sp-paymen-info-text .sp-paymen-info-description li p {
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    color: #808080;
}

.item-match {
    padding: 5px;
    font-size: 13px !important;
    font-weight: normal !important;
    color: #95D7DA;
    background: #f8f8f8;
}

.item-match p {
    display: inline-block;
    margin: 0;
    color: #595959;
}

.item-match a {
    color: #595959;
}

.item-match.nomatch {
    color: #ff0068;
}

.item-match.nomatch a {
    text-decoration: underline;
    color: #ff0068;
}

.item-match.nomatch .match-title {
    color: #ff0068;
}

.match-title {
    display: inline;
    color: #95D7DA;
}

.match-title i {
    margin: 0 5px 0 0;
}

/*=====折扣券光箱 coupon modal start =====*/
.coupon-modal {
    width: 700px;
    height: 450px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto !important;
    color: #595959;
}

.coupon-modal .am-modal-dialog {
    height: 100%;
    background: white !important;
}

.coupon-modal thead {
    height: 40px;
}

.coupon-modal th {
    text-align: center;
    background: #f3f3f3;
    padding: 10px 0;
}

.coupon-modal td {
    padding: 10px 5px;
}

.coupon-modal td:nth-child(4) {
    font-size: 15px;
    color: #FB5450;
}

.coupon-modal tr {
    border-bottom: 1px solid #f3f3f3;
    cursor: pointer;
    font-size: 14px;
}

.coupon-modal tr:hover {
    background: #F9F3F7;
}

.coupon-modal tr.selected {
    background: #F9F3F7;
}

.coupon-modal tr.used {
    background: #f8f8f8;
    cursor: not-allowed;
}

.coupon-disabled {
    color: #FF005B;
}

.c-table-head {
    display: block;
    background: yellow;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

.c-table-head table {
    width: 100%;
    height: 40px;
}

.coupon-table-wrapper {
    position: relative;
    max-height: 300px;
}

.c-table-body {
    position: relative;
    overflow-y: auto;
    max-height: 300px;
}

.coupon-table {
    position: relative;
    width: 100%;
    text-align: center;
}

.s-coupon-text {
    width: 48%;
}

.s-coupon-date {
    width: 15%;
}

.s-coupon-before {
    width: 14.5%;
}

.s-coupon-after {
    width: 14.5%;
}

.s-coupon-input {
    width: 8%;
}

.coupon-table-btn {
    margin-top: 10px;
}

.coupon-table-btn .am-btn {
    width: 150px;
    margin: 0 20px;
}

/*=====折扣券光箱 coupon modal end =====*/

/*=====Facebook 訂單通知 start =====*/
.fb-messenger-wrap {
    border: 1px solid #D9DAD9;
    margin: 15px 0;
    padding: 0;
}

.fb-messenger-header {
    text-align: center;
    padding: 10px 0;
    background-color: #F0F0F0;
    margin-bottom: 8px;
    font-size: 16px;
    border-bottom: 1px solid #D9DAD9;
}

.fb-messenger-content {
    text-align: center;
    margin: 15px;

    p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    button {
        -webkit-appearance: none;
        border: none;
        background-color: #F0F0F0;
        color: #BBBCBC;
        font-size: 12px;
        padding: 5px 10px;

        .am-icon-check-circle-o {
            color: #689B94;
            font-size: 16px;
        }
    }
}

/*=====Facebook 訂單通知 end =====*/
/* === cart premiums (購物車頁面-滿額贈品) === */
.cart-premiums-title {
    padding: 10px 18px;
}

.cart-premiums-title img {
    vertical-align: bottom;
    margin-right: 15px;
}

#accordion .cart-premiums-item {
    margin-top: 0;
}

.cart-premiums-item {
    border-top: 0;
    border-bottom: 1px solid #E3EAE9;
    border-left: 0;
    border-right: 0;
}

.cart-premiums-item ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #E3EAE9;
}

.cart-premiums-item ul li {
    display: flex;
    align-items: center;
    padding: 15px 18px;
    position: relative;
    border-bottom: 1px solid #eaeaea;

    &:last-child {
        border-bottom: none;
    }

    .premium-out-of-stock {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.4);
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 10px;

        img {
            width: 200px;
        }
    }
}

.cart-premiums-item ul li span {
    display: inline-block;
    margin: 0 5px;
}

.cart-premiums-item ul li strong {
    display: inline-block;
    color: #E65E5E;
    margin-bottom: 5px;
}

.cart-premiums-activity {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    background-color: rgba(187, 188, 188, 0.1);

    .borderround-tag {
        margin-left: 0;
    }
}

.cart-premiums-activity aside {
    padding: 0 18px;
    font-size: 14px;
}


.premiums-date {
    color: #E65E5E;
    margin-right: 5px;
}

.premiums-name {
    color: #333;
}

.cart-premiums-note {
    border-left: 1px solid #BBBCBC;
    padding: 0 10px;
    margin-left: 10px;
    font-size: 12px;
}

.cart-premiums-more {
    color: #689B94;
}

.cart-premiums-unqualified {
    opacity: 0.5;
}

.cart-premiums-pic img {
    width: 80px;
}



/* === product premiums (商品介紹頁面-滿額贈品) === */
/*product premiums*/
.product-premiums {
    display: flex;
    padding-top: 10px;
}

/*.product-premiums-title {
    padding: 0;
    font-size: 1em;
    line-height: 35px;
    color: #595959;
}*/

.product-premiums-item {
    padding: 0;
    line-height: 35px;
    font-size: 1em;
    color: #595959;
    cursor: pointer;
}

.product-premiums-tag {
    display: inline-block;
    margin: 0 5px;
    padding: 2px 13px;
    font-size: 10px;
    line-height: normal;
    color: #689B94;
    border: 1px solid #689B94;
    border-radius: 10px;
}


.product-premiums-item p {
    display: inline-block;
}

/*product premiums popup*/
.am-popup.premiums-popup {
    height: auto;
}

.premiums-popup-title.am-popup-title {
    color: #595959;
}

.premiums-popup-note {
    padding: 5px 0;
    text-align: center;
    line-height: 25px;
    background-color: #F5F5F5;
}

.premiums-popup .am-popup-bd {
    background-color: #ffffff;
}

.premiums-popup .am-popup-bd ul {
    padding: 0;
}

.premiums-popup .am-btn-block {
    background-color: #EE5984;
    color: #ffffff;
}

.premiums-popup-item {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    padding: 15px 0;
    border-bottom: 1px solid #EFEFEF;
}

.premiums-popup-item:last-child {
    border-bottom: none;
}

.premiums-popup-item aside:nth-of-type(1) {
    text-align: center;
    flex: 1;
}

.premiums-popup-item aside:nth-of-type(2) {
    flex: 2;
}

.premiums-popup-pic {
    width: 120px;
    display: inline-block;
}

.premiums-popup-price {
    margin-bottom: 15px;
}

.premiums-popup-price span:nth-of-type(1) {
    color: #689B94;
}

.premiums-popup-price span:nth-of-type(2) {
    color: #EE5984;
}

.premiums-popup-text {
    line-height: 25px;
}

//購物車步驟
.cartstep-wrapper {
    background: #fff;
    color: $gray-500;
    font-size: 14px;
    padding: 10px 18px;

    .cartstep-step {
        position: relative;
        padding: 0;

        &:after {
            content: "";
            @include absolute($right:-47%,$bottom: 47%);
            border-bottom: 1px dashed $gray-500;
            width: 70%;
        }

        &:first-child:after {
            right: -23%;
        }

        &:last-child:after {
            border: none;
        }

        h3 {
            text-align: center;
            background: $gray-500;
            color: $white;
            display: inline-block;
            @include size(20px,20px,50%);
        }

        span {
            vertical-align: bottom;
        }
    }

    .cartstep-ok h3 {
        background: $hw-primary !important;
    }
}