@charset "UTF-8";
/* CSS Document */

.left-box {
    margin: 15px 0 20px 0;
    padding: 0;
}

    .left-box h3 {
        font-size: 16px;
        font-weight: bold;
        color: #58595b;
    }

.left-menu {
    float: left;
    display: block;
    margin: 10px 10px 55px 0;
    padding: 0;
}

    .left-menu li {
        float: left;
        margin: 0;
        padding: 0;
        display: block;
        height: 45px;
        line-height: 45px;
        width: 150px;
        font-size: 15px;
        color: #737373;
        font-weight: bold;
        text-indent: 40px;
        border-bottom: 1px #e9e9e9 solid;
    }

        .left-menu li a {
            float: left;
            margin: 0;
            padding: 0;
            background: url("../../images/market-left-icon.png") no-repeat left top;
            display: block;
            height: 45px;
            line-height: 45px;
            width: 140px;
            font-size: 15px;
            color: #737373;
            font-weight: bold;
            text-indent: 40px;
            list-style: none;
            text-decoration: none;
            border-bottom: 1px #e9e9e9 solid;
        }

            .left-menu li a:hover {
                float: left;
                display: block;
                margin: 0;
                padding: 0;
                height: 45px;
                line-height: 45px;
                width: 170px;
                font-size: 15px;
                color: #e95289;
                font-weight: bold;
                text-indent: 40px;
                list-style: none;
                text-decoration: none;
            }


        .left-menu li.left01 a {
            background-position: 0 0;
        }

        .left-menu li.left02 a {
            background-position: 0 -45px;
        }

        .left-menu li.left03 a {
            background-position: 0 -90px;
        }

        .left-menu li.left04 a {
            background-position: 0 -135px;
        }

        .left-menu li.left05 a {
            background-position: 0 -180px;
        }

        .left-menu li.left06 a {
            background-position: 0 -225px;
        }

        .left-menu li.left07 a {
            background-position: 0 -270px;
        }

        .left-menu li.left08 a {
            background-position: 0 -315px;
        }

        .left-menu li.left09 a {
            background-position: 0 -360px;
        }


        .left-menu li.left01 a:hover {
            background-position: -170px 0;
        }

        .left-menu li.left02 a:hover {
            background-position: -170px -45px;
        }

        .left-menu li.left03 a:hover {
            background-position: -170px -90px;
        }

        .left-menu li.left04 a:hover {
            background-position: -170px -135px;
        }

        .left-menu li.left05 a:hover {
            background-position: -170px -180px;
        }

        .left-menu li.left06 a:hover {
            background-position: -170px -225px;
        }

        .left-menu li.left07 a:hover {
            background-position: -170px -270px;
        }

        .left-menu li.left08 a:hover {
            background-position: -170px -315px;
        }

        .left-menu li.left09 a:hover {
            background-position: -170px -360px;
        }



.left-choice {
    float: left;
    width: 170px;
    display: block;
    margin: 10px 10px 35px 0;
    padding: 0;
}

    .left-choice li {
        float: left;
        width: 170px;
        margin: 0;
        padding: 0;
        display: block;
        /*height: 30px;*/
        line-height: 30px;
        font-size: 13px;
    }

        .left-choice li.nomal a {
            float: left;
            width: 170px;
            margin: 0;
            padding: 0;
            display: block;
            height: 30px;
            line-height: 30px;
            font-size: 13px;
            color: #737373;
        }

            .left-choice li.nomal a:hover {
                float: left;
                width: 170px;
                margin: 0;
                padding: 0;
                display: block;
                height: 30px;
                line-height: 30px;
                font-size: 13px;
                color: #4fd9ee;
            }

        .left-choice li.emp a {
            float: left;
            width: 170px;
            margin: 0;
            padding: 0;
            display: block;
             /*height: 30px;*/
            line-height: 30px;
            font-size: 13px;
            color: #ff6180;
        }

            .left-choice li.emp a:hover {
                float: left;
                width: 170px;
                margin: 0;
                padding: 0;
                display: block;
                 /*height: 30px;*/
                line-height: 30px;
                font-size: 13px;
                color: #4fd9ee;
            }



.left-menu-all {
    float: left;
    margin: 0;
    padding: 0;
    display: block;
    height: 45px;
    line-height: 45px;
    width: 170px;
    font-size: 15px;
    color: #737373;
    font-weight: bold;
    border-bottom: 1px #e9e9e9 solid;
}

    .left-menu-all a {
        float: left;
        margin: 0;
        padding: 0;
        display: block;
        height: 45px;
        line-height: 45px;
        width: 170px;
        font-size: 15px;
        color: #737373;
        font-weight: bold;
        border-bottom: 1px #e9e9e9 solid;
    }

        .left-menu-all a:hover {
            float: left;
            display: block;
            margin: 0;
            padding: 0;
            height: 45px;
            line-height: 45px;
            width: 170px;
            font-size: 15px;
            color: #e95289;
            font-weight: bold;
            list-style: none;
            text-decoration: none;
        }

.left-menu-2 {
    float: left;
    margin: 10px 10px 50px 0;
    padding: 0;
}

    .left-menu-2 li {
        float: left;
        margin: 0;
        padding: 0;
        display: block;
        height: 45px;
        line-height: 45px;
        width: 150px;
        font-size: 15px;
        color: #737373;
        font-weight: bold;
        list-style: none;
        text-decoration: none;
    }

        .left-menu-2 li a {
            color: #e95289;
        }

        /*.left-menu-2 li a:hover {
                color: #e95289;
            }*/


        .left-menu-2 li.left01 {
            text-indent: 40px;
            border-bottom: 1px #e9e9e9 solid;
            background: url("../../images/market-left-icon2.png") no-repeat left top;
            background-position: 0 0;
        }

        .left-menu-2 li.left02 {
            text-indent: 40px;
            border-bottom: 1px #e9e9e9 solid;
            background: url("../../images/market-left-icon2.png") no-repeat left top;
            background-position: 0 -45px;
        }

        .left-menu-2 li.left03 {
            text-indent: 40px;
            border-bottom: 1px #e9e9e9 solid;
            background: url("../../images/market-left-icon2.png") no-repeat left top;
            background-position: 0 -90px;
        }

        .left-menu-2 li.left04 {
            text-indent: 40px;
            border-bottom: 1px #e9e9e9 solid;
            background: url("../../images/market-left-icon2.png") no-repeat left top;
            background-position: 0 -135px;
        }

        .left-menu-2 li.left05 {
            text-indent: 40px;
            border-bottom: 1px #e9e9e9 solid;
            background: url("../../images/market-left-icon2.png") no-repeat left top;
            background-position: 0 -180px;
        }

        .left-menu-2 li.left06 {
            text-indent: 40px;
            border-bottom: 1px #e9e9e9 solid;
            background: url("../../images/market-left-icon2.png") no-repeat left top;
            background-position: 0 -225px;
        }

        .left-menu-2 li.left07 {
            text-indent: 40px;           
            border-bottom: 1px #e9e9e9 solid;
            background: url("../../images/market-left-icon2.png") no-repeat left top;
            background-position: 0 -270px;
        }

        .left-menu-2 li.left08 {
            text-indent: 40px;          
            border-bottom: 1px #e9e9e9 solid;
            background: url("../../images/market-left-icon2.png") no-repeat left top;
            background-position: 0 -315px;
        }

        .left-menu-2 li.left09 {
            text-indent: 40px;
            border-bottom: 1px #e9e9e9 solid;
            background: url("../../images/market-left-icon2.png") no-repeat left top;
            background-position: 0 -360px;
        }


.left-menu-down {
    float: left;
    margin: 20px 10px 0 20px;
    padding: 0;
}

    .left-menu-down li {
        float: left;
        margin: 0;
        padding: 0;
        display: block;
        height: 30px;
        line-height: 30px;
        font-size: 13px;
        color: #737373;
    }

        .left-menu-down li a {
            font-size: 13px;
            color: #737373;
        }

            .left-menu-down li a:hover {
                font-size: 13px;
                color: #e95289;
            }
