/*Payment Methods*/
#payment-methods {
	margin: 3% 4% 0 4%;
	height: auto;
}

#payment-methods .payments {
	border: 1px solid #efefef;
	background-color: #fafafa;
	color: #6d6b6b;
	padding: 2%;
}

#payment-methods input[type=radio] {
	outline: none;
}

.option {
	padding-left: 3%;
	font-size: 1.2em;
}

.online-option p {
	font-weight: bold;
	font-style: italic;
	font-size: 1em;
}

span.bankName{
	font-weight: bold;
	font-style: italic;
	margin-left: 1%;
}

p.bankAcc {
	font-size: 0.9em;
}

span.bankAccDet {
	font-weight: bold;
}

#payment-methods .online-option, .offline-option {
	border: 1px solid #efefef;
	background-color: #fff;
	color: #6d6b6b;
	padding: 2% 2% 2% 4%;
}

span.payInfo {
	display: inline-block;
	margin-left: 1%;
}

span.payInfo p{
	margin: 0 0 1% 0 !important;
}

div.payInfoOff {
	display: inline-block;
	width: 90%;
	height: auto;
	margin: 1% 0 0 4%;
}

div.payInfoOff p{
	margin: 0 0 1% 0 !important;
}

div.payLogo {
	display: inline-block;
	width: 100%;
	height: auto;
	margin-left: 2%;
}

.payLogo span {
	display: inline;
	width: 100%;
}

.logoContainer {
	margin-top: 1em;
	padding: 0;
}


.onlineBankingDiv {
	float: left;

}


.onlineBankingDiv input[type=radio] {
	display: none;
}

.onlineBankingDiv {
	border: 1px #efefef solid;
	width: 11em;
	height: 6em;
	margin: 0 2em 2em 0;
}

.onlineBankingDiv:hover {
	border: 1px #FF5F7E solid;
	width: 11em;
	height: 6em;
	margin: 0 2em 2em 0;
}

.onlineBankingDiv:focus {
	border: 1px #FF5F7E solid;
	width: 11em;
	height: 6em;
	margin: 0 2em 2em 0;
}

.onlineBankingDiv i {
	z-index: -9999;
	color: green;
	position: relative;
	font-size: 2em;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

#onlineBankingDiv1 {
	background: url('../../images/pay/bank-logo1.gif') no-repeat center;
	background-size: 8em auto ;
}

#onlineBankingDiv2 {
	background: url('../../images/pay/bank-logo2.gif') no-repeat center;
	background-size: 8em auto ;
}

#onlineBankingDiv3 {
	background: url('../../images/pay/bank-logo3.gif') no-repeat center;
	background-size: 7em auto ;
}

#onlineBankingDiv4 {
	background: url('../../images/pay/bank-logo4.gif') no-repeat center;
	background-size: 8em auto ;
}

#onlineBankingDiv5 {
	background: url('../../images/pay/bank-logo5.gif') no-repeat center;
	background-size: 7em auto ;
}

#onlineBankingDiv6 {
	background: url('../../images/pay/bank-logo6.gif') no-repeat center;
	background-size: 8em auto ;
}

#onlineBankingDiv7 {
	background: url('../../images/pay/bank-logo7.gif') no-repeat center;
	background-size: 6em auto ;
}

#onlineBankingDiv8 {
	background: url('../../images/pay/bank-logo8.gif') no-repeat center;
	background-size: 8em auto ;
}

#onlineBankingDiv9 {
	background: url('../../images/pay/bank-logo9.gif') no-repeat center;
	background-size: 6em auto ;
}


div#onlineLogo.payLogo {
	width: 5%;
	display: inline-block;
}

div#offlineLogo.payLogo {
	width: 5%;
	display: inline-block;
}

div.payLogo img {
	height: auto;
	width: 100%;
}

div#creditCard.payLogo {
	width: 15%;
	height: auto;
}

div#sevenLogo.payLogo {
	width: 5%;
	height: auto;
}

div#cimbBank.payLogo {
	width: 12%;
	height: auto;
}

div#publicBank.payLogo {
	width: 15%;
	height: auto;
}
