@charset "utf-8";
/* CSS Document */

		#scroll_float_ad_left {
		display: none;
		position: absolute;

	}
#scroll_float_ad_left_box_1
 {
        border: 3px solid #ffd800;
        border-radius: 10px;
        font-size:12px;
        margin-bottom:5px;
        width:80px;
        color:#808080;

}
        #scroll_float_ad_right {
		display: none;
		position: absolute;
	}