@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Anton|Archivo+Black|Luckiest+Guy&display=swap");

.description-text {
    font-size: 14px;
    font-weight: 500;
    color: #707070;
}

.dark-gray-title {
    font-size: 16px;
    font-weight: bold;
    color: #707070;
}

.pink-title-text {
    font-size: 16px;
    font-weight: bold;
    color: #ee5984;
}

img {
    width: 100%;
}

.member-container {
    max-width: 650px;
    margin: 0 auto;
}

.vip-rule-box, .vip-card-wrapper {
    background-color: #fff;
    padding: 20px 3%;
}

.vip-card-icon-box {
    display: inline-block;
}

.vip-card-icon-box .vip-card-icon {
    width: 27px;
    height: 27px;
    border-radius: 0;
    margin-right: 7px;
}

.vip-card-icon-box .card-level-title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #707070;
}

.about-level-btn {
    background-color: #ee5984;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 200;
    color: #fff;
}

.about-level-btn.about-level-btn:active {
    border: .5px solid #ee5984;
    color: #fff;
}

.vip-card {
    width: 73%;
    margin-top: 3%;
}

.vip-card-benefits li {
    display: inline-block;
    padding-right: 5px;
    font-size: 12px;
}

.vip-card-benefits li .pink-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #ee5984;
    margin: 0 1px -1px 0;
}

.code-btn {
    background: #e1e1e1;
    padding: 8px;
    line-height: 25px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 200;
    color: #ff0068;
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-family: 'Anton',sans-serif;
    font-family: 'Luckiest Guy',cursive;
    font-family: 'Archivo Black',sans-serif;
}

.code-btn:hover, .code-btn focus {
    color: #ee5984;
    border: 1px solid #ee5984;
}

.upgrade-vip-card-p {
    font-size: 14px;
    font-weight: 400;
    color: #707070;
}

.progress-bar-wrap {
    z-index: 3;
    display: inline;
    margin: 0 auto;
    overflow: hidden;
}

.progress-bar-wrap img {
    width: 100%;
    z-index: 5;
    position: relative;
    display: block;
}

.progress-bar-wrap .gray-bar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    z-index: 1;
    border: 1px solid #fff;
    background: #e1e1e1;
}

.progress-bar-wrap .pink-bar {
    background: #ee5984;
    z-index: 2;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
}

.progres-percent-p {
    font-size: 12px;
    font-weight: 500;
    color: #707070;
    margin: 0 auto;
    padding-top: 5px;
}

.member-icon-box {
    background-color: #fff;
}

.member-icon-box .member-icon-block {
    margin: 0 3%;
}

.member-icon-box .member-icon-block li {
    padding: 5px;
    clear: none;
}

.member-icon-box .member-icon-block li a {
    font-size: 12px;
    font-weight: 500;
    color: #707070;
    position: relative;
}

.member-icon-box .member-icon-block li a img {
    width: 25px;
    height: auto;
    border-radius: 0;
    margin-top: 7px;
}

.member-icon-box .member-icon-block li a span {
    display: block;
}

.friend-qrcode {
    width: 160px;
}

.friend-qrcode img {
    border: 2px solid #e3eae9;
}

.qr-code-news a {
    font-size: 14px;
    font-weight: 400;
    color: #707070;
    border-bottom: 1px solid #e1e1e1;
}

.order-status-title {
    color: #689b94;
}

.order-status {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e3eae9;
    margin: 0 auto;
}

.ctag {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 70%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ff0068;
    color: #fff;
    font-size: 10px;
    padding-left: 2px;
}

.go-back-btn a {
    font-size: 18px;
    font-weight: 800;
    color: #707070;
}

.progres-color-p {
    font-size: 14px;
    font-weight: 500;
    color: #707070;
    margin: 0 auto;
    padding-right: 8%;
}

.level-card-p {
    font-size: 12px;
    font-weight: 500;
    color: #707070;
    padding-top: 3% 0;
}

.level-table {
    background: #fff;
}

.level-table .table-title {
    background: #e1e1e1;
}

.level-table td {
    font-size: 12px;
    font-weight: 500;
    color: #707070;
    padding: 18% 2% 0 2%;
    height: 45px;
    vertical-align: middle !important;
}

.vip-info-wrapper {
    padding-top: 3%;
}

.vip-info-wrapper .vip-info-title {
    font-size: 14px;
    font-weight: 400;
    color: #707070;
}

.vip-info-wrapper .vip-info-title .question-mark {
    margin-right: 5px;
    margin-top: -1px;
    width: 14px;
    height: 14px;
    border-radius: 0;
}

.vip-info-wrapper .vip-info-p {
    margin: 10px 0;
    font-size: 12px;
    font-weight: 500;
    color: #707070;
    letter-spacing: 1px;
}

.vip-info-wrapper .vip-info-p a {
    font-size: 12px;
    font-weight: 500;
    color: #707070;
    border-bottom: .5px solid #e1e1e1;
}

.to-account-btn {
    border: 1px solid #ee5984;
    background: #ee5984;
    border-radius: 3px;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    /*letter-spacing: 8px;*/
}

.close-btn {
    border: 1px solid #ee5984;
    background: #fff;
    border-radius: 3px;
    padding: 8px;
    margin: 15px auto;
}

@media screen and (max-width:320px) {
    .to-account-btn {
        padding: 5px !important;
    }

    .go-back-btn a {
        font-size: 16px !important;
    }

    .description-text {
        font-size: 12px;
        font-weight: 500;
        color: #707070;
    }

    .dark-gray-title {
        font-size: 14px;
        font-weight: bold;
        color: #707070;
    }

    .pink-title-text {
        font-size: 14px;
        font-weight: bold;
        color: #ee5984;
    }

    .card-level-title {
        font-size: 12px;
    }

    .vip-card-benefits li {
        padding-right: 5px;
        font-size: 12px;
        font-weight: 500;
        color: #707070;
    }

    .vip-card-benefits li .pink-circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    .vip-card-icon {
        width: 20px;
        height: 20px;
        border-radius: 0;
        margin-right: 5px;
        margin-top: -5px;
    }

    .card-level-title {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
    }

    .about-level-btn {
        font-size: 12px;
    }

    .code-btn {
        line-height: 18px;
    }
}
//會員黑卡體驗通知
.card-notice {
    p {
        background: #f1f1f1;
        color: #000;
        font-size: 14px;

        @media screen and (max-width: 650px) {
            font-size: 12px;
        }
    }

    b {
        color: #000;
    }
}

.text-primary {
    color: #EE5984;
}

.text-black {
    color: #000;
}

.card-countdown {
    color: #707070;
}