@charset "UTF-8";
/*粉色重點文字*/
/*深灰重要文字*/
/*深灰icon及表格等文字*/
img {
  width: 100%; }

.member-container {
  max-width: 650px;
  margin: 0 auto; }

.vip-card-wrapper {
  background-color: #fff;
  padding: 20px 3%; }
  .vip-card-wrapper .vip-card-title {
    vertical-align: middle; }
    .vip-card-wrapper .vip-card-title .vip-card-icon-box {
      display: inline-block; }
      .vip-card-wrapper .vip-card-title .vip-card-icon-box .vip-card-icon {
        width: 27px;
        height: 27px;
        border-radius: 0;
        margin-right: 7px; }
      .vip-card-wrapper .vip-card-title .vip-card-icon-box .card-level-title {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        color: #707070; }
  .vip-card-wrapper .about-level-btn {
    border: 0.5px solid #707070;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 200;
    color: #707070; }
    .vip-card-wrapper .about-level-btn.about-level-btn:active {
      border: 0.5px solid #EE5984;
      color: #EE5984; }

.vip-card {
  width: 73%;
  margin-top: 3%; }

.vip-card-benefits li {
  display: inline-block;
  /*margin-right: 4%;*/
  padding-right: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #707070; }
  .vip-card-benefits li .pink-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #EE5984;
    margin: 0 3% -1px 0; }

.to-account-btn {
  border: 1px solid #EE5984;
  background: #EE5984;
  padding: 8px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 8px;
  margin-bottom: 10px; }

.upgrade-vip-card-p {
  /*padding-left: 2%;*/
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #707070; }
  .upgrade-vip-card-p .upgrade-rm-total {
    font-size: 16px;
    font-weight: 800;
    color: #EE5984; }
  .upgrade-vip-card-p .card-color-p {
    font-size: 14px;
    font-weight: 400;
    color: #707070; }

.progress-bar-wrap {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 5px;
  /*display: inline;*/
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border: 3px solid #fff; }
  .progress-bar-wrap img {
    width: 100%;
    z-index: 5;
    position: relative;
    display: block; }
  .progress-bar-wrap .gray-bar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #E1E1E1; }
  .progress-bar-wrap .pink-bar {
    background: #ee5984;
    z-index: 2;
    /*padding: 3%;*/
    position: absolute;
    left: 0;
    top: 0; }

.progres-percent-p {
  font-size: 12px;
  font-weight: 500;
  color: #707070;
  margin: 0 auto;
  padding-top: 5%;
  /*padding-top: 14%;*/ }
  .progres-percent-p li {
    text-align: left; }

.member-icon-box {
  background-color: #fff; }
  .member-icon-box .member-icon-block {
    margin: 0 3%; }
    .member-icon-box .member-icon-block .bottom-border {
      border-bottom: 1px solid #d7d9da; }
    .member-icon-box .member-icon-block li {
      padding: 5px;
      clear: none;
      /*border-right: 1px solid #d7d9da;*/
      /*border-bottom:1px solid #d7d9da;*/ }
      .member-icon-box .member-icon-block li a {
        font-size: 12px;
        font-weight: 500;
        color: #707070;
        position: relative; }
        .member-icon-box .member-icon-block li a .cart-num {
          vertical-align: middle;
          background-color: #FF0068;
          padding: 1px;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          font-size: 7px;
          font-weight: 500;
          color: #fff;
          position: absolute;
          left: 13px;
          top: -2px; }
        .member-icon-box .member-icon-block li a img {
          width: 20px;
          height: auto;
          border-radius: 0; }
      .member-icon-box .member-icon-block li .title {
        padding-top: 5px;
        display: block; }
      .member-icon-box .member-icon-block li:last-child {
        border-right: none; }
