$hawooo_pink: #EE5984;
$second_color: #BBBCBC;
$dark_gray: #707070;
$light_gray: #E1E1E1;
$color_white: #fff;
@import url('https://fonts.googleapis.com/css?family=Anton|Archivo+Black|Luckiest+Guy&display=swap');
@mixin size($w,$h: $w,$brs: 0) {
    width: $w;
    height: $h;
    border-radius: $brs;
}

@mixin abpos($l,$t) {
    position: absolute;
    left: $l;
    top: $t;
}

@mixin font_style($fs,$fw,$fc) {
    font-size: $fs;
    font-weight: $fw;
    color: $fc
}
/*粉色重點文字*/
@mixin pink-important-text {
    font-size: 16px;
    font-weight: 800;
    color: $hawooo_pink;
}
/*深灰重要文字*/
@mixin dark-gray-important-text {
    font-size: 14px;
    font-weight: 400;
    color: $dark_gray;
}
/*深灰icon及表格等文字*/
@mixin dark-gray-text-m {
    font-size: 12px;
    font-weight: 500;
    color: $dark_gray;
}
/*淺灰內文*/
@mixin light-gray-text-m {
    font-size: 14px;
    font-weight: 500;
    color: $dark_gray;
}

img {
    width: 100%;
}

h5 {
    text-align: center;
    @include font_style(18px,800,$dark_gray);
}

.member-container {
    max-width: 650px;
    margin: 0 auto;
}

.vip-rule-box {
    background-color: $color_white;
    padding: 20px 4%;
}

.go-back-btn a {
    @include font_style(18px,800,$dark_gray);
}

.vip-condition-word {
    padding-left: 2%;
    @include font_style(14px,400,$dark_gray);
}

.progress-bar-wrap {
    /*z-index: 3;
    @include abpos(0,5px);
    display: inline;
    margin: 0 auto;
    overflow: hidden;
    border: 3px solid $color_white;*/
    img {
        width: 100%;
        z-index: 5;
        position: relative;
    }

    .gray-bar {
        @include abpos(0,0);
        z-index: 1;
        background: $light_gray;
    }

    .pink-bar {
        background: #ee5984;
        padding: 3%;
        z-index: 2;
        @include abpos(2px,-1%);
    }

    .white-border {
        border: 4px solid $color_white;
        z-index: 7;
        @include abpos(0,-4%);
    }
}

.progres-color-p {
    @include light-gray-text-m;
    margin: 0 auto;
    padding-right: 8%;
}

.level-card-p {
    @include dark-gray-text-m;
    padding-top: 3% 0;
}
/*========================表格開始================*/
.level-table {
    background: $color_white;

    .table-title {
        background: $light_gray;
    }

    td {
        @include dark-gray-text-m;
        padding: 18% 2% 0 2%;
        height: 45px;
        vertical-align: middle !important;
    }
}
/*------------------------------------------表格end---------------------------------*/
.vip-info-wrapper {
    padding-top: 3%;

    .vip-info-title {
        @include dark-gray-important-text;

        .question-mark {
            margin-right: 5px;
            margin-top: -1px;
            @include size(14px,14px);
        }
    }

    .vip-info-p {
        margin: 10px 0;
        @include light-gray-text-m;
        letter-spacing: 1px;

        a {
            @include font_style(14px,200,$dark_gray);
            border-bottom: 0.5px solid $light_gray;
        }
    }
}

.qr-code-news {
    letter-spacing: 1px;
    @include dark-gray-important-text;

    a {
        @include font_style(14px,300,$dark_gray);
        border-bottom: 1px solid $light_gray;
    }

    .rm-ten {
        @include pink-important-text;
    }

    .qrcode-news-ps {
        @include dark-gray-important-text;
    }
}

.close-btn {
    border: 1px solid $hawooo_pink;
    background: $color_white;
    @include pink-important-text;
    padding: 8px;
    margin: 15px auto;
}

@media screen and (max-width: 320px) {
    .qr-code-news {
        white-space: initial;
    }
}

.code-btn {
    /*border: 1px solid $hawooo_pink;*/
    background: $light_gray;
    padding: 8px;
    line-height: 25px;
    border-radius: 3px;
    /*border: 1px groove #e3eae9;*/
    @include font_style(18px,200,#FF0068);
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-family: 'Anton', sans-serif;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Archivo Black', sans-serif;

    &:hover, focus {
        color: $hawooo_pink;
        border: 1px solid $hawooo_pink;
    }
}
hr{
    margin:0;
}
.to-account-btn {
    border: 1px solid $hawooo_pink;
    background: $hawooo_pink;
    padding: 8px;
    border-radius: 3px;
    @include font_style(16px,600,$color_white);
    letter-spacing: 8px;
    margin-bottom: 10px;
}