#airplane {
    position: absolute;
    top: 45px;
    left: 220px;
}

#shopping {
    position: absolute;
    top: 250px;
    left: 260px;
}

#bank {
    position: absolute;
    top: 210px;
    left: 410px;
}

#redhouse {
    position: absolute;
    top: 170px;
    left: 560px;
}

#box {
    position: absolute;
    top: 260px;
    left: 700px;
}

#contact {
    position: absolute;
    top: 202px;
    left: 818px;
}
