@import "helpers/variables";
@import "mixins/mixins";
@import "mixins/resize";

.am-container {
    max-width: 650px;
}

.banner-box {
    position: relative;
}


/*================商品方塊===============*/
.brand-sale-block, .market-block {
    padding: 15px 2.5px;
}

.product-item {
    background-color: #fff;
    margin: 2.5px;
    padding: 5px;
    position: relative;
    cursor: pointer;
    min-height: 220px;
}

/*=======PCslider樣式=======*/
.am-slider-default .am-direction-nav a {
    top: 48%;
    @include size(50px,38px);

    &::before {
        @include font_style(36px,normal,#fff);
    }
}

.product_item_text2 {
    line-height: 20px !important;
    height: 90px !important;
}

/*================商品腰帶lg===============*/
.slider-lg {
    li {
        width: 250px;
        margin-right: 5px;
        float: left;
        display: block;
        border-right: 2px dotted #d9dad9;
        padding: 6px;
    }

    .product-slider-pic {
        img {
            width: 100% !important;
        }
    }
}

.am-slider-default .am-control-nav li a.am-active {
    background-color: #fff;
    cursor: default;
}
/*================商品腰帶===============*/
.slider-block {
    padding: 4px;
}
.product-slider-content {
    background: white;
    max-height: 250px;
    overflow: auto;
    -ms-overflow-style: none;

    img {
        max-width: 150px;
        position: relative;
    }

    li {
        position: relative;
        padding: 0 10px;
        margin: 10px 0;
        border-right: 1px solid #eaeaea;
    }
}

.product-slider-text {
    right:0;
    left:0;
    margin:0 auto;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.125);
    font-size:12px;
    color:$dark-gray;
}


/*================4Brand Sale Block===============*/
.brand-sale-item {
    padding: 2.5px;
}

/*================footer===============*/
.activity-method {
    background-color: #F5BBB0;

    .activity-method-p {
        padding: 20px 20px;
        word-break: break-word;
        line-height: 1.5;
        @include font_style(12px,bold,#DC2F48);
    }
}

@media screen and (min-width: 650px) {
    .am-container {
        max-width: 1920px;
    }

    /*================4Brand Sale Block===============*/
    h1 {
        font-size: 35px !important;
        margin: 15px auto !important;
    }


    .product-slider-content {
        max-height: 300px;

        img {
            max-width: 200px;
        }
    }

    .product-block {
        padding: 0 7px 10px 7px;
    }

    .product-item {
        margin: 10px;
        padding: 5px;
        position: relative;
    }

    
    .product-slider-text {
        max-width: 200px;
    }

    .slider-block {
        padding: 8px;
    }

    .product-slider-text-lg {
        background: white;
        padding: 0 7px;
        height: 100px;
        overflow: hidden;

        span {
            margin: 0;
            display: inline-block;
            bottom: 0;
            font-weight: 700;
            font-size: 15px;
            color: #999;
            float: right;
            padding-top: 3px;
        }

        h3 {
            margin: 0;
            height: 40px;
            overflow: hidden;
            font-weight: 700;
            line-height: 20px;
            font-size: 15px;
            color: #565656;
        }

        h4 {
            margin: 0;
            display: inline-block;
            color: #FB5450;
            font-size: 18px;
            white-space: nowrap;
        }

        p {
            margin: 0;
            display: inline-block;
            font-size: 14px;
            color: #999999;
            font-weight: 800;
        }
    }

    .brand-sale-block, .market-block {
        padding: 30px 2.5px;
    }
    /*================footer===============*/
    .activity-method {
        .activity-method-p {
            padding: 30px 20px;
            font-size: 16px;
            line-height: 2;
        }
    }
}


.hvr-float {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:active, .hvr-float:focus, .hvr-float:hover {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px)
}


.brand_logo_text {
    margin-top: 50px;
    font-size: 18px;
    line-height: 11px;
    color: black;
    text-align: center;
    margin-bottom: 5px;
    @media screen and (max-width: 760px) {
        font-size: 13px;
    }
}
/*.brand_logo_slogan {
    margin: 0 5px;
    height: 40px;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    color: #979697;
    text-align: center;
    margin-top: 10px;
}*/
.big_brand_logo {
    display: inline;
    position: absolute;
    z-index: 2;
    width: 66%;
    top: 60%;
    left: 0;
    right: 0;

    img {
        width: 65px;
        height: 65px;
        outline: 4px solid white;
        box-shadow: 2px 2px 10px rgba(0,0,0,.3);

        @media screen and (max-width: 320px) {
            width: 55px;
            height: 55px;
        }
    }

    @media screen and (max-width: 760px) {
        top: 53%;
    }
}

    @media screen and (max-width: 320px) {

        .product-block, .product-item {
            padding: 0 3px;
        }

        .product_item_pic {
            padding: 2px;
        }

        .product-item {
            margin: 2px;
        }

        .product_item_dis {
            padding-top: 1px !important;
        }

        .product_item_text {
            padding: 0 2px 0px 2px !important;

            h4 {
                font-size: 13px !important;
            }

            p {
                font-size: 12px !important;
            }
        }
    }