.btn {
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
    /*display: inline-block;*/
    width: 120px;
    height: 40px;
    color: #666;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 2%;
    font-size: 100%;
    border-radius: 2%;
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom-width: 5%;
    transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
    box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.15) inset;
}

    .btn:hover {
        background-color: #fff;
        color: #00d3e0;
        border-color: rgba(0,0,0,0.1);
    }

    .btn:active {
        background-color: #CCC;
        border-color: rgba(0,0,0,0.9);
    }

    /* blue button */

    .btn.btn-blue {
        background-color: #699DB6;
        border-color: rgba(0,0,0,0.3);
        text-shadow: 0 1px 0 rgba(0,0,0,0.5);
        color: #FFF;
    }

        .btn.btn-blue:hover {
            background-color: #4F87A2;
            border-color: rgba(0,0,0,0.5);
        }

        .btn.btn-blue:active {
            background-color: #3C677B;
            border-color: rgba(0,0,0,0.9);
        }

    /* red button */

    .btn.btn-red {
        float: left;
        display: block;
        background-color: #FF888E;
        border-color: rgba(0,0,0,0.1);
        text-shadow: 0 1px 0 rgba(0,0,0,0.3);
        color: #FFF;
    }

        .btn.btn-red:hover {
            background-color: #fc6f76;
            border-color: rgba(0,0,0,0.1);
        }

        .btn.btn-red:active {
            background-color: #ff626a;
            border-color: rgba(0,0,0,0.5);
        }

    /* Orange button */

    .btn.btn-orange {
        background-color: #FE984F;
        border-color: rgba(0,0,0,0.1);
        text-shadow: 0 1px 0 rgba(0,0,0,0.3);
        color: #FFF;
    }

        .btn.btn-orange:hover {
            background-color: #FE7D21;
            border-color: rgba(0,0,0,0.1);
        }

        .btn.btn-orange:active {
            background-color: #FF9951;
            border-color: rgba(0,0,0,0.5);
        }

    /* pink button */

    .btn.btn-pink {
        background-color: #FF888E;
        border-color: rgba(0,0,0,0.1);
        text-shadow: 0 1px 0 rgba(0,0,0,0.3);
        color: #FFF;
    }

        .btn.btn-pink:hover {
            background-color: #FE565E;
            border-color: rgba(0,0,0,0.1);
        }

        .btn.btn-pink:active {
            background-color: #FE565E;
            border-color: rgba(0,0,0,0.5);
        }


.btn-font-size-big {
    font-size: 18px;
}

.btn-font-size-mid {
    font-size: 14px;
}
