
.fullBanner{
	padding:0;
    text-align: center;
}
.fullBanner img{
	max-width: 100%;
	margin:0;
	padding:0;
}
.redBanner{
	position: relative;
	padding:0;
	margin:0;
}
.redBanner img{
	max-width: 100%;
	margin:0;
	padding:0;
}
.bonus{
	position: absolute;
	top:0;
	left:30%;
	margin:0 auto;
	padding:0;

}
.bonus img{
	float: left;
	margin:0;
	padding:0;
}

.time{
	position: absolute;
	top:2px;
	left:40%;
	padding:0;
}
.time-m{
	position: absolute;
	top:11.2%;
	left:35%;
	padding:0;
	max-width: 100%;
}
.timebox{
	display: block;
    padding: 3px 0px 3px 10px;
    max-width: 650px;
    height:auto;
    background: #000;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.timeBox b {
    float: left;
    width: 10%;
    height: 5%;
    margin: 0px 2px;
    background: #e39132;
    font: bold 14px/20px Helvetica;
    color: #FFFFFF;
    text-align: center;
    border-radius: 2px;
}
.timeBox i {
    float: left;
    font: bold 14px/20px Helvetica;
    margin: 0px 2px;
    color: #fff;
  }

.mx3BannerL{
 float: left;
 padding:10px 0 10px 0; /*1213 Leo更新*/
 margin: 0;
 
}
.mx3BannerL img{
	max-width: 100%;

}
.mx3BannerR{
 float: left;
 padding:10px 0 10px 20px;      /*1213 Leo更新*/
 margin: 0;

}
.mx3BannerR img{
	max-width: 100%;
}



.advBannerL{
 float: left;
 padding:10px 10px 10px 0;
 margin: 0;
 
}
.advBannerL img{
	max-width: 100%;
}
.advBannerR{
 float: left;
 padding:10px 0 10px 10px;
 margin: 0;

}
.advBannerR img{
	max-width: 100%;
}



.mainBanner{
 float: left;
 padding:0;
 margin: 0;

}
.mainBanner img{
	max-width: 100%;
}


.pageBox{
	padding-bottom: 10px;
	background-color: #e8e7e8;
	max-width: 100%;
}


/*1206 Leo更新*/
.pageBoxGreen {
    padding-bottom: 10px;
    background-color: #4aa940;
    max-width: 100%;
}

.pageBoxGrey {
    padding-bottom: 10px;
    background-color: #767892;
    max-width: 100%;
}

.pageBoxRed {
    padding-bottom: 10px;
    background-color: #dc4d3f;
    max-width: 100%;
}
/*1206 Leo更新*/

