img {
  width: 100%; }

.am-container {
  max-width: 650px; }

.product-item-box li {
  width: calc(50% - 10px);
  margin: 0px 5px 5px 5px;
  background-color: #fff;
  position: relative; }
  .product-item-box li .product-img {
    position: relative;
    overflow: hidden; }
    .product-item-box li .product-img .already-sold-p {
      font-size: 11px;
      font-weight: 900;
      color: #fff;
      position: absolute;
      bottom: 0;
      background-color: #ff5e83;
      padding: 0 11px;
      border-top-right-radius: 5px;
      letter-spacing: 1px; }

.product-item-box .product-text-box {
  overflow: hidden; }
  .product-item-box .product-text-box .product-item-block {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0;
    padding: 0 5px; }
    .product-item-box .product-text-box .product-item-block .product-name {
      font-size: 14px;
      font-weight: 600;
      color: black;
      margin: 0; }

.product-price {
  font-size: 16px;
  font-weight: 800;
  color: #FF0036; }

.sele-off {
  font-size: 12px;
  font-weight: 800;
  color: #FF0036;
  padding: 5px 4px; }

.original-price {
  font-size: 12px;
  font-weight: 700;
  color: #707070;
  text-decoration: line-through;
  margin: -4px 0 3px 0; }

.product-coupon {
  position: relative;
  background: #FFEDED;
  border: 1px solid #FF0036;
  border-style: dotted;
  border-radius: 3px;
  line-height: 40px;
  vertical-align: middle;
  width: 55%;
  font-size: 12px;
  font-weight: 600;
  color: #FF0036; }
  .product-coupon .coupon {
    width: 30px;
    border-right: 1px dotted #FF0036;
    height: 40px;
    display: block;
    vertical-align: middle; }
    .product-coupon .coupon span {
      position: relative;
      display: inline-block;
      width: 28px;
      line-height: 10px;
      word-wrap: break-word;
      padding-top: 9px; }
  .product-coupon .discount {
    width: calc(100% - 30px);
    margin: 0px;
    display: block;
    line-height: 40px; }

.product-buy-btn {
  background: #FF0036;
  line-height: 40px;
  border-radius: 3px; }
  .product-buy-btn a {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    vertical-align: middle; }
