@charset "UTF-8";
/*大片背景*/
/*分隔線*/
/*draktext*/
/*首頁主要粉紅色*/
/*首頁上方nav被hover顏色*/
/*header語言＆購物車text顏色*/
/*header語言＆購物車hover顏色*/
/*內文說明文字*/
/*側邊箭頭顏色*/
/*側邊導覽列*/
/*台灣代購 商品細項 標題顏色*/
/*猜你喜歡按鈕*/
/*猜你喜歡按鈕 hover*/
/*名人推薦標籤*/
/*名人推薦標籤*/
/*首頁猜你喜歡綠色新品tag*/
/*＝＝＝商品＝＝＝*/
/*新品tag*/
/*免運tag*/
/*強調文字的粉色*/
/*解說文字藍*/
/*賣光拉*/
/*售價橘*/
/*售價背景*/
/*喜歡按鈕*/
/*加入購物車按鈕*/
/*立刻買*/
/*＝＝＝購物車＝＝＝*/
/*購物車步驟灰*/
/*login*/
/*products breadcrumb（商品頁麵包屑）*/
.product-breadcrumb-section {
  text-align: center;
}
.product-breadcrumb-section .product-breadcrumb-wrapper {
  display: inline-block;
  height: 30px;
  padding: 0;
  margin: 10px auto;
  color: #595959;
}
.product-breadcrumb-section .product-breadcrumb-wrapper ul {
  padding: 0 0 0 30px;
  margin: 0;
}
.product-breadcrumb-section .product-breadcrumb-wrapper ul li.product-breadcrumb {
  line-height: 30px;
  padding: 0 30px 0 0;
  position: relative;
}
.product-breadcrumb-section .product-breadcrumb-wrapper ul li.product-breadcrumb:after {
  content: '>';
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 10px;
}
.product-breadcrumb-section .product-breadcrumb-wrapper ul li.product-breadcrumb:nth-child(3):after {
  display: none;
}
.product-breadcrumb-section .product-breadcrumb-wrapper ul li.product-breadcrumb a {
  color: black;
}
.product-breadcrumb-section .product-breadcrumb-wrapper ul li.product-breadcrumb a:hover {
  color: #d9dad9;
}

/* products-story (產品說明）*/
.products-story {
  height: 100px;
  background: white;
  padding: 0;
}
.products-story p {
  display: inline-block;
  padding: 20px;
  height: calc(100px - 20px);
  overflow: hidden;
}

/*products-items (產品項目)*/
.items-wrapper {
  background: white;
  padding: 20px;
}
.items-wrapper .items-content {
  background: white;
  padding: 0 0 0 0px;
}

/*========限時團購的商品 products in group-buying========*/
ul.product-style-2 {
  height: 100%;
  padding: 0;
  margin: 0;
}
ul.product-style-2 li {
  height: 360px;
  width: calc(25% - 15px);
  border: 3px solid #f0f0f0;
  padding: 10px;
  margin: 0px 20px 20px 0;
  font-weight: normal;
  text-align: center;
}
ul.product-style-2 li:nth-child(4n) {
  margin-right: 0;
}
ul.product-style-2 li:hover {
  border: 3px solid #FB5450;
}
ul.product-style-2 li span#tag-chinese {
  display: block;
  background: white;
  position: absolute;
  top: 10px;
  right: 10px;
}
ul.product-style-2 li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
ul.product-style-2 li img {
  width: 100%;
  height: auto;
}
ul.product-style-2 li .items-content-text {
  padding: 0;
  text-align: left;
  margin-top: 20px;
}
ul.product-style-2 li .items-content-text h4 {
  font-size: 13px;
  font-weight: normal;
  height: 40px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin: 5px 0;
  color: #595959;
}
ul.product-style-2 li .items-content-text .price-discount {
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
ul.product-style-2 li .items-content-text .price-discount h5 {
  height: 25px;
  font-size: 17px;
  color: #FB5450;
  padding: 0;
  margin: 0;
}
ul.product-style-2 li .items-content-text .price-discount h5 span.price-end {
  font-size: 12px;
  color: #808080;
  font-weight: normal;
  padding-left: 5px;
}
ul.product-style-2 li .items-content-text .price-discount h5 p {
  padding: 0;
  margin: 0;
  color: #FB5450;
}
ul.product-style-2 li .items-content-text .price-discount p.discount-range {
  display: inline-block;
  color: #595959;
  margin: 0 0 0 20px;
  line-height: 28px;
  font-size: 12px;
  float: right;
}
ul.product-style-2 li .items-content-text .price-discount p.discount-range span {
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  color: #FB5450;
}
