

.demo {
    width: 100%;
    height: 220px;
    margin: 20px 15px;
    padding: 0;
    clear: both;
    position: relative;
}

.bx_wrap {
    padding: 0 20px;
    margin-top: 10px;
}

    .bx_wrap ul img {
        width: 150px;
        height: 150px;
        border: 1px solid #ddd;
    }

    .bx_wrap ul .product-name {
        width: 150px;
        font-size: 13px;
        color: #767676;
        line-height: 22px;
        margin: 10px 0;
        height: 40px;
        overflow: hidden;
        text-align: left;
    }

    .bx_wrap ul .product-price {
        width: 150px;
        font-size: 16px;
        color: #f10000;
        font-weight: bold;
        text-align: left;
        padding-left: 10px;
    }

    .bx_wrap ul li {
        margin: 0;
        text-align: center;
    }

        .bx_wrap ul li a:hover {
            text-decoration: none;
            color: #f30;
        }

    .bx_wrap a.prev {
        width: 36px;
        height: 59px;
        padding: 0;
        line-height: 24px;
        outline-style: none;
        outline-width: 0;
        position: absolute;
        top: 65px;
        left: 0;
        text-indent: -999em;
        background: url(../../images/new/prev_btn.png) no-repeat;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
    }

    .bx_wrap a.next {
        width: 36px;
        height: 59px;
        line-height: 24px;
        right: 30px;
        position: absolute;
        top: 65px;
        text-indent: -999em;
        background: url(../../images/new/next_btn.png) no-repeat;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
    }
