@charset "UTF-8";
/*大片背景*/
/*分隔線*/
/*draktext*/
/*首頁主要粉紅色*/
/*首頁上方nav被hover顏色*/
/*header語言＆購物車text顏色*/
/*header語言＆購物車hover顏色*/
/*內文說明文字*/
/*側邊箭頭顏色*/
/*側邊導覽列*/
/*台灣代購 商品細項 標題顏色*/
/*猜你喜歡按鈕*/
/*猜你喜歡按鈕 hover*/
/*名人推薦標籤*/
/*名人推薦標籤*/
/*首頁猜你喜歡綠色新品tag*/
/*＝＝＝商品＝＝＝*/
/*新品tag*/
/*免運tag*/
/*強調文字的粉色*/
/*解說文字藍*/
/*賣光拉*/
/*售價橘*/
/*售價背景*/
/*喜歡按鈕*/
/*加入購物車按鈕*/
/*立刻買*/
/*＝＝＝購物車＝＝＝*/
/*購物車步驟灰*/
/*login*/
/*qa下方大外層*/
.qa-wrapper {
  display: table;
  padding: 20px 0;
  background: white;
  min-height: 550px;
}

.qa-nav {
  display: table-cell;
  padding: 0 30px 0 30px;
  width: 22%;
  min-height: 530px;
}

.q-navtitle {
  font-size: 19px;
  line-height: 60px;
  font-weight: bold;
  color:#2d2d2d;
}

.qa-content {
  display: table-cell;
  padding: 0 20px 15px 50px;
  width: 78%;
  border-left: 1px solid #d9dad9;
}

.qa-content-text {
  display: table-cell;
  padding: 0 50px 15px 50px;
  width: 78%;
  border-left: 1px solid #d9dad9;
}

.qa-height {
  margin: 0;
  height: 40px;
}

.qa-maintitle {
  font-size: 25px;
  line-height: 55px;
  color: #2d2d2d;
  font-weight: bold;
}

/*qa首頁 index*/
.qa-index ul {
  margin: 20px 0 0 0;
  padding: 0;
}
.qa-index li {
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 1px dotted #e1e1e1;
  width:100%;
  height:50px;
  margin-top: 11px;	
}
.qa-index a {
  color: #595959;
 	
}
.qa-index a:hover {
  color: #FB5450;
}
.qa-index i {
  margin: 0 5px 0 0;
}

/*qa panel style 側邊折疊選單樣式*/
.qa-nav-panel {
  /*padding-left:30px;*/
  margin-top: 30px;
}
.qa-nav-panel .am-panel-title {
  font-size: 15px;
  font-weight: 400;
}
.qa-nav-panel .am-panel-bd {
  border: none !important;
}
.qa-nav-panel .am-panel {
  margin: 20px 0;
}

.qa-list ul {
  padding: 0 0 0 20px;
  margin: 15px 0 0 0;
}
.qa-list li {
  font-size: 14px;
  padding: 7px 0;
}
.qa-list li.active a {
  color: #FB5450;
}
.qa-list li a {
  color: #595959;
}
.qa-list li a:hover {
  color: #FB5450;
}

.qa-main {
  margin: 30px 0 20px 0;
	
}
.qa-main img {
  width: 100%;
}

.qa-step {
  margin: 10px 0 15px 0;
  color: #2d2d2d;
  font-size: 18px;
  font-weight: bold;
}

.qa-step-eng {
  margin: 30px 0 15px 0;
  color: #2d2d2d;
  font-size: 17px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.qa-step-title {
  margin: 0 0 0 5px;
  display: inline;
  color: #595959;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;	
}

.qa-step-title-eng {
  margin: 0 0 0 5px;
  display: inline;
  color: #595959;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
}


.qa-text {
  margin: 10px 0;
  font-size: 14px;
  color: #808080;
}

.qa-text-eng {
  margin: 10px 0;
  font-size: 14px;
  color: #808080;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  line-height: 24px;
  text-align: justify;
  text-indent:4em;
}

.qa-text-index-title {
  font-size: 15px;
  color: #595959;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  line-height: 24px;
  text-align: justify;
  
}
  

.qa-subtitle {
  margin: 0;
  font-size: 25px;
  line-height: 55px;
  color: #595959;
  font-weight: bold;
}

.qa-subtitle-eng {
  margin: 50px 0 0 0;
  font-size: 25px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #595959;
  font-weight: bold;
}

.qa-term td {
  vertical-align: top;
  font-weight: normal;
  font-size: .9em;
  text-align: justify;
  color: #595959;
  padding: 5px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.qa-contact {
  border-top: 1px solid #d9dad9;
 	
}
.qa-contact p {
  margin: 10px 0;
  line-height: 23px;
  font-size: 16px	
}

.qa-contact-title {
  margin-top: 23px;
  font-size: 25px;
  color: #2d2d2d;
}

.qa-time {
  color: #808080;
}

.qa-time-eng {
  color: #808080;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 	
}

.qa-taskicon {
	display:block;
	width:14px;
	margin-right: 10px;
	float: left;
}

.qa-answer-img {
	border:2px #eee solid;
	margin-bottom: 40px;
	max-width:800px;
}

.qa-answer-img2 {
	border:2px #eee solid;
	margin-bottom: 40px;
	max-width:500px;
	text-align: center;
}

.content_b{
	margin-bottom: 30px;
	height: 1px;
}

#tablepink {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
	text-align: center;
}

#tablepink td, #tablepink th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tablepink tr:nth-child(even){background-color: #f2f2f2;}

#tablepink tr:hover {background-color: #ddd;}

#tablepink th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #808080;
    color: white;
}

