/* === cart premiums (購物車頁面-滿額贈品) === */
.cart-premiums-title {
    padding: 10px 18px;
}

.cart-premiums-title img {
    vertical-align: bottom;
    margin-right: 15px;
}

#accordion .cart-premiums-item {
    margin-top: 0;
}

.cart-premiums-item {
    border-top:0;
    border-bottom: 1px solid #E3EAE9;
    border-left: 0;
    border-right: 0;
}

.cart-premiums-item ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #E3EAE9;
}

.cart-premiums-item ul li {
    display: flex;
    align-items: center;
    padding: 15px 18px;
}

.cart-premiums-item ul li span {
    display: inline-block;
    margin: 0 5px;
}

.cart-premiums-item ul li strong {
    display: inline-block;
    color: #E65E5E;
    margin-bottom: 5px;
}

.cart-premiums-activity {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    background-color: rgba(187, 188, 188, 0.1);

    .borderround-tag {
        margin-left: 0;
    }
}

.cart-premiums-activity aside {
    padding: 0 18px;
    font-size: 14px;
}


.premiums-date {
    color: #E65E5E;
    margin-right:5px;
}

.premiums-name {
    color: #333;
}

.cart-premiums-note {
    border-left: 1px solid #BBBCBC;
    padding: 0 10px;
    margin-left: 10px;
    font-size: 12px;
}

.cart-premiums-more {
    color: #689B94;
}

.cart-premiums-unqualified {
    opacity: 0.5;
}

.cart-premiums-pic img {
    width: 80px;
}


/* === product premiums (商品介紹頁面-滿額贈品) === */
/*product premiums*/
.product-premiums {
    display: flex;
    padding-top: 10px;
}

/*.product-premiums-title {
    padding: 0;
    font-size: 1em;
    line-height: 35px;
    color: #595959;
}*/

.product-premiums-item {
    padding: 0;
    line-height: 35px;
    font-size: 1em;
    color: #595959;
    cursor: pointer;
}

.product-premiums-tag {
    display: inline-block;
    margin: 0 5px;
    padding: 2px 13px;
    font-size: 10px;
    line-height: normal;
    color: #689B94;
    border: 1px solid #689B94;
    border-radius: 10px;
}


.product-premiums-item p {
    display: inline-block;
}

/*product premiums popup*/
.am-popup.premiums-popup {
    height: auto;
}

.premiums-popup-title.am-popup-title {
    color: #595959;
}

.premiums-popup-note {
    padding: 5px 0;
    text-align: center;
    line-height: 25px;
    background-color: #F5F5F5;
}

.premiums-popup .am-popup-bd {
    background-color: #ffffff;
}

.premiums-popup .am-popup-bd ul {
    padding: 0;
}

.premiums-popup .am-btn-block {
    background-color: #EE5984;
    color: #ffffff;
}

.premiums-popup-item {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    padding: 15px 0;
    border-bottom: 1px solid #EFEFEF;
}

.premiums-popup-item:last-child {
    border-bottom: none;
}

.premiums-popup-item aside:nth-of-type(1) {
    text-align: center;
    flex: 1;
}

.premiums-popup-item aside:nth-of-type(2) {
    flex: 2;
}

.premiums-popup-pic {
    width: 120px;
    display: inline-block;
}

.premiums-popup-price {
    margin-bottom: 15px;
}

.premiums-popup-price span:nth-of-type(1) {
    color: #689B94;
}

.premiums-popup-price span:nth-of-type(2) {
    color: #EE5984;
}

.premiums-popup-text {
    line-height: 25px;
}


/* === product tag (商品介紹頁面-tag) === */
/*product tag*/
.product-tag-wrapper {
    background: white;
    display: block;
    padding: 10px 10px;
    margin-top: 10px;
}

.products-tag {
    font-size: 14px;
    font-weight: 600;
    color: #595959;
    display: inline-block;
    margin: 5px 20px 5px 0;
}

.products-tag img {
    width: 20px;
}

.products-tag p {
    margin: 0;
    line-height: 20px;
    display: inline-block;
    color: #f7588c;
}

.products-tag a i {
    margin-left: 5px;
    font-size: 12px;
    color: #d9dad9;
}
