@charset "UTF-8";
/*大片背景*/
/*分隔線*/
/*draktext*/
/*首頁主要粉紅色*/
/*首頁上方nav被hover顏色*/
/*header語言＆購物車text顏色*/
/*header語言＆購物車hover顏色*/
/*內文說明文字*/
/*側邊箭頭顏色*/
/*側邊導覽列*/
/*台灣代購 商品細項 標題顏色*/
/*猜你喜歡按鈕*/
/*猜你喜歡按鈕 hover*/
/*名人推薦標籤*/
/*名人推薦標籤*/
/*首頁猜你喜歡綠色新品tag*/
/*＝＝＝商品＝＝＝*/
/*新品tag*/
/*免運tag*/
/*強調文字的粉色*/
/*解說文字藍*/
/*賣光拉*/
/*售價橘*/
/*售價背景*/
/*喜歡按鈕*/
/*加入購物車按鈕*/
/*立刻買*/
/*＝＝＝購物車＝＝＝*/
/*購物車步驟灰*/
/*login*/
/* line 3, ../../sass/member.scss */
.member-wrapper {
  padding: 0;
  margin-bottom: 20px;
}

/* line 8, ../../sass/member.scss */
.member-sidemenu {
  width: 22%;
}
/* line 10, ../../sass/member.scss */
.member-sidemenu .memeber-sidetab {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0 10px;
  background: white;
}
/* line 15, ../../sass/member.scss */
.member-sidemenu .memeber-sidetab li {
  height: 50px;
  line-height: 50px;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #d9dad9;
}
/* line 21, ../../sass/member.scss */
.member-sidemenu .memeber-sidetab li img {
  width: 30px;
  margin: 0 5px 4px 5px;
}
/* line 26, ../../sass/member.scss */
.member-sidemenu .memeber-sidetab a {
  color: #595959;
}
/* line 29, ../../sass/member.scss */
.member-sidemenu .memeber-sidetab a:hover li {
  color: #ff7c81;
}
/* line 34, ../../sass/member.scss */
.member-sidemenu .memeber-sidetab a:last-child li {
  border: 0;
}
/* line 40, ../../sass/member.scss */
.member-sidemenu .member-sidepic {
  width: 100%;
  margin: 0 0 10px 0;
  background: white;
}
/* line 44, ../../sass/member.scss */
.member-sidemenu .member-sidepic img {
  width: 100%;
  padding: 5px;
}

/*設定訂單tab樣式*/
/* line 53, ../../sass/member.scss */
.member-rightmenu {
  width: calc(78% - 20px);
  margin-left: 20px;
  background: #f0f0f0;
}
/* line 57, ../../sass/member.scss */
.member-rightmenu ul {
  height: 100%;
  border: 0;
}
/* line 60, ../../sass/member.scss */
.member-rightmenu ul li {
  width: 50%;
  height: 100%;
  text-align: center;
  background: white;
}
/* line 66, ../../sass/member.scss */
.member-rightmenu ul li.am-active {
  border-bottom: 3px solid #FB5450;
}
/* line 68, ../../sass/member.scss */
.member-rightmenu ul li.am-active a {
  border: none;
  color: #FB5450;
}
/* line 72, ../../sass/member.scss */
.member-rightmenu ul li.am-active a:focus {
  background: white;
  border: none;
  color: #FB5450;
}
/* line 77, ../../sass/member.scss */
.member-rightmenu ul li.am-active a:hover {
  border: none;
  color: #FB5450;
  background: white !important;
}
/* line 83, ../../sass/member.scss */
.member-rightmenu ul li a {
  line-height: 50px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  color: #595959;
  border: none;
}
/* line 91, ../../sass/member.scss */
.member-rightmenu ul li a:hover {
  border: none;
  color: #FB5450;
  background: white !important;
}
/* line 99, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd {
  /*margin-top: 20px;*/
  border: 0;
}
/* line 102, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-tab-panel {
  padding: 0;
}
/* line 104, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-tab-panel ul.invoice-ul {
  margin: 0;
  padding: 0;
}
/* line 107, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-tab-panel ul.invoice-ul li {
  width: 100%;
  padding: 20px;
  background: white;
  margin-bottom: 20px;
}
/* line 112, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-tab-panel ul.invoice-ul li:last-child {
  margin-bottom: 0;
}
/* line 115, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-tab-panel ul.invoice-ul li table {
  width: 100%;
}
/* line 119, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-tab-panel ul.invoice-ul li thead th {
  color: #595959;
}
/* line 121, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-tab-panel ul.invoice-ul li thead th p {
  display: inline-block;
  margin-right: 10px;
}
/* line 125, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-tab-panel ul.invoice-ul li thead th i {
  margin-right: 5px;
}
/* line 129, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-tab-panel ul.invoice-ul li thead .invoice-status {
  text-align: center;
  color: #FB5450;
  font-size: 18px;
}
/* line 133, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-tab-panel ul.invoice-ul li thead .invoice-status.complete {
  color: #808080;
}
/* line 139, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-tab-panel ul.invoice-ul li tbody tr {
  border-top: 1px solid #d9dad9;
  border-bottom: 1px solid #d9dad9;
}
/* line 144, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-tab-panel ul.invoice-ul li tbody td img {
  width: 100%;
  padding: 10px 10px 10px 0;
}
/* line 153, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-pagination {
  margin: 20px 0 0 0;
  background: white;
}
/* line 156, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-pagination li {
  width: 5%;
  height: initial;
}
/* line 159, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-pagination li a {
  background: white;
  line-height: 25px;
}
/* line 163, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-pagination li.am-active {
  border: 0;
}
/* line 165, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-pagination li.am-active a {
  background: #FB5450;
  color: white;
}
/* line 168, ../../sass/member.scss */
.member-rightmenu .am-tabs-bd .am-pagination li.am-active a:hover {
  background: #FB5450 !important;
}

/* line 179, ../../sass/member.scss */
.invoice-table #m-invoice-pic {
  width: 10%;
}
/* line 182, ../../sass/member.scss */
.invoice-table #m-invoice-text {
  width: 75%;
  text-align: left;
  color: #595959;
  position: relative;
  vertical-align: top;
  padding-top: 10px;
  overflow: hidden;
}
/* line 190, ../../sass/member.scss */
.invoice-table #m-invoice-text a {
  line-height: inherit;
}
/* line 193, ../../sass/member.scss */
.invoice-table #m-invoice-text h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  display: inline-block;
}
/* line 199, ../../sass/member.scss */
.invoice-table #m-invoice-text h5 {
  font-size: 12px;
  font-weight: normal;
  color: #808080;
  margin: 0;
  display: inline-block;
}
/* line 206, ../../sass/member.scss */
.invoice-table #m-invoice-text .m-write-review {
  border: 1px solid #95D7DA;
  color: #95D7DA;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
  padding: 1px 3px;
}
/* line 215, ../../sass/member.scss */
.invoice-table #m-invoice-qty {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  color: #808080;
}
/* line 222, ../../sass/member.scss */
.invoice-table #m-invoice-price {
  width: 15%;
  color: #595959;
  font-size: 14px;
  font-weight: bold;
  border-left: 1px solid #d9dad9;
}
/* line 229, ../../sass/member.scss */
.invoice-table #m-invoice-total {
  text-align: right;
  color: #595959;
  font-size: 15px;
  border: none;
}
/* line 234, ../../sass/member.scss */
.invoice-table #m-invoice-total p {
  color: #FB5450;
  font-size: 23px;
  font-weight: bold;
  display: inline-block;
  margin: 10px 0;
}
/* line 242, ../../sass/member.scss */
.invoice-table #m-invoice-btn {
  border: none;
  text-align: right;
}
/* line 245, ../../sass/member.scss */
.invoice-table #m-invoice-btn button {
  font-size: 12px;
  height: 40px;
  padding: 0 20px;
  border: 1px solid #ff0068;
  background: white;
  color: #ff0068;
}
/* line 252, ../../sass/member.scss */
.invoice-table #m-invoice-btn button:active {
  box-shadow: none;
}
/* line 255, ../../sass/member.scss */
.invoice-table #m-invoice-btn button:focus {
  outline: none;
}
/* line 258, ../../sass/member.scss */
.invoice-table #m-invoice-btn button:hover {
  background: rgba(255, 0, 95, 0.1);
}
/* line 261, ../../sass/member.scss */
.invoice-table #m-invoice-btn button img {
  width: 25px;
  padding: 0;
  margin-right: 5px;
}
/* line 267, ../../sass/member.scss */
.invoice-table #m-invoice-btn .m-atm-info {
  margin-top: 10px;
  color: #595959;
  display: block;
}
/* line 271, ../../sass/member.scss */
.invoice-table #m-invoice-btn .m-atm-info .m-bank-info {
  padding: 10px;
  border: 1px solid #d9dad9;
}
/* line 274, ../../sass/member.scss */
.invoice-table #m-invoice-btn .m-atm-info .m-bank-info:nth-child(1) {
  border-right: 0;
}
/* line 278, ../../sass/member.scss */
.invoice-table #m-invoice-btn .m-atm-info img {
  margin-top: 5px;
  padding: 0;
  width: 100px;
}
/* line 283, ../../sass/member.scss */
.invoice-table #m-invoice-btn .m-atm-info p {
  margin: 0;
  text-align: left;
}

/* line 292, ../../sass/member.scss */
.guess-you-like-wrapper {
  padding: 0px 0 15px 0;
  margin-bottom: 20px;
  border-top: 2px dotted #d9dad9;
  /*guess what you like title (猜你喜歡標題)*/
  /*guess what you like content (猜你喜歡內容Ｘ10)*/
}
/* line 297, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-title {
  height: 70px;
  background: #eee;
  line-height: 60px;
  text-align: center;
  padding: 10px 0 0 0;
}
/* line 303, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-title i {
  color: #f7588c;
  padding-right: 5px;
}
/* line 307, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-title h3 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  position: relative;
}
/* line 314, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-title h3:before {
  content: '';
  width: 40px;
  height: 2px;
  background: #d9dad9;
  position: absolute;
  top: 50%;
  left: -60%;
}
/* line 323, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-title h3:after {
  content: '';
  width: 40px;
  height: 2px;
  background: #d9dad9;
  position: absolute;
  top: 50%;
  right: -60%;
}
/* line 335, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content {
  height: 310px;
  background: white;
}
/* line 338, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content .am-slider {
  height: calc(310px - 30px);
  box-shadow: none;
}
/* line 341, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content .am-slider .am-viewport {
  height: 100%;
}
/* line 343, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content .am-slider .am-viewport .more-products-slider-page {
  height: 100%;
}
/* line 345, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content .am-slider .am-viewport .more-products-slider-page li {
  width: calc(20% - 2px);
  height: calc(100% - 2px);
  padding: 7.5px 15px;
}
/* line 349, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content .am-slider .am-viewport .more-products-slider-page li:hover {
  border: 1px solid #ff7c81;
  padding: 6.5px 14px;
}
/* line 353, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content .am-slider .am-viewport .more-products-slider-page li .more-products-slider-pic {
  padding: 0;
}
/* line 356, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content .am-slider .am-viewport .more-products-slider-page li .more-products-slider-text {
  padding: 0;
}
/* line 358, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content .am-slider .am-viewport .more-products-slider-page li .more-products-slider-text h4 {
  font-size: 13px;
  font-weight: normal;
  height: 40px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin: 5px 0;
  color: #595959;
}
/* line 368, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content .am-slider .am-viewport .more-products-slider-page li .more-products-slider-text .price-discount {
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
/* line 373, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content .am-slider .am-viewport .more-products-slider-page li .more-products-slider-text .price-discount h5 {
  height: 25px;
  font-size: 17px;
  color: #FB5450;
  padding: 0;
  margin: 0;
}
/* line 379, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content .am-slider .am-viewport .more-products-slider-page li .more-products-slider-text .price-discount h5 span.price-end {
  font-size: 12px;
  color: #808080;
  font-weight: normal;
  padding-left: 5px;
}
/* line 385, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content .am-slider .am-viewport .more-products-slider-page li .more-products-slider-text .price-discount h5 p {
  padding: 0;
  margin: 0;
  color: #FB5450;
}
/* line 391, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content .am-slider .am-viewport .more-products-slider-page li .more-products-slider-text .price-discount p.discount-range {
  display: inline-block;
  color: #595959;
  margin: 0 0 0 15px;
  line-height: 28px;
  font-size: 12px;
}
/* line 397, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content .am-slider .am-viewport .more-products-slider-page li .more-products-slider-text .price-discount p.discount-range span {
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  color: #FB5450;
}
/* line 404, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content .am-slider .am-viewport .more-products-slider-page li .more-products-slider-text .price-discount span#tag-chinese {
  display: block;
  position: absolute;
  right: 0;
  bottom: 8px;
}
/* line 416, ../../sass/member.scss */
.guess-you-like-wrapper .guess-you-like-content ul {
  height: 100%;
  margin: 0;
  padding: 0;
}
