.member-rules {
    display: block;
    width: calc(78% - 20px);
    margin-left: 20px;
    background-color: #fff;
    padding: 60px 120px 100px 120px;
}

.member-rules-title {
    padding-left: 18px;
    font-size: 18px;
    font-weight: 800;
    color: #707070;
}

.vip-card {
    width: 120px;
    height: auto;
    border-radius: 0;
}

.vip-card img {
    width: 100%;
}

.member-progress {
    position: relative;
    overflow: hidden;
}

.member-progress img {
    z-index: 3;
    display: inline;
    width: 100%;
    position: relative;
}

.member-progress .gray-bar {
    background: #e1e1e1;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    border: 1px solid #fff;
}

.member-progress .pink-bar {
    background: #ee5984;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    border: 1px solid #fff;
}

.progres-percent-p {
    font-size: 13px;
    font-weight: 500;
    color: #9b9a9a;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 3px;
}

.card-level-p {
    font-size: 13px;
    font-weight: 700;
    color: #707070;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.member-Info-text {
    line-height: 30px;
    font-size: 17px;
    font-weight: 800;
    color: #707070;
    display: inline-block;
}

.member-Info-text .grand-total-p {
    font-size: 17px;
    font-weight: 800;
    color: #ee5984;
}

.grand-total-now {
    font-size: 14px;
    font-weight: 700;
    color: #9b9a9a;
}

.grand-total-now .grand-total-money {
    font-size: 17px;
    font-weight: 800;
    color: #707070;
}

.card-level-title {
    font-size: 16px;
    font-weight: 700;
    color: #707070;
}

.table-title {
    background: #f0f0f0;
}

td {
    font-size: 14px;
    font-weight: 700;
    color: #707070;
    height: 60px;
    vertical-align: middle !important;
}

.card-question-title {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #ee5984;
    letter-spacing: 2px;
    vertical-align: middle;
}

.card-question-title .question-mark {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 18px;
    height: 18px;
    border-radius: 0;
}

.card-question-title .question-mark img {
    width: 16px;
}

.vip-info-p {
    font-size: 14px;
    font-weight: 700;
    color: #9b9a9a;
    padding-left: 0;
    letter-spacing: 1px;
    line-height: 20px;
}

.vip-info-p a {
    font-size: 14px;
    font-weight: 700;
    color: #9b9a9a;
    border-bottom: .5px solid #9b9a9a;
}

.qr-code-title {
    font-size: 18px;
    font-weight: 800;
    color: #707070;
}

.qr-code-news {
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 700;
    color: #707070;
    line-height: 30px;
}

.qr-code-news a {
    font-size: 16px;
    font-weight: 300;
    color: #707070;
    border-bottom: .5px solid #707070;
}

.qr-code-news .rm-ten {
    font-size: 16px;
    font-weight: 700;
    color: #ee5984;
}

.qr-code-news .qrcode-news-ps {
    font-size: 14px;
    font-weight: 700;
    color: #707070;
}

.code-btn {
    background: #e1e1e1;
    padding: 8px;
    line-height: 25px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 900;
    color: #ff0068;
    letter-spacing: 3px;
    margin-bottom: 10px;

    &:hover,&:focus,&:active {
        outline: none !important;
        color: #ff0068;
    }
}

.copy-p {
    font-size: 16px;
    font-weight: 700;
    color: #707070;
    padding: 30px 0 0 120px;
}

.to-account-btn {
    border: 1px solid #ee5984;
    background: #ee5984;
    border-radius: 3px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
}

.card-notice {
    p {
        background: #f1f1f1;
        color: #000;
    }

    b {
        color: #000;
    }
}

.text-primary {
    color: #EE5984;
}
.text-black {
    color: #000;
}

.progress-contain {
    display: flex;
    align-items: center;
}