@charset "utf-8";
/* CSS Document */

/*-----------------------------新式menu 開始-----------------------------*/
#navMenu {
    /*margin-left:auto;
	margin-right:auto;*/
    list-style: none;
    font-family: arial;
    text-align: center;
    line-height: 16px;
    /*width: 100%;*/
    width: 550px;
    /*height:100px;*/
    background: url(bg_menu.jpg) no-repeat;
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
}

    #navMenu li {
        float: left;
        background: url(li_menu_intervel_bg.gif) no-repeat 0px 30px; /* default background image	*/
        width: 110px; /* width and height of the menu item */
        height: 75px;
        position: relative; /* must set it as relative, because .hover class top and left with absolute position will be positioned according to li.	*/
        padding: 0px 0px;
    }

        #navMenu li a {
            z-index: 20; /* z-index must be higher than .hover class */
            display: block; /* display as block and set the height according to the height of the menu to make the whole LI clickable	*/
            position: relative;
            color: #737373;
            text-transform: uppercase;
            text-decoration: none;
            /*		text-shadow:1px 1px 1px #AC5E04, 2px 2px 5px #7F4401;*/
            font-weight: bold;
            font-family: 微軟正黑體;
            padding-top: 40px;
            letter-spacing: 2px;
        }

        #navMenu li .hover {
            background: url(bg_menu_hover.png) no-repeat center top; /* mouseover image	*/
            position: absolute; /* must be postion absolute 	*/
            width: 110px; /*	width, height, left and top to fill the whole LI item	*/
            height: 100px;
            left: 0;
            top: 0;
            z-index: 0; /* display under the Anchor tag	*/
            display: none; /* hide it by default	*/
            color: #FFF;
        }

        #navMenu li.selected {
            background: url(bg_menu_hover.png) no-repeat center top; /* selected image	*/
            color: #FFF;
            /*height: 80px;*/
        }

.memu00 {
    background: url(li_icon_0.png) no-repeat 35px 4px;
}

.memu01 {
    background: url(li_icon_1.png) no-repeat 35px 4px;
}

.memu02 {
    background: url(li_icon_2.png) no-repeat 35px 4px;
}

.memu03 {
    background: url(li_icon_3.png) no-repeat 35px 4px;
}

.memu04 {
    background: url(li_icon_4.png) no-repeat 35px 4px;
}

.memu05 {
    background: url(li_icon_5.png) no-repeat 35px 4px;
}

.memu06 {
    background: url(li_icon_6.png) no-repeat 35px 4px;
}

#navMenu li span {
    font-size: 8px;
    color: #b8b8b8;
    display: block;
    -webkit-text-size-adjust: none;
    letter-spacing: 0px;
}
/*-----------------------------新式menu 結束-----------------------------*/




/* 特定在第一層 > 第二層之後下拉部分之樣式 */
ul#navMenu li ul {
    display: none;
    float: left;
    position: absolute;
    left: -32px;
    margin: 0;
    z-index: 50;
    list-style-type: none;
    cursor: pointer;
}
/* 當第一層選單被觸發時，指定第二層顯示 */
ul#navMenu li:hover > ul {
    display: block;
}
/* 特定在第二層或之後下拉部分 li 之樣式 */
ul#navMenu ul li {
    width: 110px; /* width and height of the menu item */
    height: 50px;
}
    /* 特定在第二層或之後下拉部分 li （最後一項不要底線）之樣式 */
    ul#navMenu ul li:last-child {
        border-bottom: none;
    }

    ul#navMenu ul li a {
        z-index: 100; /* z-index must be higher than .hover class */
        display: block; /* display as block and set the height according to the height of the menu to make the whole LI clickable	*/
        position: relative;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        /*		text-shadow:1px 1px 1px #AC5E04, 2px 2px 5px #7F4401;*/
        font-weight: bold;
        font-family: 微軟正黑體;
        letter-spacing: 2px;
        background-color: #ff888e;
        height: 50px;
        padding-top: 20px;
        padding-left: 5px;
    }

    ul#navMenu ul li:last-child {
        border-bottom: none;
    }

    ul#navMenu ul li .hover {
        background: url(bg_menu2_hover.png) no-repeat center top; /* mouseover image	*/
        position: absolute; /* must be postion absolute 	*/
        width: 110px; /*	width, height, left and top to fill the whole LI item	*/
        height: 50px;
        left: 0;
        top: 0;
        z-index: 100; /* display under the Anchor tag	*/
        display: none; /* hide it by default	*/
        color: #FFF;
    }
